$expanding-progress-height: 10px;

#drag-over-notification-container {
    margin-top: -$expanding-progress-height;
}

.expanding-progress {
    background-color: $uncommitted;
    height: $expanding-progress-height;
    width: 20%;
    margin: 0 auto;
    transition: width 0.7s;

    &.expanding-progress--active {
        width: 100%;
    }

}
