.unit-details {
  &__title {
    margin-bottom: 10px;
    font-weight: 400;
  }

  &__section {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid $mid-grey;
  }

  &__property {
    @extend %stagger-fade-in;
    margin-top: 0;
    margin-bottom: .3em;
  }

  &__action-list,
  &__list {
    @extend %list-style;
  }

  &__list {
    margin-bottom: 10px;
  }

  &__action-list-item,
  &__list-item {
    font-size: 15px;
  }

  &__list-item {
    margin-bottom: 10px;
    font-size: 15px;
  }

  &__action-list-item {
    margin-bottom: 5px !important;
  }

  &__label {
    color: $warm-grey;
  }

  &__address-link {
    font-size: 15px;

    &:focus,
    &:active,
    &:hover {
      text-decoration: underline;
    }
  }

  .link {
    font-weight: 200;
  }
}
