.entity-content {
  clear: both;

  &__header {
    .hash-link {
      display: none;
    }

    &:hover .hash-link {
      display: inline-block;
    }
  }

  &__terms.row {
    padding-top: 0;

    @media screen and (min-width: 1030px) {
      padding-top: 0;
    }
  }

  &__description {
    margin-bottom: 2rem;

    h2 {
      font-size: 1.4375rem;
    }
  }

  &__metadata {
    margin-top: 40px;
    font-size: 16px;
    font-weight: 100;

    h4 {
      border-bottom: 1px solid $light-mid-grey;
      padding-bottom: 1em;
    }

    ul {
      margin: 1em 0;
    }

    li {
      list-style: none;
      margin-bottom: .8em;
    }
  }

  &__plan {
    box-sizing: border-box;
    border: 1px solid $light-mid-grey;
    border-radius: $border-radius;

    &-content {
      padding: 20px;
    }

    &-price,
    &-title {
      text-align: center;
    }

    &-price {
      @extend %list-style;
      margin: 20px 0;
      padding: 20px 0;
      border-width: 1px 0;
      border-style: solid;
      border-color: $light-mid-grey;

      &-amount {
        font-size: 2em;
        color: $ubuntu-orange;
      }

      &-quantity {
        font-size: 1.1em;
        color: $dark-warm-grey;
      }

      &-item:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__readme {
    margin-top: 2rem;

    h1,
    h2,
    h3 {
      margin: 1.6rem 0 1rem;
    }

    h4,
    h5,
    h6 {
      margin: .8rem 0;
    }

    h1 {
      font-size: 1.4375rem;
    }

    h2 {
      font-size: 1.4375rem;
    }

    h3 {
      font-size: 1.2rem;
    }

    h4 {
      font-size: 1.1rem;
    }

    h5,
    h6 {
      font-size: 1rem;
    }

    .readme-link {
      display: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:hover .readme-link {
        display: inline-block;
      }
    }

    a {
      @extend .link;
    }

    ul {
      list-style-position: outside;
      margin-left: 2rem;
      list-style-type: disc;

      ul {
        margin-left: 16px;
      }
    }

    li {
      line-height: 1.6;
      margin-bottom: 0;
    }

    pre {
      padding: .625rem 1rem;
      background-color: $color-light;
      border: 1px solid $color-mid-light;
      border-radius: 2px;
      margin: 1rem 0;
    }

    @for $index from 1 through 6 {
      h#{$index} {
        & + pre {
          margin-top: 0;
        }
      }
    }

    code {
      margin-bottom: 0;
      font-size: 1.05rem;
    }

    blockquote {
      border-left: 3px solid $color-mid-light;
      padding-left: 1rem;
      margin: 2rem 0;
    }
  }

  .section {
    margin-bottom: 20px;
    padding: 30px 20px;
    border: 1px solid $light-mid-grey;
    border-radius: 2px;

    &__title {
      font-size: 1.33em;
      margin-bottom: 20px;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style: none;

      &-item {
        line-height: 1.8;
      }
    }

    &__links {
      @extend %list-style;
    }
  }

  .entity-relations {
    .section__list-item {
      text-indent: -1.5em;
      padding-left: 1.5em;
    }
  }

  .revisions h3 {
    margin-bottom: 0;
  }

  .revisions__list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;

    &-item {
      word-wrap: break-word;
      margin-bottom: 1em;
    }

    &-meta {
      color: $dark-warm-grey;
      margin-bottom: .2em;
      font-size: 14px;
    }

    &-meta-date {
      float: right;
    }

    &-message {
      white-space: pre-line;
      margin-top: 0;
    }
  }

  .btn__see--more,
  .btn__see--less {
    // scss-lint:disable PlaceholderInExtend
    @extend .button--inline-neutral;
    // scss-lint:enable PlaceholderInExtend
  }

  .list__controls {
    display: block;
    margin-top: 2em;
    text-align: center;

    .btn__see--more {
      display: none;
    }

    .btn__see--less {
      display: inline;
    }
  }

  .list--concealed {
    .list-item {
      display: none;

      &:first-of-type {
        display: list-item;
      }
    }

    .btn__see--more {
      display: inline;
    }

    .btn__see--less {
      display: none;
    }
  }

  &__bundle-config {
    @extend %list-style;
    margin-top: 20px;
    cursor: pointer;

    &-title {
      padding: 15px 20px;
      border-top: 1px solid $mid-grey;
    }

    &-options {
      padding: 0 30px;
    }

    &-chevron {
      float: right;

      .entity-content__bundle-config-contract {
        display: none;
      }
    }

    &.expanding-row--expanded {
      .expanding-row {
        &__initial {
          opacity: 1;
          height: 50px;
        }

        &__expanded {
          background-color: transparent;
          box-shadow: none;
        }
      }

      .entity-content__bundle-config-chevron {
        .entity-content__bundle-config {
          &-expand {
            display: none;
          }

          &-contract {
            display: inline-block;
          }
        }
      }
    }
  }

  &__card {
    textarea {
      color: $dark-warm-grey;
      cursor: default;
      overflow: auto;
      border-color: #cdcdcd;
      border-radius: 2px;
      padding: 0.6875rem 0.875rem;
      font-size: 1rem;
      line-height: 1.5rem;

      &:focus {
        border-color: $dark-warm-grey;
      }
    }
  }

  .popup__panel--wide {
    top: $navbar-height;
  }
}
