.user-profile__entity {
  &-icon {
    @extend %icon--small;
    margin-right: 10px;
  }

  &-diagram {
    padding: 40px;
    background: $canvas-background;
    text-align: center;
  }

  &-commits {
    margin-top: 20px;
  }

  &-commit-list {
    @extend %list-style;
  }

  &-charm-list {
    @extend %list-style;
    display: inline-block;
    margin-left: .25em;
  }

  .entity-title {
    &__credential {
      color: $dark-grey;
      font-size: 0.9em;
      margin-left: 1em;

      &:before {
        content: '(Credential: ';
      }

      &:after {
        content: ')';
      }
    }
  }
}
