// scss-lint:disable IdSelector
#header-breadcrumb {
  @extend .vertical-center;
  float: left;
}
// scss-lint:enable IdSelector

.header-breadcrumb {
  @extend %list-style;

  &--link {
    position: relative;
    border-bottom: 1px solid currentColor;
    font-size: 23px;
    text-decoration: none;

    &:focus,
    &:active,
    &:hover {
      text-decoration: none;
    }

    &:before {
      content: '/';
      position: absolute;
      left: -14px;
      top: -2px;
      color: $mid-grey;
    }

    &.profile-disabled {
      cursor: default;
      border-bottom: 0;
    }
  }

  &__list-item {
    float: left;
    padding-left: 20px;
    margin-bottom: 0;
  }
}
