#header-breadcrumb {
    float: left;
    position: relative;
}
.header-breadcrumb {
    @extend %list-style;
    padding: 13px 0;

    &--link {
        position: relative;
        border-bottom: 1px solid currentColor;
        font-size: 23px;
        text-decoration: none;

        &:focus,
        &:active,
        &:hover {
          text-decoration: none;
        }

        &:before {
            content: '/';
            position: absolute;
            left: -14px;
            top: -2px;
            color: $mid-grey;
        }
    }

    &__list-item {
        float: left;
        padding-left: 20px;
    }
}
