// scss-lint:disable IdSelector
#header-breadcrumb { // sass-lint:disable-line no-ids, id-name-format
  float: left;
  margin: 10px 0;
}
// scss-lint:enable IdSelector

.header-breadcrumb {
  $breadcrumb-font-size: 23px;
  $breadcrumb-line-height: 40px;

  &--link {
    position: relative;
    border-bottom: 1px solid transparent;
    font-size: $breadcrumb-font-size;
    text-decoration: none;
    line-height: $breadcrumb-line-height;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    white-space: nowrap;
    max-width: 300px;

    &:focus,
    &:active,
    &:hover {
      color: $link-blue;
      text-decoration: none;
      border-bottom-color: currentColor;
    }

    &.profile-disabled {
      cursor: default;
      border-bottom: 0;

      &:before {
        // Hide the / after the logo when there is no username.
        display: none;
      }
    }
  }

  &__list {
    @extend %list-style;
  }

  &__list-item {
    // Delay until after the loading message has faded out.
    @include visible($delay: .5s);
    float: left;
    margin-bottom: 0;
    padding-left: 20px;
    position: relative;

    &:before {
      content: '/';
      position: absolute;
      left: 6px;
      top: 3px;
      color: $mid-grey;
      font-size: 23px;
    }
  }

  &__loading {
    @include hidden;
    font-size: $breadcrumb-font-size;
    line-height: $breadcrumb-line-height;
    margin-left: 20px;
    position: absolute;

    @keyframes ellipsis {
      to {
        width: 1.5em;
      }
    }

    &:after {
      overflow: hidden;
      text-overflow: hidden;
      display: inline-block;
      vertical-align: bottom;
      animation: ellipsis steps(4, end) 900ms infinite;
      content: '\2026';
      width: 0px
    }
  }

  &--loading-model {
    .header-breadcrumb {
      &__list-item {
        @include hidden;
      }

      &__loading {
        // Delay until after the breadcrumb has faded out.
        @include visible($delay: 0.5s);
      }
    }
  }
}
