.inspector-current-version__item {
    @extend %stagger-fade-in;
    padding: 10px 20px;
    line-height: 1.5;
    cursor: pointer;

    &:focus,
    &:active,
    &:hover {
        background-color: $light-grey;
    }
}
