.entity-files {
  .section__list-item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.p-list-tree {
  $sp-xx-small: 1rem * .25 !default;
  $sp-x-small: 1rem * .5 !default;
  $sp-medium: 1rem !default;;

  @mixin list-tree-icon {
    $icon-size: .9375rem; // 15px
    background: {
      position: center;
      repeat: no-repeat;
    }
    content: ' ';
    display: block;
    height: $icon-size;
    left: -$sp-medium;
    pointer-events: none;
    position: absolute;
    top: .4rem;
    width: $icon-size;
  }

  border-left: 1px solid $color-mid-light;
  list-style-type: none;
  margin-left: $sp-medium;
  padding: 0 0 0 $sp-x-small;

  &__item {
    margin-top: $sp-xx-small;
    padding-left: .8rem;
    position: relative;

    &::before {
      background: $color-mid-light;
      content: ' ';
      display: block;
      height: 1px;
      left: -$sp-x-small;
      pointer-events: none;
      position: absolute;
      top: .8rem;
      width: .625rem;
    }

    &--group::after {
      @include list-tree-icon;
      background-image: $svg-list-tree-open;
    }
  }

  &__toggle {
    background: transparent;
    border: 0;
    font-weight: normal;
    margin: 0 0 0 -1.75rem;
    padding: 0 0 0 1.75rem;
    transition-duration: 0s;
    width: auto;

    &:hover {
      background: transparent;
      color: $color-link;
      text-decoration: underline;
    }

    &:focus {
      background: transparent;
      outline: 1px dotted $color-mid-light;
    }
  }

  .p-list-tree {
    display: none;
    margin-left: 0;

    &[aria-hidden="false"] {
      display: block;
    }

    &[aria-hidden="false"]::after {
      @include list-tree-icon;
      background-image: $svg-list-tree-close;
      // At this point we need to push this icon above the --group icon.
      z-index: 1;
    }
  }
}
