.scale-service {
    &--units {
        position: relative;

        &__input {
            margin: 20px 20px 13px 20px;
            height: 28px;
            width: 230px;
            background-color: transparent;
        }

        &__span {
            position: absolute;
            right: 25px;
            top: 30px;
            color: $warm-grey;
        }
    }

    &--selector {

      & &__radio {
          margin: 6px 10px 10px 20px;
      }

      label {
          display: inline-block;
      }

      div:last-of-type {
          margin-bottom: 20px;
      }

    }
}
