.notification-list {
    $width: 45%;
    position: absolute;
    top: $navbar-height + $panel-space;
    left: 50%;
    margin: 0;
    margin-left: -1 * ($width / 2);
    width: $width;
    z-index: index($z-indexed-elements, notification-list);
}
