.inspector-relations-item {
    @extend %stagger-fade-in;
    border-bottom: 1px solid $mid-grey;

    &:last-child {
        border-bottom: none;
    }

    &__service {
        display: block;
        padding: 10px 20px;
        border-bottom: 1px solid $mid-grey;
        line-height: 1.5;
        cursor: pointer;

        &:focus,
        &:active,
        &:hover {
            background-color: $hover-background;
        }
    }

    &__status {
        float: right;

        svg {
            vertical-align: text-bottom;
        }
    }

    &__details {
        margin-top: .75em;
        display: block;
        padding: 0 20px;
    }
}

.inspector-relations__onboarding .inspector-relations-item {
    color: $light-mid-grey;
}
