.inspector-relations-item {
    @extend %stagger-fade-in;

    &:focus,
    &:active,
    &:hover {
        background-color: $hover-background;
        cursor: pointer;

        label {
            cursor: pointer;
        }
    }

    input[type=checkbox] {
        margin-right: 15px;
        cursor: pointer;
    }

    label {
        padding: 11px 20px;
    }

    &--nav:hover {
        label {
            text-decoration: underline;
        }
    }

    &--select-all {
        border-top: 1px solid $mid-grey;

        &:first-child {
            border-top: none;
        }
    }

    &__label {
      width: 165px;
      overflow: hidden;
      display: inline-block;
      white-space: nowrap;
      text-overflow: ellipsis;
      position: relative;
      top: 4px;
    }
}

.inspector-relations__onboarding .inspector-relations-item {
    color: $light-mid-grey;
}
