.added-services-button {
  line-height: 58px;
  padding-left: 20px;
  cursor: pointer;

  .action-indicator {
    position: absolute;
    right: 20px;
  }
}

.with-home .added-services-button {
  top: 145px;
}
