.header-search {
    padding: 20px 20px;
    background-color: transparent;
    color: $warm-grey;
    transition: background-color .3s;

    &__form {
        display: inline-block;
    }

    &__submit {
        padding: 0;
        margin-right: 10px;
        background: transparent;
        border: none;
    }

    &__input {
        width: 140px;
        background-color: transparent;
        border: none;
        transition: width .3s;
    }

    &__store {
        cursor: pointer;
    }

    &__store-icon {
        margin-right: 10px;
    }

    &__close {
        margin-left: 20px;
        cursor: pointer;
    }

    &--active {
        position: relative;
        z-index: 1001;
        background-color: $white;
        box-shadow: 0px -3px 4.95px 0.05px rgba(51, 51, 51, 0.2);
    }

    svg {
        vertical-align: text-bottom;
    }
}
