.header-search {
  $transition-duration: .3s;
  background-color: transparent;
  color: $warm-grey;
  padding: 12px 20px 10px 12px;
  transition: background-color $transition-duration;

  &--active {
    .header-search__search--mobile {
      display: none;
    }
  }

  &--search-active {
    .header-search {
      &__form .svg-icon {
        fill: $black;
      }

      &__input {
        &:focus,
        &:active,
        &:hover {
          &::-webkit-input-placeholder {
            color: $warm-grey;
          }

          &::-moz-placeholder {
            color: $warm-grey;
          }

          &:-ms-input-placeholder {
            color: $warm-grey;
          }
        }
      }
    }
  }

  &__form {
    display: inline-block;
    position: relative;
  }

  &__submit {
    background: transparent;
    border: 0;
    left: 15px;
    padding: 0;
    position: absolute;
    top: 11px;

    &:focus,
    &:active,
    &:hover {
      background: transparent;
    }
  }

  &__input {
    font-weight: 300;
    padding: 10px 10px 10px 40px;
    border: 1px solid $mid-grey;
    border-radius: $border-radius;
    transition: width $transition-duration;
    width: 136px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .12);
  }

  .svg-icon {
    fill: $warm-grey;
    transition: fill $transition-duration;
  }

  &__close {
    cursor: pointer;
    margin-left: 20px;

    &:focus,
    &:active,
    &:hover {
      .svg-icon {
        stroke: $black;
      }
    }
  }

  &__search--mobile {
    display: none;
    cursor: pointer;
    padding: 10px 0 10px 10px;
  }

  &--active {
    background-color: $white;
    box-shadow: 0 -4px 4.95px .05px rgba(51, 51, 51, .2);
    position: relative;
    z-index: index($z-indexed-elements, header-search--active);
  }

  svg {
    vertical-align: text-bottom;
  }
}
