.header-search {
  $transition-duration: .3s;
  background-color: transparent;
  color: $dark-warm-grey;
  padding: 10px 12px;
  transition: background-color $transition-duration;

  &--active {
    background-color: $white;
    box-shadow: 0 -4px 4.95px .05px rgba(51, 51, 51, .2);
    position: relative;
    z-index: index($z-indexed-elements, header-search--active);

    .header-search__search--mobile {
      display: none;
    }

    .header-search__form .svg-icon {
      fill: $black;
    }

    .header-search__input {
      &:focus,
      &:active,
      &:hover {
        &::-webkit-input-placeholder {
          color: $dark-warm-grey;
        }

        &::-moz-placeholder {
          color: $dark-warm-grey;
        }

        &:-ms-input-placeholder {
          color: $dark-warm-grey;
        }
      }
    }
  }

  &__form {
    display: inline-block;
    position: relative;
  }

  &__submit {
    background: transparent;
    border: 0;
    left: 15px;
    padding: 0;
    position: absolute;
    top: 7px;

    &:focus,
    &:active,
    &:hover {
      background: transparent;
    }
  }

  &__input {
    font-weight: 300;
    padding: 8px 40px;
    border: 1px solid #cdcdcd;
    border-radius: $border-radius;
    width: 206px;
    height: 22px;
  }

  .svg-icon {
    fill: $dark-warm-grey;
    transition: fill $transition-duration;

    &:hover {
      fill: $black;
    }
  }

  &__close {
    cursor: pointer;
    position: absolute;
    right: 12px;
    top: 11px;
    border-left: 1px solid #cdcdcd;
    padding:  11px;
    line-height: 15px;

    &:focus,
    &:active,
    &:hover {
      .svg-icon {
        stroke: $black;
      }
    }
  }

  &__search--mobile {
    display: none;
    cursor: pointer;
    padding: 10px 0 10px 10px;
  }

  svg {
    vertical-align: text-bottom;
  }
}
