.deployment-change-item {
  padding: 8px 20px;
  margin-bottom: 0;

  &__change,
  &__time {
    display: inline-block;
  }

  &__change {
    width: 66.666%;

    &-command {
      display: block;
      padding-left: 34px;
      color: $warm-grey;
      font-size: $base * 0.90;
    }
  }

  &__time {
    width: 33.333%;
  }

  &__icon {
    @extend %icon--small;
    border-radius: 0;
    margin-right: 10px;
  }
}
