.store {
    background-color: $white;
    background-image: none;

    .box {
        margin-bottom: 20px;

        &--kibana {
            padding-bottom: 100px;
            background-color: $cool-grey;
            border-color: $cool-grey;
            color: $white;

            .box__image {
                margin-top: 50px;
                margin-bottom: 32px;
            }
        }

        &--kubernetes {
            padding-bottom: 100px;
            background-color: $light-grey;

            .box__image {
                margin-top: -$gutter-width;
                margin-bottom: 31px;
            }
        }

        &--openstack {
            $openstack-brand: #DF2E29;
            padding-bottom: 100px;
            border-color:  $openstack-brand;
            background-color: $openstack-brand;
            color: $white;

            .box__image {
                margin-top: $gutter-width;
            }
        }

        .button--inline-neutral {
            background-color: $white;

            &:hover {
                background-color: $light-grey;
            }
        }

        &--mysql {
            $mysql-brand: #2089B5;
            border-color:  $mysql-brand;
            background-color: $mysql-brand;
            color: $white;

            a {
                color: $white;
            }

            .button--inline-neutral {
                color: $cool-grey;
            }
        }

        &--nagios,
        &--realtime-syslog-analytics {
            background-color: $light-grey;
        }

        .align-bottom {
            position: absolute;
            bottom: 20px;
            left: 0;
            right:0;
        }
    }

    .row--write-your-own,
    .row--bigdata {
        padding-top: 0;
        padding-bottom: 0;

        .inner-wrapper {
            padding-top: 60px;
            padding-bottom: 40px;
            background-repeat: no-repeat;
            background-position: right center;
        }
    }

    .row--bigdata {
        $hadoop-brand-start: #7ccdf7;
        $hadoop-brand-end: #40b6f2;
        color: $white;
        background: $hadoop-brand-start;
        background: -moz-linear-gradient(top,  $hadoop-brand-start 0%, $hadoop-brand-end 100%);
        background: -webkit-linear-gradient(top,  $hadoop-brand-start 0%,$hadoop-brand-end 100%);
        background: linear-gradient(to bottom,  $hadoop-brand-start 0%,$hadoop-brand-end 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$hadoop-brand-start', endColorstr='$hadoop-brand-end',GradientType=0 );

        .inner-wrapper {
            @media only screen and (min-width: $breakpoint-medium) {
                background-image: url('static/gui/build/app/assets/images/store/hadoop-elephant.png');
                background-repeat: no-repeat;
                background-position: right 40px;
                background-size: 35%;
            }
        }

        .link {
            color: white;
        }
    }

    .row--write-your-own .inner-wrapper {
        @media only screen and (min-width: $breakpoint-medium) {
            background-image: url("static/gui/build/app/assets/images/store/write-your-own.png");
            background-size: 50%;
        }
    }

    .row--charm-and-bundle {
      padding-top: 0;
    }
}
