.store {
  $hadoop-brand-start: #7ccdf7;
  $hadoop-brand-end: #40b6f2;
  background-color: $white;
  background-image: none;

  // XXX Ant, move to cloud-vanilla-theme
  .note {
    font-size: 1em;
    text-decoration: none;
  }

  // XXX Ant, move to cloud-vanilla-theme
  .row--border-bottom {
    border-bottom: 1px dotted $dark-warm-grey;
  }

  // XXX Ant, Ask about the styling going forward here
  .inline-list {
    &__item {
      margin-bottom: 10px;
      display: inline-block;
      margin-right: 5px;
    }
  }

  // XXX Ant, New component for theme
  .featured-entity {
    background-color: $white;
    padding: 20px;
    transition: background-color .3s;

    // Sets the columns to six-col on small screens
    @media only screen and (max-width: $breakpoint-medium - 1) {
      width: 48.94737%;
      text-align: center;
      padding: 0;
    }

    &:hover {
      background: $light-grey;
    }

    &__link {
      text-decoration: none;
      display: block;
      width: 100%;
      height: 100%;
    }

    &__title {
      font-size: 1.25em;
      margin-bottom: 0;
      text-decoration: none;
    }

    &__image-list {
      list-style: none;
      margin-left: 0;
    }

    &__image-list-item {
      box-sizing: border-box;
      width: 20px;
      height: 20px;
      float: left;
      margin: 2px;
      margin-bottom: 0;

      @media only screen and (max-width: $breakpoint-medium - 1) {
        width: 20%;
        height: 20%;
      }
    }

    &__image {
      border-radius: 50%;
      float: left;

      @media only screen and (max-width: $breakpoint-medium - 1) {
        float: none;

        &.control-size {
          max-width: 96px;
        }
      }
    }

    p {
      margin-bottom: 0;
    }
  }

  .box {
    &--kubernetes,
    &--openstack,
    &--hadoop {
      margin-bottom: 20px;
      padding-bottom: 125px;
      cursor: pointer;

      .button--inline-neutral {
        background-color: $white;
        border: 0 none;

        &:hover {
          background-color: $light-grey;
        }
      }
    }

    &--kubernetes {
      position: relative;
      overflow: hidden;
      background: #3371e3;
      background-size: 350px;
      color: $white;
      min-height: 300px;

      .box__image {
        position: absolute;
        top: 50%;
        left: 50%;
        max-width: none;
        margin: -228px 0 0 -198px;
      }
    }

    &--openstack {
      $openstack-brand: #df2e29;
      border-color: $openstack-brand;
      background: $openstack-brand;
      color: $white;

      .box__image {
        max-width: none;
      }
    }

    &--hadoop {
      position: relative;
      background: linear-gradient(to bottom, $hadoop-brand-start 0%, $hadoop-brand-end 100%);
      border: 0;
      color: $white;
      min-height: 300px;

      &-container {
        .box__image {
          position: absolute;
          top: 50%;
          left: 50%;
          max-width: 180px;
          transform: translate(-50%, -80%);
        }
      }
    }

    &--mysql {
      $mysql-brand: #2089b5;
      border-color: $mysql-brand;
      background-color: $mysql-brand;
      color: $white;

      .link {
        color: $white;

        &:hover {
          color: $white;
        }
      }

      .button--inline-neutral {
        color: $white;
      }
    }

    &--nagios,
    &--realtime-syslog-analytics {
      background-color: $light-grey;
    }

    .align-bottom {
      position: absolute;
      bottom: 20px;
      left: 0;
      right: 0;
    }
  }

  .row--write-your-own,
  .row--containers {
    padding-top: 0;
    padding-bottom: 0;

    .inner-wrapper {
      padding-top: 60px;
      padding-bottom: 40px;
      background-repeat: no-repeat;
      background-position: right center;
    }
  }

  .row--containers {
    /*
      Image asset is slightly off colour so once that is updated this
      background colour change change can be reverted.
    */
    /*background: $light-grey;*/
    background-color: #f5f5f5;

    .wrapper.bigdata {
      margin: 0 auto;
      max-width: 1040px;

      .inner-wrapper.bigdata {
        /* Reset the default inner-wrapper values */
        padding: 0;
        margin: 0;

        .text {
          padding-top: 50px;
        }
      }

      img {
        display: none;
        height: 277px;
      }

      @media only screen and (min-width: $breakpoint-medium) {
        img {
          display: block;
        }
      }
    }
  }

  .row--write-your-own {
    .wrapper {
      margin: 0 auto;
      max-width: 1040px;
    }

    .inner-wrapper {
      /* Reset the default inner-wrapper values */
      padding: 0;
      margin: 0;

      .text {
        padding-top: 50px;
      }
    }

    img {
      display: none;
      height: 277px;
    }

    @media only screen and (min-width: $breakpoint-medium) {
      img {
        display: block;
      }
    }
  }

  .row--charm-and-bundle {
    padding-top: 0;
  }
}
