.entity-header {
  $social-icon-size: 35px;
  $sticky-height: 100px;
  margin-bottom: 0;
  padding: 50px 0;
  background-color: $white;
  color: $cool-grey;
  overflow: hidden;

  @keyframes slideIn {
    0% {
      height: 0;
    }

    100% {
      height: $sticky-height;
    }
  }

  &--sticky {
    position: fixed;
    z-index: index($z-indexed-elements, entity-sticky-header);
    top: $navbar-height;
    left: $panel-space;
    right: 0;
    height: $sticky-height;
    padding: 0;
    background-color: $white;
    border-bottom: 1px solid $light-mid-grey;
    border-top-left-radius: $border-radius;
    animation: slideIn .5s;
    pointer-events: none;

    a,
    button,
    input,
    select {
      pointer-events: auto;
    }

    .inner-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px 0;
    }

    .entity-header {
      $icon-size: 26px;

      &__icon {
        width: $icon-size;
        height: $icon-size;
        margin: 15px 10px 0 0;
        border-radius: 50%;
      }

      &__title {
        font-size: 20px;
        line-height: $icon-size;
      }

      &__properties {
        margin-top: 14px;
      }

      &__social-list {
        display: none;
      }

      &__select {
        width: 150px;
        margin: 0 10px 0 0;
      }

      &__right {
        padding-top: 15px;
      }
    }

    .copy-to-clipboard {
      display: none;
    }
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .row-hero {
    overflow: hidden;
    margin-top: 0;
  }

  .inner-wrapper {
    overflow: visible;
  }

  &__properties {
    margin-bottom: 0;
    margin-top: 24px;
    font-size: 18px;
    overflow: hidden;

    li {
      &:after {
        color: $dark-warm-grey;
        content: '\2022';
        vertical-align: middle;
        margin: 0 5px;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  &__icon {
    float: left;
    border-radius: 50%;
    height: 96px;
    width: 96px;
    vertical-align: top;
    margin: 0 30px 0 0;
  }

  &__title {
    line-height: 150%;
    margin: 15px 0 0 0;
    color: $cool-grey;
    font-size: 2.8125em;
    text-transform: capitalize;
  }

  &__version {
    color: $dark-warm-grey;
  }

  &__deploys {
    text-transform: capitalize;
  }

  &__series {
    text-transform: capitalize;
  }

  &__select {
    margin-bottom: 15px;
  }

  &__social-list {
    margin: 30px 0 0;
    height: $social-icon-size;

    li {
      list-style: none;
      margin: 0 10px 0 0;
      display: inline-block;
    }
  }

  // scss-lint:disable IdSelector
  // sass-lint:disable no-ids, id-name-format
  #item-twitter,
  #item-googleplus {
    display: block;
    line-height: normal;
    width: $social-icon-size;
    height: $social-icon-size;

    .svg-icon {
      fill: $mid-grey;
    }
  }

  #item-twitter:hover {
    .svg-icon {
      $twitter-color: #55acee;
      fill: $twitter-color;
    }
  }

  #item-googleplus:hover {
    .svg-icon {
      $googleplus-color: #dc4a38;
      fill: $googleplus-color;
    }
  }
  // scss-lint:enable IdSelector
  // sass-lint:enable no-ids, id-name-format
}


.entity-details.bundle .entity-header__icon {
  border-radius: 0;
}
