.inspector-view {
    @extend %floating-panel;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: 100%;

    &__list {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    &__list-item {
        @extend %stagger-fade-in;
        padding: 10px 20px;
        cursor: pointer;

        &:focus,
        &:active,
        &:hover {
            background-color: $light-grey;
        }
    }

    &__item-icon {
        $size: 24px;
        width: $size;
        height: $size;
        margin-right: 16px;
        vertical-align: middle;
    }

    &__item-count {
        color: $warm-grey;
    }

    &__status {
        &--error {
            @include notification($error);
        }

        &--pending {
            @include notification($pending);
        }

        &--uncommitted {
            @include notification($uncommitted);
        }
    }
}
