.yui3-juju-inspector {
    @extend %customize-scrollbar;

    .juju-inspector {
        width: $inspector-width;
        min-height: 100px;
        font-size: 14px;

        input[type=checkbox].hidden-checkbox {
            display: none;
        }

        /* Hide IE input clear control */
        input[type=text]::-ms-clear {
            display: none;
        }

        textarea,
        input[type=text] {
            @include create-border-radius($border-radius);
            @include create-box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
            width: 100%;
            min-height: 30px;
            margin: 0;
            padding: 5px 10px;
            border: 1px solid #cdcdcd;
            background-position: right;
            background-repeat: no-repeat;

            &.valid,
            &.invalid {
                padding-right: 30px;
            }

            &.valid {
                background-image: url(juju-ui/assets/images/non-sprites/form-validation-tick.png);
            }

            &.invalid {
                background-image: url(juju-ui/assets/images/non-sprites/form-validation-cross.png);
            }
        }

        input[type=text] {
            @extend .border-box;
        }

        textarea {
            width: 96%;
        }

        /* Buttons */

        button {
            // Include the mixin styles.
            @extend .button;
        }

        button,
        .button {
            box-sizing: border-box;
            background-color: #fff;
            background-image: none;
            border: 1px solid #cdcdcd;
            border-radius: $border-radius;
            color: $charm-panel-orange;
            line-height: 1.6;
            text-align: center;

            &:hover {
                background-color: #f5f5f5;
            }

            &.wide {
                width: 100%;
            }

            &.confirm {
                float: right;
                background-color: $confirm-button-color;
                border-color: $confirm-button-color;
                color: #fff;

                &:hover {
                    background-color: #ae3910;
                    border-color: #ae3910;
                }

                &:disabled {
                    background-color: #802E0E;
                    color: #eee;
                }
            }
        }

        .toggle {
            span {
                display: block;
                vertical-align: top;
                line-height: 30px;
            }
            .textvalue {
              float: left;
              height: 26px;
              padding-top: 5px;
              text-transform: capitalize;
            }
            &.single-line {
                label {
                    display: inline-block;
                    margin-bottom: 0;
                    line-height: 34px;
                }
                .textvalue {
                    display: none;
                }
            }

            .upgrade-services-toggle {
                height: 35px;
                margin-top: 10px;
            }

            .toggle-switch {
                display: inline-block;
                vertical-align: top;
                float: right;

                label {
                    @include create-border-radius($border-radius);
                    width: 56px;
                    display: inline-block;
                    position: relative;
                    margin: 0;
                    cursor: pointer;
                    height: 32px;
                    border: 1px solid $inspector-border-color;

                    .handle {
                        @include create-border-radius($border-radius);
                        position: absolute;
                        z-index: 501;
                        left: 0;
                        height: 24px;
                        width: 24px;
                        margin: 4px;
                        background-color: #505050;
                        text-align: center;
                        line-height: 20px;
                        font-size: 16px;
                        @include transition(left .1s ease-in-out);
                        -moz-user-select: none;
                        -webkit-user-select: none;
                        -ms-user-select: none;
                        user-select: none;
                    }
                    &:after,
                    &:before {
                        content: '';
                        position: absolute;
                        display: block;
                        top: 4px;
                        left: 4px;
                        width: 24px;
                        height: 24px;
                        background-position: center center;
                        background-repeat: no-repeat;
                    }
                    &:before {
                        z-index: 502;
                        background-image:
                            url(juju-ui/assets/images/toggle-off.png);
                    }
                    &:after {
                        z-index: 502;
                        left: 29px;
                        background-image:
                            url(juju-ui/assets/images/toggle-on-inactive.png);
                    }
                }
                input.hidden-checkbox:checked ~ label,
                input.expose-toggle:checked ~ label {
                    .handle {
                        left: 25px;
                        background-color: $confirm-button-color;
                    }
                    &:before {
                        background-image:
                            url(juju-ui/assets/images/toggle-off-inactive.png);
                    }
                    &:after {
                        background-image:
                            url(juju-ui/assets/images/toggle-on.png);
                    }
                }
            }
        }

        .controls {
            $transition: .25s, max-height .3s;
            $padding: $inspector-main-padding / 2;
            @include transition($transition);
            overflow: hidden;
            position: absolute;
            /* One index higher than the toggle
            handle which it sometimes covers. */
            z-index: 502;
            bottom: 0;
            left: 0;
            width: $left-panel-width - ($padding * 2);
            max-height: $inspector-controls-height;
            padding: 0 $padding;
            background-color: #fff;
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);

            &.closed {
                max-height: 0;
            }

            &.inline {
                position: relative;
            }
        }

        .inspector-buttons,
        .viewlet-manager-footer,
        .controls {
            button,
            .button {
                width: 130px;
                margin: $inspector-main-padding / 2 0;

                &.wide {
                    width: 100%;
                }
            }
        }

        .destroy-service-prompt {
            .message {
                margin: $inspector-main-padding 0 $inspector-main-padding / 2 0;
            }
        }
        .text-in-input {
            display: block;
            height: 25px;
            margin: -25px 10px 0 0;
            color: #b5b5b5;
            text-align: right;
        }
        .config-field.boolean {
            margin-right: 10px;
        }
        .unit-scaling {
            padding-top: 20px;
            border-bottom: 1px solid $inspector-border-color;

            .unit-label,
            .current-unit-num {
                display: inline-block;
            }
            .unit-label,
            .current-unit-num {
                height: 30px;
                line-height: 30px;
            }
            .units-input {
                float: right;

                input.num-units-control {
                    width: 101px;
                }
                .unit-label {
                    padding: 0 20px 0 0;
                }
            }
            .constraint-details {
                margin-top: 10px;
            }
            .edit-constraints {
                color: #625f5a;
                text-decoration: underline;
            }
            .editable-constraints {
                margin-top: 10px;
            }
            .unit-constraints-confirm {
                overflow: hidden;
                max-height: 200px;
                margin-top: 2px;
                padding-top: 20px;
                letter-spacing: normal;
                $transition: .25s, max-height .3s;
                @include transition($transition);

                &.closed {
                    padding-top: 0;
                }
                .constraint-details {
                    display: block;
                }
                .inspector-buttons {
                    a {
                        margin-bottom: 0;
                    }
                    .cancel-num-units {
                        margin-left: 0;
                    }
                    .confirm-num-units {
                        margin-right: 0;
                    }
                }
            }
            .unit-constraints-confirm.closed {
                max-height: 0;
            }
            .unit-constraints-confirm.editing {
                max-height: 500px;
            }
        }

        .settings-wrapper {
            @extend .border-box;
            position: relative;
            width: 100%;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid $inspector-border-color;

            &:first-child {
                padding-top: 0;
                border-top: none;
            }
            &:last-child {
                padding-bottom: 0;
                border-bottom: none;
            }
            label {
                margin: 0 0 10px 0;
            }
            .settings-description {
                clear: both;
                padding-top: 12px;
                /* below hyphenation code was taken from:
                http://www.newnet-soft.com/blog/csstypography */
                -ms-word-break: break-all;
                word-break: break-all;
                // Non standard for webkit
                word-break: break-word;
                -webkit-hyphens: auto;
                -moz-hyphens: auto;
                hyphens: auto;
                -webkit-hyphenate-before: 2;
                -webkit-hyphenate-after: 3;
                hyphenate-lines: 3;
            }
        }
        .config-file {
            input {
                position: absolute;
                top: 0;
                left: 0;
                visibility: hidden;
                z-index: 0;
            }
        }

        .control-description,
        .control-label {
            font-size: 14px;
            font-weight: 300;
        }
        .control-label {
            margin-bottom: 10px;
        }

        .control-group {
            margin: 0;
            padding: 20px;
            border-bottom: 1px solid $inspector-border-color;

            .well {
                background-color: transparent;
                border: 0;
                margin-bottom: 10px;
                min-height: 20px;
                padding: 0;
            }
        }

        .viewlet-container {
            overflow-x: hidden;
            overflow-y: auto;
        }

        .header-slot {
            header {
                padding: $inspector-main-padding / 2 $inspector-main-padding;
                border-bottom: 1px solid $inspector-border-color;

                .service-charm {
                    .icon {
                        float: right;
                        margin-top: 3px;
                    }

                    .icon,
                    .icon img {
                        /* Required for sizing images in IE10 */
                        width: 24px;
                        height: 24px;

                    }

                    .service-name {
                        width: 190px;
                    }

                    div.service-name {
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }

                    input.service-name {
                        margin-bottom: 5px;
                    }

                    .charm-url {
                        cursor: pointer;
                        text-decoration: underline;
                    }

                    .close {
                        display: block;
                        float: right;
                        margin: 7px 10px 0 0;
                        cursor: pointer;

                        .sprite {
                            vertical-align: top;
                        }
                    }
                }

            }
            .inspector-header-message {
                background-color: $charm-panel-background-color;
                border-bottom: 1px solid $inspector-border-color;
                padding: 16px $inspector-main-padding;

                span[dismiss] {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        .viewlet-manager-wrapper {
            overflow-y: hidden;
            @include transition(max-height 1s);
            @extend .display-flex;
            @include flex-direction(column);

            .header-slot,
            .viewlet-manager-navigation,
            .viewlet-manager-footer {
                flex: 0 0 auto;
            }
            .viewlet-container {
                flex: 1 1 auto;
                max-height: 250px;
            }
        }

        .viewlet-manager-navigation {
            min-height: 9px;
            margin: 0;
            padding-left: $inspector-main-padding;
            border-bottom: 1px solid $inspector-border-color;

            li {
                display: inline-block;

                &:last-child {
                    margin-right: 0;
                }
                a {
                    @extend .border-box;
                    display: block;
                    height: 48px;
                    padding: 13px 20px 0 20px;

                    &:hover {
                        text-decoration: none;
                    }
                    &.active {
                        border-bottom: 3px solid $charm-panel-orange;

                        .normal {
                            display: none;
                        }
                        .selected {
                            display: inline-block;
                        }
                    }
                    .selected {
                        display: none;
                    }
                }
            }
        }

        .settings-constraints,
        .settings-config {
            margin-bottom: 0;
        }
        .view-container {
            overflow-x: hidden;
            overflow-y: auto;

            .line-too-long {
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }

            .view-content {
                padding: 20px $inspector-main-padding;
                border-bottom: 1px solid $inspector-border-color;

                &:last-child {
                    border-bottom: none;
                }
                &.join-top {
                    padding-top: 10px;
                    border-top: none;
                }
            }
            .settings-wrapper {
                &.uncommitted > label::after {
                    @extend .uncommitted-circle;
                    content: "\00B0";
                    margin-left: 4px;
                    line-height: 4px;
                }
                span.resolver .conflicted-env {
                  display: inline-block;
                  min-width: 25px;
                  min-height: 25px;
                }
                .config-field,
                .constraint-field {
                  @include transition(background 1s linear);
                  background-repeat: no-repeat;
                  background-position: right center;
                  background-image: none;
                  margin-bottom: 0px;
                }
                .config-field {
                  &.boolean {
                    width: auto;
                    display: inline-block;
                  }
                }
                .resolver {
                  color: #000;
                  background-color: #fff;
                  border: 1px solid $inspector-changed-field;
                  border-radius: 1px;

                  div {
                    width: 270px;
                  }
                }
                .modified {
                  background-color: $inspector-changed-field;
                  background-image: url(juju-ui/assets/images/non-sprites/textfield_unsaved_16.png);
                  background-repeat: no-repeat;
                  background-position: 97% center;

                  &.boolean {
                    margin: 2px 0 0 10px;
                    background-color: inherit;
                    display: inline-block;
                    min-width: 13px;
                    min-height: 13px;
                  }
                }
                &.uncommitted .modified {
                  background-image: none;
                  background-color: white;
                  &.boolean {
                    display: none;
                  }
                }
                .conflict-pending {
                  background-color: $inspector-changed-field;
                  background-image: url(juju-ui/assets/images/non-sprites/conflict_24.png);

                  &.boolean {
                    background-color: inherit;
                    background-image: url(juju-ui/assets/images/non-sprites/conflict_16.png);
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-top: 5px;
                    margin-right: 5px;
                  }
                }

                .conflict {
                  background-color: $inspector-changed-field;
                  background-image: url(juju-ui/assets/images/non-sprites/conflict_resolution_24.png);
                }

                /* Inputs does not need to have the background-image */
                input.conflict {
                  background-image: none;
                }

                select {
                    width: 100%;
                }

                /* When on a boolean state we don't have the grey background
                 * of an input to put the background icon against, just make
                 * it transparent to display on the black background */
                .resolver.boolean {
                  background-color: transparent;
                  border: none;

                  .conflict {
                    background-color: transparent;
                  }
                }

                .change-saved {
                    background-image: url(juju-ui/assets/images/non-sprites/textfield_saved_16.png);
                    background-position: 96% center;
                    background-repeat: no-repeat;
                    @include animation(pulse-green 1s);
                    @include animation-fill-mode(forwards);
                    @include transition(none);
                }
            }

            .relation-label {
                background-repeat: no-repeat;
                background-position: 10px 17px;
                background-image: url("juju-ui/assets/images/unit_running_16.png");

                &.error {
                    background-image: url("juju-ui/assets/images/error_16.png");
                }

                h3 {
                    padding-left: 35px;
                }
            }
        }

        .change-version-trigger {
            float: right
        }

        h4,
        h3,
        h2 {
            @extend .border-box;
            margin-bottom: 0;
            padding: 10px $inspector-main-padding;
            border-bottom: 1px solid $inspector-border-color;
            font-size: 16px;
            color: $inspector-text-color;

            .sprite {
                vertical-align: -2%;
                margin-right: 7px;
            }
        }
        h2.join-bottom {
            padding-top: 0;
            padding-bottom: 0;
            border-bottom: none;
        }
        h4 {
            padding: 7px 10px;
            font-size: 14px;
        }

        .overview-footer-item {
            padding: $inspector-main-padding / 2;

            &.expose {
                padding-top: 10px;
                padding-bottom: 5px;
            }
        }

        .overview-unit-list {
            margin: 0;

            .action-button-wrapper {
                text-align: center;
                padding: 10px 0;

                .button,
                button {
                    margin-right: 7px;
                }
            }

            .closed-unit-list {
                .category-label {
                    white-space: nowrap;
                }
            }

            .status-unit-header {
                color: #fff;

                &.error {
                    &,
                    .unit-qty {
                        background-color: #dc322f;
                    }
                }

                &.running {
                    &,
                    .unit-qty {
                        background-color: #38b44a;
                    }
                }

                &.pending {
                    &,
                    .unit-qty {
                        background-color: #eca918;
                    }
                }

                &.landscape {
                    &,
                    .unit-qty {
                        background-color: #77216f;
                    }
                }

                &.uncommitted {
                    &,
                    .unit-qty {
                        background-color: $uncommitted;
                    }
                }

                &.closed-unit-list {
                    &.error,
                    &.running,
                    &.pending,
                    &.landscape,
                    &.uncommitted {
                        background-color: transparent;
                        color: $inspector-text-color;
                    }
                }
            }
        }
        .unit-list-header,
        .status-unit-header {
            padding: 15px;
        }
        .status-unit-header {
            padding-left: $inspector-main-padding;
            background-position: 15px 19px;
            background-repeat: no-repeat;
            cursor: pointer;

            .category-label {
                text-overflow: ellipsis;
                white-space: normal;
                overflow: hidden;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }

            .unit-qty {
                $size: 24px;
                display: block;
                float: right;
                width: $size;
                height: $size;
                border-radius: $size / 2;
                color: #fff;
                line-height: $size;
                text-align: center;
            }
        }
        .unit-list-header {
            position: relative;

            .change-version-close {
                position: absolute;
                right: 20px;
            }
        }

        .unit-list,
        .status-unit-content {
            $transition: .25s, max-height .3s;
            @include transition($transition);
            overflow: hidden;

            &.close-unit {
                max-height: 0px !important;
            }

            a {
                color: $inspector-text-color;
            }

            li {
                padding: 10px 20px;

                .right-link {
                    float: right;
                    color: $confirm-button-color;
                }
            }

            input[type="checkbox"] {
                margin-right: 10px;
                vertical-align: middle;
            }

            label {
                display: inline-block;
            }
        }
        .relation-wrapper {
            .status-unit-content {
                ul {
                    margin: 0;
                    border-bottom: none;
                }
            }
            .errored-units {
                text-align: center;

                button.remove-relation {
                    margin: 10px 0;
                }
            }
        }
    }

    .unit-scaling {
        display: none;
    }
}
