$inspector-background-color: #221e1c;
$inspector-changed-field: #dedede;
$inspector-controls-height: 82px;
$inspector-status-border-color: #E2E2E2;
$inspector-subtitle-color: #555555;
$inspector-text-color: #fff;
$inspector-width: 292px;
$inspector-main-padding: 20px;
$confirm-button-color: $charm-panel-orange;
$deny-button-color: #BBB;
$disabled-input-background-color: #727272;
$disabled-input-text-color: #252525;

/* This doesn't work in FF.
   https://bugzilla.mozilla.org/show_bug.cgi?id=546052
   field-saved-finished is completely transparent; unfortunately no browser
   currently supports transitioning from an image to none.
*/
.pulse-green-frames-mixin {
    0% {
        background-image: url(juju-ui/assets/images/non-sprites/textfield_saved_16.png);
    }
    100% {
        background-image: url(juju-ui/assets/images/non-sprites/field-saved-finished.png);
    }
}

@-webkit-keyframes pulse-green {@extend .pulse-green-frames-mixin;}
@-moz-keyframes pulse-green {@extend .pulse-green-frames-mixin;}
@-ms-keyframes pulse-green {@extend .pulse-green-frames-mixin;}
@-o-keyframes pulse-green {@extend .pulse-green-frames-mixin;}
@keyframes pulse-green {@extend .pulse-green-frames-mixin;}
