.inspector-resources-list {
  &__list {
    @extend %list-style;
  }

  &__resource {
    padding: 20px 20px 10px 20px;
    border-bottom: 1px solid $mid-grey;

    &:last-child {
      border-bottom: none;
    }
  }

  &__empty {
    padding: 20px;
  }
}
