.deployment-bar {
    height: 40px;

    &__import {
        @extend %deployment-bar__links;
        left: -240px;
    }

    &__export {
        @extend %fade-in;
        @extend %deployment-bar__links;
        left: -170px;

        &:before {
            content: '';
            border-right: 1px solid $mid-grey;
            position: relative;
            left: -12px;
        }
    }

    &__file {
        @extend %deployment-bar__links;
        visibility: hidden;
    }

    &__install-button {
        @extend %fade-in;
        @extend %floating-panel;
        left: -105px;
        position: absolute;
        padding: 10px;
        color: $cool-grey;
    }

    &--initial {
        .deployment-bar {
            &__import {
                left: -170px;
            }

            &__export {
                display: none;
            }
        }

        .generic-button {
            display: none;
        }
    }
}

%deployment-bar__links {
    position: absolute;
    top: 11px;

    &:focus,
    &:active,
    &:hover {
        text-decoration: underline;
    }
}
