.deployment-bar {
    height: 40px;
    text-align: right;

    &__import,
    &__export {
        margin-right: 10px;
        line-height: 40px;
    }

    &__import {
        @extend %deployment-bar__links;
    }

    &__export {
        @extend %fade-in;
        @extend %deployment-bar__links;

        &:before {
            content: '';
            border-right: 1px solid $mid-grey;
            margin-right: 10px;
        }
    }

    &__file {
        @extend %deployment-bar__links;
        display: block;
        visibility: hidden;
        width: 0;
    }

    &__deploy {
        @extend %floating-panel;
        display: inline-block;
        margin-left: 10px;

        .button--inline-deployment {
            padding-left: 10px;
            padding-right: 10px;

            &:first-child {
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
            }

            &:last-child {
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }

    .button--inline-neutral {
        padding-left: 10px;
        padding-right: 10px;
    }

    &--initial {
        .deployment-bar {
            &__export {
                display: none;
            }
        }

        .generic-button {
            display: none;
        }
    }
}

%deployment-bar__links {
    &:focus,
    &:active,
    &:hover {
        text-decoration: underline;
    }
}
