.dropdown-menu {
  box-sizing: border-box;
  min-width: 10rem;
  right: -5px;
  padding: 10px 0;
  z-index: 1;

  &:before {
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    display: block;
    background-color: $white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    bottom: -4px;
    top: -8px;
    right: 16px;
    width: 13px;
    height: 13px;
    border-width: 1px 0 0 1px;
    border-style: solid;
    border-color: rgba(0,0,0,.1);
  }

  &__list {
    list-style-type: none;
    margin: 0;
  }

  &__list-item {
    padding: 10px 20px 10px;
    margin: 0;
    padding: 0;

    &--active .dropdown-menu__list-item-link {
      color: $ubuntu-orange;
    }

    &--inactive {
      color: $dark-grey;
      padding: 7px 20px;
    }

    &-link {
      display: block;
      padding: 10px 20px 10px;
      text-decoration: none;
      cursor: pointer;

      &:hover {
        text-decoration: none;
        background-color: $hover-background;
      }
    }
  }

}
