{
  "presets": [],
  "plugins": [
    "transform-react-jsx",
    "transform-react-stateless-component-name"
  ],
  "env": {
    "production": {
      "presets": [
        ["babili", {"mangle": false}]
      ]
    },
    "development": {
      "plugins": []
  },
    "test": {
      "plugins": [
      ],
      "presets": [
        "env",
        "react"
      ],
    }
  }
}
