{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-react-jsx"
  ],
  "env": {
    "production": {
      "presets": [
        ["babili", {"mangle": false}]
      ]
    },
    "development": {
      "plugins": []
    },
    "test": {
      "plugins": [
        "rewire",
        ["babel-plugin-transform-require-ignore", {
          "extensions": [".png", ".scss"]
        }]
      ],
      "presets": [
        "env",
        "react"
      ],
    }
  }
}
