{
  "presets": [],
  "plugins": [],
  "env": {
    "production": {
      "plugins": [
        "transform-react-jsx"
    ],
      "presets": [
        ["babili", {"mangle": false}]
      ]
    },
    "development": {
      "plugins": [
        "rewire"
      ]
    }
  }
}
