env:
  browser: true
  node: true
  es6: true
plugins:
  - react
parserOptions:
  ecmaVersion: 6
  ecmaFeatures:
    jsx: true
rules:
  indent: [2, 2, {SwitchCase: 1, VariableDeclarator: 2}]
  max-len: [2, 80, 2]
  no-const-assign: 2
  no-debugger: 2
  no-multi-spaces: 2
  no-shadow: 0
  no-single-tests: 2
  no-sparse-arrays: 2
  no-test-utils: 2
  no-undef: 2
  no-underscore-dangle: 0
  no-unused-vars: [2, {args: "none"}]
  quotes: [2, "single"]
  react/jsx-key: 2
  react/jsx-no-duplicate-props: 2
  react/prop-types: 2
  react/sort-prop-types: 2
  semi: [2, "always"]
  space-before-blocks: 2
  strict: [2, "global"]
globals:
  after: true
  afterAll: true
  afterEach: true
  assert: true
  before: true
  beforeAll: true
  beforeEach: true
  chai: true
  classNames: true
  Clipboard: true
  consoleManager: true
  dataLayer: true
  describe: true
  enhanceWithClickOutside: true
  Exception: true
  fail: true
  GlobalConfig: true
  it: true
  JsDiff: true
  jsTestUtils: true
  jsyaml: true
  juju: true
  jujulib: true
  marked: true
  nacl: true
  Prism: true
  queryComponentSelector: true
  React: true
  ReactDnD: true
  ReactDnDHTML5Backend: true
  ReactDOM: true
  renderIntoDocument: true
  saveAs: true
  sinon: true
  Stripe: true
  testUtils: true
  xit: true
  YUI: true
  zip: true
