.#*
*~
app/assets/javascripts/yui
app/assets/javascripts/yui-macaroon.js
bin/
build-debug
build-prod
build-shared
browserify-cache.json
classnames.js
collected-requirements
dist
docs/_build/doctrees
docs/_build/html
downloadcache/
.eslintcache
.emacs.desktop
.emacs.desktop.lock
.floo*
fast-babel
gui.sublime-project
gui.sublime-workspace
include/
jujugui.egg-info/
jujugui/static/build/*
jujugui/static/gui/build/
karma-mocha-old.conf.js
karma.conf.js
lib/
libpeerconnection.log
local/
node_modules
npm-debug.log
pip-selfcheck.json
*.pyc
python-shelltoolbox
releases
share
Session.vim
.*.swp
tags
test/extracted_startup_code
test/test_startup.js
.tern-project
uitest/
upload_release.py
.vagrant
virtualenv
xvfb_pid
yuidoc
yui-macaroon.js
._.DS_Store
.DS_Store
