*~
jujugui/static/gui/src/app/assets/javascripts/d3.js
jujugui/static/gui/src/app/assets/javascripts/d3.min.js
jujugui/static/gui/src/app/assets/javascripts/yui
jujugui/static/gui/src/app/assets/javascripts/yui-macaroon.js
app/assets/javascripts/d3.js
app/assets/javascripts/d3.min.js
app/assets/javascripts/yui
app/assets/javascripts/yui-macaroon.js
bin/
build-debug
build-prod
build-shared
classnames.js
dist
docs/_build/doctrees
docs/_build/html
downloadcache/
.emacs.desktop
.emacs.desktop.lock
.floo*
gui.sublime-project
gui.sublime-workspace
include/
jujugui.egg-info/
jujugui/static/build/*
jujugui/static/gui/build/
lib/
libpeerconnection.log
local/
node_modules
npm-debug.log
*.pyc
python-shelltoolbox
releases
Session.vim
.*.swp
tags
test/extracted_startup_code
test/test_startup.js
upload_release.py
.vagrant
virtualenv
yuidoc
yui-macaroon.js
