// Karma configuration
// Generated on Tue Sep 01 2015 11:00:43 GMT-0600 (CST)
'use strict';

const webpackConfig = require('./webpack.test');

module.exports = function(config) {
  config.set({

    // base path that will be used to resolve all patterns (eg. files, exclude)
    basePath: '',

    // Set up the log level so that console.log messages are visible.
    browserConsoleLogOptions: {level: 'log'},

    // frameworks to use
    // available frameworks: https://npmjs.org/browse/keyword/karma-adapter
    frameworks: ['jasmine', 'chai-sinon'],

    // List of files / patterns to load in the browser; Karma is smart enough,
    // with the preprocessors, to watch the source files and serve the compiled
    // files.
    files: [
      'gui/build/app/assets/javascripts/yui/yui/yui.js',
      'gui/build/app/assets/javascripts/yui/loader/loader.js',
      'gui/src/test/globalconfig.js',

      'gui/src/app/state/test-*.js',
      'gui/src/app/d3-components/test-*.js',
      'gui/src/app/init/**/test-*.js',
      'gui/src/app/models/test-*.js',
      'gui/src/app/store/env/test-*.js',
      'gui/src/app/test-*.js',
      'gui/src/app/user/test-*.js',
      'gui/src/app/utils/test-*.js'
    ],

    // list of files to exclude
    exclude: [
      'gui/src/app/init/test-app.js',
      'gui/src/app/init/test-cookie-util.js'
    ],

    // preprocess matching files before serving them to the browser
    // available preprocessors: https://npmjs.org/browse/keyword/karma-preprocessor
    preprocessors: {
      'gui/src/app/test-*.js': ['webpack'],
      'gui/src/app/d3-components/test-*.js': ['webpack'],
      'gui/src/app/init/**/test-*.js': ['webpack'],
      'gui/src/app/init/topology/environment-utils.js': ['webpack'],
      'gui/src/app/models/test-*.js': ['webpack'],
      'gui/src/app/state/*.js': ['webpack'],
      'gui/src/app/user/*.js': ['webpack'],
      'gui/src/app/utils/*.js': ['webpack'],
      'gui/src/app/store/env/test-*.js': ['webpack'],
      'gui/src/test/globalconfig.js': ['webpack']
    },

    proxies: {
      '/dev/combo': 'http://0.0.0.0:{TEST_PORT}/dev/combo?',
      '/data': 'http://0.0.0.0:{TEST_PORT}/test/data',
      '/base/gui/src/test/': 'http://0.0.0.0:{TEST_PORT}/test/'
    },

    webpack: webpackConfig,

    // test results reporter to use
    // available reporters: https://npmjs.org/browse/keyword/karma-reporter
    reporters: ['spec'],
    specReporter : {
      suppressSkipped: true
    },

    // web server and port
    hostname: '0.0.0.0',
    port: 6544,

    // enable / disable colors in the output (reporters and logs)
    colors: true,

    // level of logging
    // possible values:
    // config.LOG_DISABLE || config.LOG_ERROR || config.LOG_WARN ||
    // config.LOG_INFO || config.LOG_DEBUG
    logLevel: config.LOG_INFO,

    // enable / disable watching file and executing tests whenever any file changes
    autoWatch: true,

    // start these browsers
    // available browser launchers: https://npmjs.org/browse/keyword/karma-launcher
    browsers: [],

    // Continuous Integration mode
    // if true, Karma captures browsers, runs the tests and exits
    singleRun: false,

    // The default for jasmine now is to run the tests in a random order. This
    // makes sense however, we we know, the environment.js tests are a mess
    // and randomly fail. These tests will all be being deleted with the
    // jujulib change so at that time we'll want to remove this.
    client: {
      jasmine: {
        random: false
      }
    }
  });
};
