# Copyright 2015 Canonical Ltd.  This software is licensed under the
# GNU Affero General Public License version 3 (see the file LICENSE).

include HACKING.rst
include MANIFEST.in
include *.ini
include requirements.txt
include test-requirements.txt

recursive-include jujugui/static *
recursive-include jujugui/templates *

recursive-exclude jujugui/static/gui/src *
recursive-exclude jujugui/tests *
recursive-exclude test *

# First remove all js files before adding back in the files we need.
recursive-exclude jujugui/static/gui/build *.js
# Add back in the YUI files.
recursive-include jujugui/static/gui/build/app/assets/javascripts/yui *min.js
# Add the main file that all components, utils etc. have been combined into.
include jujugui/static/gui/build/app/init-pkg-min.js
# Add the version file:
include jujugui/static/gui/build/app/assets/javascripts/version.js
