# Copyright 2015 Canonical Ltd.  This software is licensed under the
# GNU Affero General Public License version 3 (see the file LICENSE).

include HACKING.rst
include MANIFEST.in
include Makefile
recursive-include jujugui/static *
recursive-include jujugui/templates *
