.env-switcher {
  &__toggle {
    border: 1px solid $color-mid-light;
    border-radius: 2px;
    color: $cool-grey;
    cursor: pointer;
    margin-left: 3px;
    padding: 4px 36px 4px 9px;
    background-color: $canvas-background;
    transition: background-color .2s;
    position: relative;
    height: 40px;

    &:hover,
    &.is-active {
      background-color: $white;
    }
  }

  &__name {
    font-size: 1rem;
    position: relative;
    line-height: 30px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 300px;
  }

  &__chevron {
    fill: currentColor;
    margin-left: 20px;
    position: relative;
    top: 12px;
    right: 10px;
    position: absolute;
  }
}
