.env-switcher {
    &--toggle {
        cursor: pointer;
        color: $cool-grey;

        .environment-name {
            font-size: 23px;

            &:before {
                content: '/';
                position: relative;
                left: -8px;
                top: 1px;
                color: $mid-grey;
            }
        }

        &:focus {
            outline: 1px dotted $ubuntu-orange;
        }

        .svg-icon {
            margin-left: 10px;
            vertical-align: text-top;
            fill: currentColor;
        }

        &:hover {
            color: $ubuntu-orange;
        }
    }


}
