.env-switcher {
    &--toggle {
        cursor: pointer;
        color: $cool-grey;
        border-bottom: 1px solid currentColor;

        .environment-name {
            position: relative;
            font-size: 23px;

            &:before {
                content: '/';
                position: absolute;
                left: -13px;
                top: 4px;
                color: $mid-grey;
            }
        }

        .svg-icon {
            margin-left: 10px;
            vertical-align: text-top;
            fill: currentColor;
        }
    }
}
