.more-menu {
  .dropdown-menu {
    right: -5px;

    &__list-item-link {
      padding-top: 7px;
      padding-bottom: 7px;
    }
  }

  &__menu {
    &-item {
      white-space: nowrap;
      margin-bottom: 0;

      &--active .dropdown-menu__list-item-link {
        color: $ubuntu-orange;
      }

      &--inactive {
        color: $dark-grey;
        padding: 7px 20px;
      }
    }
  }
}

.machine-view__header .more-menu {
  float: right;
}

.machine-view__machine {
  .more-menu {
    display: none;
    float: right;

    &--active {
      display: block;
    }
  }

  &-unit:hover,
  &--selected:not(.machine-view__machine--root),
  &:focus:not(.machine-view__machine--root),
  &:active:not(.machine-view__machine--root),
  &:hover:not(.machine-view__machine--root) {
    > .more-menu {
      display: block;
    }
  }
}

.machine-view__unplaced-unit {
  .more-menu {
    float: right;
    margin-top: -7px;
  }
}
