.more-menu {
  position: relative;

  &__toggle {
    cursor: pointer;
  }

  &__menu {
    @extend %floating-panel;
    position: absolute;
    z-index: index($z-indexed-elements, more-menu);
    right: -10px;
    list-style: none;
    margin: 0;
    padding: 0;

    &:before {
      @include diamond($white);
      top: -6px;
      right: 12px;
      width: 10px;
      height: 10px;
      border-width: 1px 0 0 1px;
      border-style: solid;
      border-color: rgba(0, 0, 0, .1);
    }

    &-item {
      position: relative;
      // The items need to be above the diamond.
      z-index: 1;
      padding: 7px 20px;
      white-space: nowrap;
      margin-bottom: 0;

      &:focus,
      &:active,
      &:hover {
        background-color: $hover-background;
        cursor: pointer;
      }

      &--active {
        color: $ubuntu-orange;
      }

      &--inactive {
        color: $dark-grey;

        &:hover {
          background-color: transparent;
          cursor: default;
        }
      }
    }
  }
}

.machine-view__header .more-menu {
  float: right;
}

.machine-view__machine {
  .more-menu {
    display: none;
    float: right;

    &--active {
      display: block;
    }

    &__menu {
      top: 25px;
    }
  }

  &-unit:hover,
  &--selected:not(.machine-view__machine--root),
  &:focus:not(.machine-view__machine--root),
  &:active:not(.machine-view__machine--root),
  &:hover:not(.machine-view__machine--root) {
    > .more-menu {
      display: block;
    }
  }
}

.machine-view__unplaced-unit {
  .more-menu {
    float: right;
  }
}
