.button-dropdown {
  position: relative;

  &__button {
    @extend .link;
    @extend .tooltip;
    display: inline-block;
    border-radius: 2px;
    border-right-width: 0;
    border: 1px solid $color-mid-light;
    transition: background-color .2s;
    background-color: $canvas-background;
    padding: 11px;
    margin: 10px 0 10px 10px;
    // scss-lint:disable ImportantRule
    color: $warm-grey !important;
    // scss-lint:enable ImportantRule
    text-decoration: none;

    &-with-text {
      line-height: 1rem;
      font-size: 1rem;
    }

    &:hover {
      background-color: $white;
      // scss-lint:disable ImportantRule
      color: $dark-warm-grey !important;
      text-decoration: none !important;
      // scss-lint:enable ImportantRule
    }
  }

  &__icon {
    display: block;
  }

  &__show-menu {
    background-color: $white;
    // scss-lint:disable ImportantRule
    color: $dark-warm-grey !important;
    // scss-lint:enable ImportantRule

    .tooltip__tooltip--below {
      // scss-lint:disable ImportantRule
      display: none !important;
      // scss-lint:enable ImportantRule
    }
  }
}
