.button-dropdown {
  position: relative;

  &__button {
    @extend .link;
    @extend .tooltip;
    display: inline-block;
    transition: background-color .2s;
    padding: 11px;
    cursor: pointer;
    // scss-lint:disable ImportantRule
    color: $warm-grey !important;
    // scss-lint:enable ImportantRule
    text-decoration: none;

    &-with-text {
      line-height: 1rem;
      font-size: 1rem;
    }

    &:hover {
      // scss-lint:disable ImportantRule
      color: $dark-warm-grey !important;
      text-decoration: none !important;
      // scss-lint:enable ImportantRule
    }
  }

  &__icon {
    display: block;
  }

  &__show-menu {
    // scss-lint:disable ImportantRule
    color: $dark-warm-grey !important;
    // scss-lint:enable ImportantRule

    .tooltip__tooltip--below {
      // scss-lint:disable ImportantRule
      display: none !important;
      // scss-lint:enable ImportantRule
    }
  }
}
