.post-deployment {
  max-height: 350px;
  z-index: index($z-indexed-elements, post-deployment);

  p,
  li {
    font-size: .875rem;
  }

  p {
    display: inline;
  }

  a,
  .link {
    color: $link-blue;
    font-weight: 300;
    cursor: pointer;
    font-size: 0.875rem;
  }

  h1 {
    font-size: 1rem;
  }

  h2 {
    font-size: 1rem;
    padding-bottom: .5rem;
    margin-bottom: .5rem;
    margin-top: 1rem;
    border-bottom: 1px solid $color-mid-light;
  }

  &--simple {
    p,
    a,
    .link {
      font-size: 1rem;
      margin: 0;
    }
  }
}
