.lightbox {
  background: rgba(0,0,0,.8);
  z-index: index($z-indexed-elements, lightbox);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__close {
    position: absolute;
    top: 10%;
    margin-top: -.5rem;
    right: 5%;
    padding: .5rem;
    background: transparent;
    border: none;

    .svg-icon {
      display: block;
    }
  }

  &__wrapper {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 15%;
    right: 10%;
    text-align: center;
  }

  &__content {
    background: $color-light;
    border-radius: 2px;
    padding: 2rem;
    width: 100%;
    height: 100%;

    * {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__caption {
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    text-align: center;
    color: $white;
  }
}
