.lightbox {
  background: rgba(0,0,0,.8);
  z-index: index($z-indexed-elements, lightbox);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  &__close {
    position: absolute;
    top: 3rem;
    margin-top: -.5rem;
    right: 3rem;
    padding: .5rem;
    background: transparent;
    border: none;

    .svg-icon {
      display: block;
    }
  }

  &__wrapper {
    position: absolute;
    top: 10%;
    left: 10%;
    bottom: 15%;
    right: 10%;
    text-align: center;
  }

  &__content {
    background: $color-light;
    border-radius: 2px;
    padding: 2rem;
    width: 100%;
    height: 100%;
    position: relative;

    * {
      max-height: 100%;
      max-width: 100%;
    }
  }

  &__caption {
    position: absolute;
    bottom: -2rem;
    left: 0;
    right: 0;
    text-align: center;
    color: $white;
  }

  &__slide {
    display: none;

    &.is-active {
      display: block;
    }
  }

  &__navigation {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    // The navigation is generated before, but at the same level as __slide's.
    // This is to put the __slide's above the navigation so the __slide
    // content is clickable. The Navigation remains clickable because it is
    // positioned outside of the __slide's box.
    z-index: -1;

    &-previous,
    &-next {
      position: absolute;
      border: 0;
      background: $white;
      width: 3rem;
      height: 3rem;
      display: block;
      border-radius: 3rem;
      overflow: hidden;
      margin: 0;
      padding: 0;
      text-align: center;
      top: 50%;
      margin-top: -1.5rem;

      &[disabled] {
        opacity: .5;
        cursor: default;
      }

      .svg-icon {
        margin-bottom: -4px;
      }
    }

    &-previous {
      left: -4rem;
      transform: rotate(90deg);
    }

    &-next {
      right: -4rem;
      transform: rotate(-90deg);
    }

    &-bullets {
      position: absolute;
      list-style: none;
      bottom: -4.5rem;
      left: 0;
      right: 0;
      text-align: center;
    }
    &-bullet {
      color: $white;
      font-size: 2rem;
      display: inline;
      opacity: .3;
      cursor: pointer;
      margin-left: .3rem;

      &:first-child {
        margin-left: 0;
      }

      &.is-active {
        opacity: 1;
      }
    }
  }
}
