.svg-icon {
  // Set a default stroke colour for any icon that has stroke: inherit.
  stroke: $dark-warm-grey;
}

// scss-lint:disable IdSelector, SelectorFormat
// sass-lint:disable no-ids, id-name-format
#close_16 path {
  stroke: inherit;
}

#complete path,
#search_16 path,
#add_16 path,
#store_22 path,
#icon-social-google g,
#icon-social-google path,
#icon-social-twitter path {
  fill: inherit;
}

#chevron_up_16 path,
#chevron_down_16 path,
#relations path,
#changes-machine-created path,
#export_16 path,
#help_16 path,
#import_16 path,
#share_16 path,
#add_16 path,
#minus_16 path {
  fill: currentColor;
}
// scss-lint:enable IdSelector, SelectorFormat
// sass-lint:enable no-ids, id-name-format
