.svg-icon {
    // Set a default stroke colour for any icon that has stroke: inherit.
    stroke: $warm-grey;
}

#close_16 path {
    stroke: inherit;
}

#search_16 path,
#add_16 path,
#store_22 path,
#icon-social-google g,
#icon-social-google path,
#icon-social-twitter path {
    fill: inherit;
}

#chevron_down_16 path,
#relations path,
#changes-machine-created path,
#export_16 path,
#import_16 path {
  fill: currentColor;
}
