.deployment-budget {
  &__loading {
    text-align: center;
  }

  &__form {
    margin-top: 20px;
    margin-bottom: 0;
  }

  &__increase {
    &-button {
      display: inline-block;
      margin-top: 10px;
    }

    &-form {
      padding: 20px;
    }
  }
}
