@import '../../../../assets/css/variables';

.status-label {
  &--pending,
  &--error,
  &--ok {
    transition: color 0.3s;
  }

  &--ok {
    color: $success;
  }

  &--error {
    color: $error;
  }

  &--pending {
    color: $pending;
  }
}
