.entity-content__diagram {
  clear: both;
  padding: 32px;
  text-align: center;
  background: $color-light;
  border-radius: 2px;
  border: 1px solid $color-mid-light;
  position: relative;
  margin-right: 12px;

  &-image {
    max-width: 100%;
    max-height: 350px;
  }

  &-expand {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background: $white;
    border: 1px solid $color-mid-light;
    border-radius: 2px;
    padding: 5px;

    .svg-icon {
      display: block;
    }

    &:hover {
      background: $color-light;
    }

    @media screen and (max-width: 768px) {
      display: none;
    }
  }
}
