.entity-content__diagram {
  clear: both;
  padding: 32px;
  text-align: center;
  background: $color-light;
  border-radius: 2px;
  border: 1px solid $color-mid-light;

  &-image {
    width: 100%;
  }
}
