.payment-methods {
  &__details {
    padding: 20px;
  }

  &__no-methods {
    .p-button--neutral {
      margin-left: 20px;
    }
  }

  &__form {
    padding: 1rem;

    &-buttons {
      padding: 1rem;
      margin-bottom: 0;
      text-align: right;

      .p-button--positive {
        margin-left: 20px;
      }
    }

    .inset-select {
      margin: 20px 0;
    }

    &-checkbox {
      margin-right: 10px;
    }
  }
}
