.profile-credential-list {

  tr {
    display: grid;
    grid-template-columns: 2fr 1.5fr 2fr 1fr;
  }

  &--highlighted {
    background-color: $white;
  }

  &__add {
    margin-right: 1rem;
    text-align: right;
  }

  .deployment-cloud__list {
    padding: 0 20px;
  }

  .deployment-cloud__cloud-logo svg {
    max-width: 200px;
  }

  .dropdown-menu {
    right: 7px;
  }

  .dropdown-menu__list {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .dropdown-menu__list-item-link {
    padding-right: 0;
    padding-left: 0;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 171px;
  }

  // XXX Override 'Add credentials' form styling until Deployment flow components are updated to Vanilla v1 styling
  .deployment-cloud__list {
    margin-bottom: 1rem;
    padding: 1rem;
    @extend %vf-clearfix;

    span {
      display: block;
    }

    .four-col {
      margin-right: .75rem;
    }

    .last-col {
      margin: 0;
    }
  }

  > .expanding-row--expanded {
    margin-bottom: 2rem;
  }

  .deployment-cloud__list {
    margin-left: 0;
    padding-bottom: 0;
  }

  .deployment-credential-add {
    input {
      padding: 25px 30px 8px 8px;
    }
    label {
      top: 2.75rem;
      position: relative;
    }
    .generic-input__errors {
      padding: 0;
      margin: 0;

      li {
        padding-left: 1.5rem;
      }
    }

    .inset-select {
      background-color: $color-x-light;
      border: 1px solid $color-light;
      border-radius: 2px;
      width: calc(100% - 20px);
      position: relative;

      &__label {
        padding: 8px;
        color: #666;
        font-size: .688em;
        position: absolute;
        top: 0;
      }

      &__field {
        padding: 25px 30px 0 8px;
        border: 0;
        border-radius: 0;
        box-shadow: none;
        line-height: 1.5rem;
      }
    }
  }

  .button-dropdown__button {
    padding: 0;
  }
}




