.profile-credential-list {
  &--highlighted {
    background-color: $white;
  }

  .profile__entity-table-header-row,
  .profile__entity-table-row {
    padding-right: 12px;
    padding-left: 12px;
  }

  &__add {
    margin-right: 1rem;
    text-align: right;
  }

  .deployment-cloud__list {
    padding: 0 20px;
  }

  .deployment-cloud__cloud-logo svg {
    max-width: 200px;
  }

  .dropdown-menu {
    right: 7px;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 171px;
  }
}
