.profile-credential-list {
  &--highlighted {
    background-color: $white;
  }

  &__add {
    margin-right: 1rem;
    text-align: right;
  }

  .deployment-cloud__list {
    padding: 0 20px;
  }

  .deployment-cloud__cloud-logo svg {
    max-width: 200px;
  }

  .dropdown-menu {
    right: 7px;
  }

  .dropdown-menu__list {
    padding: 0;
    margin: 0;
    text-align: center;
  }

  .dropdown-menu__list-item-link {
    padding-right: 0;
    padding-left: 0;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 171px;
  }

  // Override 'Add credentials' form styling until Deployment flow components are updated to Vanilla v1 styling

  .deployment-cloud__list {
    margin-bottom: 1rem;
    padding: 1rem;
    @extend %vf-clearfix;

    span {
      display: block;
    }

    .four-col {
      margin-right: .75rem;
    }

    .last-col {
      margin: 0;
    }

    > .expanding-row__expanded {
      margin-bottom: 2rem;
    }
  }
}




