.inspector-header {
    @extend %fade-in;
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid $mid-grey;

    &__back {
        vertical-align: middle;
        margin-right: 15px;
    }

    &__count {
        float: right;
    }

    &--type {
        &-error,
        &-pending,
        &-uncommitted {
            color: $white;
        }

        &-error {
            background-color: $error;
        }

        &-pending {
            background-color: $pending;
        }

        &-uncommitted {
            background-color: $uncommitted;
        }
    }
}
