.inspector-header {
    cursor: pointer;
    padding: 10px 20px;
    border-bottom: 1px solid $mid-grey;

    &__back {
        vertical-align: middle;
        margin-right: 15px;
    }

    &__count {
        float: right;
    }

    &--type {
        &-error,
        &-pending,
        &-uncommitted {
            color: $white;
        }

        &-error {
            background-color: $error;
            border-color: $error;
        }

        &-pending {
            background-color: $pending;
            border-color: $pending;
        }

        &-uncommitted {
            background-color: $uncommitted;
            border-color: $uncommitted;
        }
    }

    &__icon-container {
        box-shadow: 0 0 0px 2px #fff;
        float: right;
        border-radius: 50%;
    }

    &__service-icon {
        @extend %icon--small;
        margin-right: 16px;
        margin-right: 0;
        transform: scale(1.1);
    }
}
