.deployment-signup {
  .generic-input {
    display: inline-block;
    width: 50%;
  }

  .button--inline-positive {
    height: 52px;
    vertical-align: top;
  }

  .button--base {
    width: auto;
    padding: 0;
  }
}
