.inspector-header {
  border-bottom: 1px solid $mid-grey;
  cursor: pointer;
  padding: 10px 20px;

  &__back {
    vertical-align: middle;
    margin-right: 15px;
  }

  &__count {
    float: right;
  }

  &--type {
    &-error,
    &-pending,
    &-uncommitted {
      color: $white;
    }

    &-error {
      background-color: $error;
      border-color: $error;
    }

    &-pending {
      background-color: $pending;
      border-color: $pending;
    }

    &-uncommitted {
      background-color: $uncommitted;
      border-color: $uncommitted;
    }
  }

  &__icon-container {
    box-shadow: 0 0 0 2px $white;
    background-color: $white;
    float: right;
    border-radius: 50%;
  }

  &__service-icon {
    @extend %icon--small;
    margin-right: 0;
    transform: scale(1.1);
  }

  &__inline-list {
    margin-left: 1.25rem;
    margin-bottom: 0;
    margin-top: .5rem;
    padding-left: 0;

    .inspector-header__list-item {
      position: relative;
      display: inline;
      list-style: none;
      margin-right: 1.25rem;

      &:last-of-type,
      .last-item {
        margin-right: 0;
      }

      a {
        color: $color-link;
      }

      &::after {
        color: $color-mid-dark;
        content: '\00b7';
        font-size: 1.4rem;
        line-height: 0;
        position: absolute;
        right: -.8rem;
        top: .55rem;
      }

      &:hover::after {
        color: $color-mid-dark;
      }

      &:last-of-type,
      .last-item {
        &::after {
          content: '';
        }
      }
    }
  }
}
