.inspector-current-version {
    &__current {
        @extend %fade-in;
        padding: 10px 20px;
        border-bottom: 1px solid $mid-grey;
        line-height: 1.5;
    }
    &__current-version {
        color: $warm-grey;
    }

    &__versions {
        margin: 0;
        list-style: none;
    }
}
