.deployment-flow-panel {
  .deployment-direct-deploy {
    background-color: $white;

    &__image {
      margin-bottom: 20px;
      background-color: $light-grey;
      border: 1px solid $color-mid-light;
      text-align: center;

      &-block {
        $size: 96px + 80px;
        display: inline-block;
        width: $size;
        height: $size;
        margin: 40px;
        padding: 40px;
        border: 1px solid $warm-grey;
        border-radius: $size / 2;

        &-icon {
          border-radius: 48px;
        }
      }

      .entity-content__diagram {
        border-bottom: none;

        &-image {
          width: 100%;
          height: auto;
          max-height: 210px;
        }
      }
    }

    &__edit-model {
      float: right;
    }

    &__title {
      text-transform: capitalize;
    }
  }
}
