.unit-list-item {
    $fade-in-duration: .1s;
    padding: 11px 20px 11px 20px;
    animation-duration: $fade-in-duration;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    opacity: 0;

    input[type=checkbox] {
        margin-right: 15px;
    }

    label {
        display: inline;
    }

    &--nav:hover {
        background-color: $light-grey;
        cursor: pointer;

        label {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
