.unit-list-item {
    @extend %stagger-fade-in;
    padding: 11px 20px 11px 20px;

    input[type=checkbox] {
        margin-right: 15px;
    }

    label {
        display: inline;
    }

    &--nav:hover {
        background-color: $light-grey;
        cursor: pointer;

        label {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}
