@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@mixin fade-in($fade-in-duration) {
  animation-duration: $fade-in-duration;
  animation-name: fade-in;
  animation-fill-mode: forwards;
  opacity: 0;
}

%fade-in {
  @include fade-in(0.3s);
}

%stagger-fade-in {
  @include fade-in(0.1s);

  @for $i from 1 through 99 {
    $fade-in-stagger-speed: 0.03s;

    &:nth-child(#{$i}) {
      animation-delay: $fade-in-stagger-speed * $i;
    }
  }
}
