$bottom: 30px;

body.u-is-beta:before {
  position: fixed;
  bottom: $bottom;
  left: 20px;
  content: 'Beta';
  font-family: Ubuntu;
  font-size: 23px;
  font-weight: 300;
  opacity: 0.6;
  z-index: 10;
}

body.u-is-beta.display-cookie-notice:before {
  bottom: $bottom + 56px;
}
