$bottom: 30px;

body.u-is-beta:before {
  position: fixed;
  bottom: $bottom;
  left: 20px;
  content: 'Beta';
  font-family: Ubuntu;
  font-size: 23px;
  font-weight: 300;
  opacity: 0.6;
  z-index: 11;
}

/**
  TODO: Remove this when the status beta is over.
*/
body.u-is-beta.u-is-status:before {
  content: 'Status beta';
}

body.u-is-beta.display-cookie-notice:before {
  bottom: $bottom + 56px;
}
