// This is the content panel that slides out from the left that contains
// charm details etc.
.bws-view-data {
    @extend %customize-scrollbar;
    position: absolute;
    z-index: 600;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: $bws-panel-width;
    background-color: #fff;
    background-image: none;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);

    .left-breakout {
        .tab-panels {
            top: 97px;
        }

        .charm .yui3-juju-browser-tabview {
            margin-top: 30px;
        }

        .unit-overview {
            .header {
                height: auto;
            }

            .unit-info-tabs {
                padding: 30px;

                h3 {
                    @extend .type5;
                    margin-bottom: 20px;
                    padding-bottom: 15px;
                    border-bottom: 1px solid $bws-border;
                }

                tr {
                    border-bottom: 1px solid $bws-border;

                    th,
                    td {
                        padding: 10px 20px;
                    }

                    th {
                        @extend .type5;
                        text-align: left;
                        padding-top: 0;
                        padding-bottom: 15px;
                    }
                }
            }
            li ul {
                margin-left: 20px;
            }
        }
    }

    a.yui3-tab-label {
        color: $text-colour;
    }
    .content {
        @extend .border-box;
    }
    .header {
        @include transition(height 0.2s ease-out);
        @extend .type13;
        position: relative;
        // Add height for animation.
        height: 120px;
        padding: 30px;
        background: $bws-background;
        border-bottom: 1px solid $bws-border;
        // Need to hide the larger elements during the animation.
        overflow: hidden;

        h1 {
            @include transition(margin-top 0.1s ease-out);
            @extend .type2;
            margin: -3px 0 5px 0;
        }
        ul {
            margin: 0;
            list-style: none;

            li {
                line-height: 1.55;

                a {
                    color: $text-colour;
                    text-decoration: underline;
                }
            }
        }
    }
    .close-slot,
    .back.icon {
        position: absolute;
        /* Display above content */
        z-index: 1;
        display: block;
        top: 30px;
        right: 30px;
        width: 20px;
        height: 20px;
    }
    .collapsed {
        .header {
            // Change height for animation.
            height: 40px;

            h1 {
                margin-top: 5px;
            }
        }
        .tab-panels {
            top: 153px;
            padding-top: 0;
        }
        #sharing {
            // Need to hide the sharing icons when scrolled otherwise
            // it displays under the text.
            display: none;
        }
    }
}
