.dropdown-menu {
    position: relative;
    display: block;
    margin: -14px -20px 0 -20px;

    &.open {
        .menu-link {
            background-color: #000;
        }

        .dropdown {
            display: block;
        }
    }

    .menu-link {
        @extend .border-box;
        display: block;
        height: $navbar-height;
        padding: 14px 20px 0 20px;
        color: #d7d3d0;
    }

    .dropdown {
        display: none;
        position: absolute;
        z-index: 1000;
        top: $navbar-height;
        left: 0;
        width: 290px;
        background-color: #fff;
        border-radius: 0 0 4px 4px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);

        &.right {
            left: auto;
            right: 0;
            text-align: right;
        }

        &.narrow {
            min-width: 140px;
            width: auto;
        }

        a,
        p,
        li {
            color: $text-colour;
        }

        p {
            padding: 11px 20px;
        }

        header,
        footer {
            background-color: #000;
        }

        header {
            padding: 11px 20px;
            color: #f2f2e6;
            font-size: 16px;
            font-weight: 300;
        }

        footer {
            padding: 20px;

        }

        ul {
            max-height: 500px;
            overflow-y: auto;

            li {
                a {
                    display: block;
                    padding: 15px 20px;
                }
            }

            // Notification items
            .notice {
                padding: 20px;

                h4 {
                    margin-bottom: 10px;
                }

                small {
                    display: block;
                    margin-top: 5px;
                    font-size: 11px;
                    color: #aaa;
                }
            }
        }
    }
}
