/// Generic unclassed HTML elements
/// @group Generic
@mixin juju-gui-generic {

  //XXX: Temporarily remove the focus state of interactive elements:
  // Luca says: "Can we remove it for the time being and we'll make sure we
  // explore a solution for tabbing post-ODS."
  // https://github.com/juju/juju-gui/pull/840#issuecomment-141111802
  *:focus {
      outline: none;
  }

  html {
      overflow-y: hidden;
  }

  body {
      @include customize-scrollbar($white);
      overflow: hidden;
      height: 1vh;
      background: $canvas-background;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }

  input[type="text"],
  input[type="number"],
  input[type="password"] {
      padding: 5px 10px;
      background-color: #fff;
      border: 1px solid $mid-grey;
      border-radius: $border-radius;
      font-weight: 300;
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

  input[type="radio"],
  input[type="checkbox"] {
      $size: 14px;
      width: $size;
      height: $size;
      background-color: $white;
      border: 1px solid $mid-grey;
      box-shadow: inset 0 1px 1px .15px rgba(0, 0, 0, .15);
      color: $white;
      text-align: center;
      overflow: hidden;
      -webkit-appearance: button;

      &:checked {
          background-color: $success;
          border: none;
      }

      &:after {
          content: '';
          display: none;
          width: $size;
          height: $size;
      }

      &:checked:after {
          display: inline-block;
      }
  }

  input[type="radio"] {
      border-radius: 50%;
      vertical-align: middle;

      &:after {
          $size: 6px;
          width: $size;
          height: $size;
          margin-bottom: 5px;
          border-radius: 50%;
          background-color: #fff;
      }

      &:checked:after {
          display: inline-block;
      }
  }

  input[type="checkbox"] {
      border-radius: $border-radius;

      &:after {
          background: transparent url(static/gui/build/app/assets/images/non-sprites/tick.svg) no-repeat center 2px;
      }
  }

  select {
      box-shadow: inset 0 1px 2px 0 rgba(0, 0, 0, .12);
      -webkit-appearance: none;
      -moz-appearance: none;
      background: transparent;
      box-sizing: border-box;
      background-image: url("static/gui/build/app/assets/svgs/chevron_down_16.svg");
      background-repeat: no-repeat;
      background-position: calc(100% - 10px) center;
      background-color: $white;
      background-size: 12px;
      width: 100%;
      border: 1px solid $mid-grey;
      border-radius: 2px;
      padding: 9px 34px 9px 7px;
      color: $cool-grey;
      font-size: 16px;
  }

  svg {
      stroke-width: 0;
      overflow: hidden;
  }

  h1, h2, h3, h4, h5, h6 {
      margin: 0;
      font-family: inherit;
      font-weight: 300;
      color: inherit;
      text-rendering: optimizelegibility;
  }

  ul {
      padding: 0;
  }

  label {
      display: block;
  }

  strong {
      font-weight: 400;
  }

  .hidden {
      display: none;
      visibility: hidden;
  }

  pre {
      margin-bottom: 10px;
      padding: 5px;
      background-color: #fdf6f2;
      border: none;
  }

  pre,
  code {
      font-family: $font-family-mono;
      font-size: 14px;
      color: $cool-grey;
  }
}
