@import './mixins';
@import './variables';

// The main header above the canvas
.header-banner {
  position: absolute;
  top: 0;
  width: auto;
  height: $navbar-height;

  &--right {
    z-index: index($z-indexed-elements, header-banner-search);
    right: 0;
  }

  &--left {
    z-index: index($z-indexed-elements, header-banner-breadcrumbs);
    left: 0;
    width: 100%;
  }

  &__link {
    box-sizing: border-box;
    color: $dark-warm-grey;
    display: block;
    transition: color 0.3s;

    &:hover,
    &:active,
    &:focus {
      color: $link-blue;
    }
  }

  &__logo,
  &__provider {
    @extend .vertical-center;
    float: left;
    margin-left: 20px;
  }

  .header-banner__list--right {
    list-style: none;
    float: right;
    margin-right: 10px;
  }

  &__list-item {
    float: left;
    padding: 21px 8px;
    margin-bottom: 0;

    &--no-padding {
      padding: 0;
    }

    &--logout {
      padding-left: 0;
      padding-right: 0;

      .logout-link {
        display: inline-block;
        overflow: hidden;
        max-width: 100px;
        margin-right: 20px;
        margin-left: 10px;
      }
    }
  }

  .provider-logo {
    // A delay here means the provider logo will show up at the same time as
    // the breadcrumbs. The breadcrumbs have a delay because they first have
    // to hide the loading model message.
    @include visible($delay: 0.5s);

    &--disabled {
      @include hidden;
    }
  }
}

.header__button {
  @extend .tooltip;
  cursor: pointer;
  display: inline-block;
  border-radius: 2px;
  margin: 10px 0 10px 10px;
  padding: 11px;
  border: 1px solid $color-mid-light;
  transition: background-color 0.2s;
  background-color: $canvas-background;
  color: $warm-grey !important;

  &:hover {
    background-color: $white;
    color: $dark-warm-grey !important;
  }

  &:first-child {
    margin-left: 0;
  }

  &-icon {
    display: block;
  }
}
