
/*
 * The main header above the canvas
 */

.header-banner {
    position: absolute;
    top: 0;
    width: auto;
    height: $navbar-height;

    &--right {
        z-index: index($z-indexed-elements, header-banner-search);
        right: 0;
    }

    &--left {
        z-index: index($z-indexed-elements, header-banner-breadcrumbs);
        left: 0;
    }

    &__link {
        box-sizing: border-box;
        color: $cool-grey;
        display: block;

        &:hover,
        &:active,
        &:focus {
            text-decoration: none;
        }
    }

    &__logo {
        position: relative;
        float: left;
        top: -1px;
        padding: 15px 0 20px 20px;
    }

    .header-banner__list--right {
        @extend %list-style;
        float: right;
    }

    .header-banner__list-item {
        float: left;
        padding: 21px 8px;

        &--no-padding {
            padding: 0;
        }

        &--logout {
            padding-left: 0;
            padding-right: 0;

            .logout-link {
                display: inline-block;
                overflow: hidden;
                max-width: 100px;
                margin-right: 20px;
                color: $warm-grey;
                opacity: 1;
                transition: all .3s;

                &:focus,
                &:active,
                &:hover {
                    color: $ubuntu-orange;
                }

                &--hidden {
                    max-width: 0;
                    opacity: 0;
                    margin-right: 0;
                }
            }
        }
    }
}
