
/*
 * This is used for the initial page before displaying the canvas
 * e.g. connecting to Juju and browser not supported screens
 */
.centered-column {
    display: block;
    z-index: index($z-indexed-elements, centered-column);
    position: absolute;
    top: 80px;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    text-align: center;

    .panel {
        @include create-border-radius($border-radius);
        width: 280px;
        margin: 20px 0;
        padding: 0 20px 20px 20px;
        background-color: $light-grey;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.3);
        text-align: left;

        .header {
            margin: 0 -20px 20px -20px;
            padding: 10px 20px;
            background-color: $light-mid-grey;
            border-top-left-radius: $border-radius;
            border-top-right-radius: $border-radius;
            text-align: center;
        }

        form {
            padding-top: 10px;
            text-align: center;
        }
    }

    #loading-spinner {
        height: 100px;
        text-align: center;
    }
}
