// This is used for the initial page before displaying the canvas
// e.g. connecting to Juju and browser not supported screens

// scss-lint:disable IdSelector
#full-screen-mask { // sass-lint:disable-line no-ids, id-name-format
  // scss-lint:enable IdSelector
  display: block;
  position: absolute;
  z-index: index($z-indexed-elements, full-screen-mask);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $canvas-background;
}

.centered-column {
  display: block;
  z-index: index($z-indexed-elements, centered-column);
  position: absolute;
  top: 80px;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  text-align: center;

  .panel {
    border-radius: $border-radius;
    width: 280px;
    margin: 20px 0;
    padding: 0 20px 20px;
    background-color: $light-grey;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    text-align: left;

    .header {
      margin: 0 -20px 20px;
      padding: 10px 20px;
      background-color: $light-mid-grey;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      text-align: center;
    }

    form {
      padding-top: 10px;
      text-align: center;
    }
  }
}

#loading-message {  // sass-lint:disable-line no-ids, id-name-format
  .loading-header {
    &__logo {
      @include fade-in(.3s);
      display: inline-block;
      margin: 11px 0 0 20px;
    }

    &__search {
      position: absolute;
      top: 0;
      right: 0;
      padding: 11px 20px 0 0;
    }

    &__deploy {
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 0 20px 11px 0;
    }
  }

  .spinner-container {
    position: absolute;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 60px;
  }

  .spinner-loading {
    &:after {
      background: $light-grey;
    }
  }
}

@keyframes fade-in-half {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

.content-right {
  text-align: right;
}

.loading-fake-content {
  $size: 35px;
  animation-duration: 0.3s;
  animation-name: fade-in-half;
  animation-fill-mode: forwards;
  display: inline-block;
  background-color: $light-mid-grey;
  width: $size;
  height: $size;
  opacity: 0;

  &.space {
    background-color: transparent;
  }

  &.half-height {
    height: $size / 2;
  }

  &.cols {
    &-half {
      width: $size / 2;
    }

    &-one {
      width: $size;
    }

    &-two {
      width: $size * 2;
    }

    &-three {
      width: $size * 3;
    }

    &-four {
      width: $size * 4;
    }

    &-five {
      width: $size * 5;
    }

    &-six {
      width: $size * 6;
    }

    &-seven {
      width: $size * 7;
    }

    &-eight {
      width: $size * 8;
    }

    &-nine {
      width: $size * 9;
    }

    &-ten {
      width: $size * 10;
    }
  }
}
