// This is used for the initial page before displaying the canvas
// e.g. connecting to Juju and browser not supported screens

// scss-lint:disable IdSelector
#full-screen-mask { // sass-lint:disable-line no-ids, id-name-format
  // scss-lint:enable IdSelector
  display: block;
  position: absolute;
  z-index: index($z-indexed-elements, full-screen-mask);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $canvas-background;
}

.centered-column {
  display: block;
  z-index: index($z-indexed-elements, centered-column);
  position: absolute;
  top: 80px;
  left: 50%;
  width: 320px;
  margin-left: -160px;
  text-align: center;

  .panel {
    border-radius: $border-radius;
    width: 280px;
    margin: 20px 0;
    padding: 0 20px 20px;
    background-color: $light-grey;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);
    text-align: left;

    .header {
      margin: 0 -20px 20px;
      padding: 10px 20px;
      background-color: $light-mid-grey;
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
      text-align: center;
    }

    form {
      padding-top: 10px;
      text-align: center;
    }
  }


  #loading-indicator {  // sass-lint:disable-line no-ids, id-name-format
    $progress-bar-height: 8px;
    background-color: $light-mid-grey;
    border-radius: $border-radius;
    height: $progress-bar-height;
    position: relative;
    overflow: hidden;
    width: 100%;

    @keyframes progress-indicator {
      from {
        left: -50%;
        width: 50%;
      }
      to {
        left: 100%;
        width: 100%;
      }
    }

    &:after {
      animation: progress-indicator 1.25s linear infinite;
      background-color: $dark-grey;
      border-radius: $border-radius;
      content: " ";
      height: 100%;
      display: block;
      position: absolute;
      width: 50%;
    }
  }
}

#loading-message {  // sass-lint:disable-line no-ids, id-name-format
  top: 50%;
  margin: -100px 0 0 -25%;
  width: 50%;

  .panel {
    box-shadow: none;
    padding: 20px;
    width: auto;

    .header {
      background-color: transparent;
      font-size: 13px;
      color: $warm-grey;
      margin: 0;
    }
  }
}
