@mixin create-border-radius($radius) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin create-box-shadow($arguments...) {
    -moz-box-shadow: $arguments;
    -webkit-box-shadow: $arguments;
    box-shadow: $arguments;
}

/*
 * Rotation transform.  Call with numerical value and units, e.g.
 * .rotate(-90deg);
 */
@mixin rotate($angle) {
    -webkit-transform: rotate($angle);
    -moz-transform: rotate($angle);
    -ms-transform: rotate($angle);
    -o-transform: rotate($angle);
    transform: rotate($angle);
}

.border-box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

button,
.button {
    @extend %button;

    &.orange {
        @extend %button-orange;
    }
}

%button {
    transition: background-color .3s;
    display: inline-block;
    padding: 10px 20px;
    background-color: $white;
    border: 1px solid $mid-grey;
    border-radius: $border-radius;
    color: $ubuntu-orange;
    line-height: $base-line-height;
    text-align: center;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        background-color: $hover-background;
    }
}

%button-orange {
    @extend %button;
    border: none;
    background-color: $ubuntu-orange;
    color: $white;

    &:active,
    &:focus,
    &:hover {
        $colour: darken($ubuntu-orange, 10%);
        background-color: $colour;
        border-color: $colour;
    }
}

%button-blue {
    @extend %button;
    border: none;
    background-color: $uncommitted;
    color: $white;

    &:active,
    &:focus,
    &:hover {
        $colour: darken($uncommitted, 10%);
        background-color: $colour;
        border-color: $colour;
    }
}

%button-grey {
    @extend %button;
    border: none;
    background-color: $mid-grey;
    color: $white;

    &:active,
    &:focus,
    &:hover {
        $colour: darken($mid-grey, 10%);
        background-color: $colour;
        border-color: $colour;
    }
}

%button-disabled {
    @extend %button;
    $colour: $mid-grey;
    border-color: $colour;
    background-color: $colour;
    color: $white;
    cursor: default;

    &:active,
    &:focus,
    &:hover {
        background-color: $colour;
        border-color: $colour;
    }
}

@mixin customize-scrollbar($background) {
    ::-webkit-scrollbar {
        width: 10px;
    }
    ::-webkit-scrollbar-track {
        background-color: $background;
    }
    ::-webkit-scrollbar-thumb {
        background-color: #d4d4d4;
        border: 1px solid $background;
        border-radius: 5px;
    }
}

@mixin diamond($color: inherit) {
    @include rotate(45deg);
    content: '';
    width: 6px;
    height: 6px;
    position: absolute;
    display: block;
    background-color: $color;
}

%floating-panel {
    background-color: $white;
    border-radius: $border-radius;
    box-shadow: 0 1px 4.85px .15px rgba(0, 0, 0, 0.2);
}

@mixin notification($background) {
    $size: 24px;
    box-sizing: border-box;
    display: inline-block;
    min-width: $size;
    height: $size;
    padding: 0 7px;
    background-color: $background;
    border-radius: $size / 2;
    color: $white;
    line-height: $size;
    text-align: center;
}

%list-style {
    margin: 0;
    padding: 0;
    list-style: none;
}

%scroll-children {
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

%collapse-children {
    flex: 1 1 auto;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

%icon--small {
    $size: 24px;
    width: $size;
    height: $size;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    -webkit-clip-path: circle(($size / 2 - 1) at center);
    clip-path: circle(($size / 2 - 1) at center);
}
