@media only screen and (max-width: 600px) {
  // Hide canvas on small screens
  // scss-lint:disable IdSelector
  #viewport { // sass-lint:disable-line no-ids, id-name-format
    // scss-lint:enable IdSelector
    display: none;
  }

  // Inspector full width
  .env-size-display,
  .inspector-view {
    left: 0;
    width: 100%;
  }

  .env-size-display {
    top: 100px;
  }

  // Update to show deployment buttons at the bottom
  .inspector-view {
    top: 150px;
    max-height: calc(100% - 230px);
  }

  .overview-action__link:not(.hidden) {
    display: none;
  }

  // Only show search form when open
  .header-search__form {
    display: none;
  }

  #header-help {
    display: none;
  }

  #header-logo {
    width: 32px;
    overflow: hidden;
  }

  .header-breadcrumb {
    top: 15px;
    position: relative;
  }

  .header-breadcrumb__list-item {
    float: none;
    padding-left: 8px;
  }

  .header-breadcrumb--link:before,
  .env-switcher__name:before {
    content: '';
  }

  .env-switcher__toggle {
    margin-left: 0;
  }

  .header-search--active .header-search__form {
    display: inline;
  }

  .panel-component.env-list-panel {
    width: auto;
    right: -70px;
    top: 90px;

    &:before {
      left: 104px;
    }
  }

  // Inspector - change version
  .inspector-current-version__item .button--inline-neutral {
    display: inline-block;
  }

  // Entity tweaks
  .entity-content .row,
  .row-hero {
    padding: 20px 10px;
    margin-bottom: 0;
  }

  .entity-content__description .twelve-col {
    margin-bottom: 20px;
  }

  .entity-content__header {
    margin-bottom: 1em;
  }

  .entity-header {
    padding-bottom: 0;
  }

  .entity-header__social-list {
    margin-bottom: 20px;
  }

  .entity-content__metadata {
    margin: 0;
  }

  .entity-header--sticky {
    position: relative;
  }

  .entity-content .row {
    overflow: visible;
  }

  .charmbrowser {
    left: 0;
  }

  // Machine view
  .machine-view {
    z-index: index($z-indexed-elements, inspector-view);
  }

  .machine-view__content {
    display: block;
    top: 150px;
    left: 0;
    bottom: 80px;
    overflow-y: auto;
    width: 100%;
  }

  .machine-view__column {
    overflow: visible;
    display: block;
    border-left: 0;
  }

  .machine-view__column-content {
    overflow: inherit;
  }

  .machine-view__column-onboarding {
    display: none;
  }

  .machine-view__machine--selected {
    border-color: $mid-grey;
    margin: 0;
    padding-right: 10px;
    border-style: dashed;

    &.machine-view__machine--uncommitted {
      border-color: $uncommitted;
      margin: 0;
      padding-right: 10px;
      border-style: dashed;
    }
  }

  .more-menu__menu {
    margin-bottom: 20px;
  }

  // Deployment bar
  .panel-component.deployment-bar-panel {
    bottom: 20px;

    .deployment-bar__export,
    .deployment-bar__import,
    .button--inline-neutral {
      display: none;
    }
  }

  // Search results
  .search-results .list-block {
    .list-block__filters--selects {
      float: none;
      margin: 0 20px;

      select {
        width: 100%;
      }
    }

    .list-block__list--item .list-block__list--item-title {
      margin-bottom: .5em;
    }
  }


  // User profile
  .user-profile .inner-wrapper {
    margin: 0 10px;
  }

  .user-profile-header {
    padding-bottom: 40px;
  }

  .user-profile-header .button--inline-neutral {
    float: none;
    margin: 0 0 20px;
    display: block;
    width: 100%;
  }

  .user-profile-header__counts {
    margin: 10px;
  }

  .user-profile-header__count {
    margin-right: 10px;
  }

  .user-profile__list {
    .expanding-row__expanded-header {
      .ten-col {
        width: calc(100% - 120px);
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .expanding-row__expanded-header-action {
        float: right;
        position: relative;
        top: -30px;
      }
    }

    .expanding-row__expanded-content {
      padding-bottom: 10px;
    }

    .expanding-row--expanded .expanding-row__initial {
      display: none;
    }
  }

  .user-profile-header__username {
    display: inline-block;
    position: relative;
    top: -20px;
    width: calc(100% - 140px);
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .user-profile-header__avatar--default {
    display: inline-block;
    float: none;
  }

  .user-profile__entity--expanded {
    padding-left: 0;

    .user-profile__entity-details {
      margin-left: 0;
    }
  }

  .user-profile__list-header {
    display: none;
  }

  .user-profile__entity-details-content {
    padding-bottom: 7px;
  }

  .user-profile__header {
    padding-bottom: 0;
  }

  // Header search
  .header-search__submit {
    top: 0;
  }

  .header-search__search--mobile {
    display: inline-block;
  }

  // Import and export
  // scss-lint:disable IdSelector
  #model-actions-container { // sass-lint:disable-line no-ids, id-name-format
    // scss-lint:enable IdSelector
    bottom: 20px;
    left: 10px;
    position: fixed;
  }

  .header-search--active {
    .header-search__input {
      width: 74%;
    }
  }

  // scss-lint:disable IdSelector
  #zoom-container { // sass-lint:disable-line no-ids, id-name-format
    // scss-lint:enable IdSelector
    display: none;
  }

  .popup__panel--narrow {
    width: 100%;
    left: 0;
  }
}
