.modal {
  box-shadow: (0 1px 4.85px .15px rgba(0, 0, 0, .2));
  position: absolute;
  left: 8%;
  right: 8%;
  top: 15%;
  bottom: auto;
  z-index: index($z-indexed-elements, shortcut-help);
  background-color: $white;
  border-radius: $border-radius;
  overflow: auto;
  min-width: 300px;

  &--narrow {
    width: 500px;
    left: 50%;
    margin-left: -250px;
    right: auto;
    height: auto;
  }

  .bordered {
    border-bottom: 1px solid $light-mid-grey;
    padding: 20px;
  }

  .content {
    padding: 20px;

    [class$="col"] {
      margin-bottom: 10px;
    }
  }

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .close {
    position: absolute;
    right: 20px;
    top: 20px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }
}
