// Global color settings
$color-transparent:      transparent !default;

$color-brand:            #333 !default;
$color-link:        #007aa6 !default;

$color-x-light:          #fff !default;
$color-light:            #f7f7f7 !default;
$color-mid-light:        #cdcdcd !default;
$color-mid-dark:         #666 !default;
$color-dark:             #111 !default;
$color-x-dark:           #000 !default;

$color-negative:         #c7162b !default;
$color-caution:          #f99b11 !default;
$color-warning:          $color-caution !default; // To be removed in version 2.0
$color-positive:         #0e8420 !default;
$color-information:      #335280 !default;

$color-input-shadow:     rgba($color-x-dark, .12) !default;

// Global spacing settings
$sp-xx-small: 1rem * .25 !default;
$sp-x-small: 1rem * .5 !default;
$sp-small: 1rem * .75 !default;
$sp-medium: 1rem !default;
$sp-large: 1rem * 1.5 !default;
$sp-x-large: 1rem * 2 !default;
$sp-xx-large: 1rem * 2.5 !default;
$sp-xxx-large: 1rem * 3 !default;

// for _patterns_grid-list.scss
$grid-border-style:      1px dotted $color-mid-light !default;

$states: (
  error: $color-negative,
  caution: $color-caution,
  warning: $color-warning, // To be removed in version 2.0
  success: $color-positive,
  information: $color-information
);
