
// Processed with SCSS from app/assets/css/base.scss
$font-family-mono: 'Ubuntu Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;

// Vanilla overrides
$error: #c7162b;
$warning: #f99b11;
$success: #0e8420;

// Shades of grey
$light-grey: #f7f7f7;
$light-mid-grey: #d4d4d4;
$dark-grey: #9fa7aa;
$dark-warm-grey: #666;

// Status colours.
$uncommitted: #19b6ee;
$service-erroring: #ed3146;
$service-pending: #f99b0f;
$service-uncommitted: $uncommitted;

// Brand colours.
$ubuntu-orange: #dd4814;
$link-blue: #007aa6;

// Other colours.
$canvas-background: $light-grey;
$hover-background: $light-grey;
$dark-header: #002835;

// Spacing.
$base: 16px;
$base-line-height: 21px;
$border-radius: 2px;
$deployer-bar-height: 90px;
$environment-header-height: 40px;
$left-panel-width: 290px;
$navbar-height: 60px;
$panel-space: 10px;

// Other.
$box-shadow: 0 1px 4.85px .15px rgba(0, 0, 0, .2);
$box-shadow-dark: 0 1px 4.85px .15px rgba(0, 0, 0, 1);

// z-indexing
// Lower in the list, higher in the z
// sass-lint:disable indentation
$z-indexed-elements: search-results-list-block__tags,
  environment-drop-message,
  environment-help,
  search-results-list-block__tags-links,
  search-results-cell,
  search-results-cell--hover,
  boolean-config--handle,
  boolean-config--label,
  zoom,
  post-deployment,
  machine-view,
  inspector-view,
  env-size-display,
  header-banner-breadcrumbs,
  env-list-panel,
  footer,
  white-box,
  entity-sticky-header,
  header-banner-search,
  top-page,
  deployment-panel,
  notification-list,
  modal,
  usso-login-link,
  header-search--active,
  environment-drop-message-active,
  expanding-progress,
  popup,
  full-screen-mask,
  centered-column,
  notification,
  lightbox,
  back-to-help;
// sass-lint:enable indentation

// Asset path used by Vanilla to load fonts instead of asset server
$asset-path: 'static/gui/build/app/assets/';

// Classes for extending.
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Imports cloud vanilla theme from node_modules
@import 'cloud-vanilla-theme/scss/theme';

// Imports need to be after vars.
@import 'variables';
@import 'sprites';
@import 'animations';
@import 'mixins';
@import 'generic';
@import 'header';
@import 'loading';
@import 'modal';
@import 'tooltip';
@import 'components';

// Include required modules from Vanilla
@mixin required-vanilla-modules {
  @include vf-boxes;
  @include vf-equal-heights;
  @include vf-reset;
  @include vf-helpers;
  @include vf-clearfix;
  @include vf-grid;
  @include vf-lists;
  @include vf-rows;
  @include vf-typography;
  @include vf-tables;
}

// Include required modules from cloud vanilla theme
@mixin required-theme-modules {
  @include cloud-base;
  @include cloud-buttons;
  @include cloud-forms;
  @include cloud-instructions;
  @include cloud-rows;
  @include cloud-strips;
  @include cloud-typography;
}

// Juju GUI theme
@mixin juju-gui-vanilla-theme {
  @include required-vanilla-modules;
  @include required-theme-modules;
  @include juju-gui-buttons;
  @include juju-gui-generic;
}

// Build the Juju GUI theme
@include juju-gui-vanilla-theme;

// Canvas
@import 'canvas/canvas';
@import 'canvas/onboarding';
@import 'canvas/plus-service';
@import 'canvas/relation';
@import 'canvas/relation-menu';
@import 'canvas/service';
@import 'canvas/footer';

@import 'plugins/prism';
@import 'plugins/prism-overrides';

@import 'beta';

// Tablet styles
@import 'tablet';

// Mobile styles
@import 'mobile';

// XXX: The current version of Vanilla updates the link colour, but this breaks
// the gui styling. This override should be removed and the link colours set at
// some point in the future when someone has the powers.
a {
  color: $cool-grey;
  cursor: pointer;

  &.cold-link {
    color: $cool-grey;
  }
}
