
/* Processed with SCSS from app/assets/css/base.scss */
$font-family-mono: 'Ubuntu Mono', 'Bitstream Vera Sans Mono', 'Courier New', Courier, monospace;

/* Shades of grey */
$light-grey: #f5f5f5;
$light-mid-grey: #d4d4d4;
$dark-grey: #9fa7aa;

// Status colours.
$uncommitted: #19b6ee;

// Brand colours.
$ubuntu-orange: #dd4814;

// Other colous.
$canvas-background: $light-grey;
$hover-background: #f7f7f7;

// Spacing.
$base: 16px;
$base-line-height: 21px;
$border-radius: 2px;
$deployer-bar-height: 90px;
$environment-header-height: 40px;
$left-panel-width: 290px;
$navbar-height: 60px;
$panel-space: 10px;

// z-indexing
$z-indexed-elements: search-results-list-block__tags,
    search-results-list-block__tags-links,
    search-results-cell,
    search-results-cell--hover,
    boolean-config--handle,
    boolean-config--label,
    machine-view,
    notification-list,
    env-size-display,
    inspector-view,
    deployment-bar-panel,
    cookie-policy,
    header-banner-breadcrumbs,
    white-box,
    entity-sticky-header,
    header-banner-search,
    user-profile,
    deployment-panel,
    shortcut-help,
    more-menu,
    header-search--active,
    full-screen-mask,
    centered-column;

// Imports cloud vanilla theme from node_modules
@import '../../../../../../../node_modules/cloud-vanilla-theme/scss/theme';

// Imports need to be after vars.
@import "animations";
@import "mixins";
@import "generic";
@import "header";
@import "loading";
@import "shortcuts";
@import "tooltip";
@import "cookies";
@import "components";

// Include required modules from Vanilla
@mixin required-vanilla-modules {
  @include vf-boxes;
  @include vf-reset;
  @include vf-helpers;
  @include vf-clearfix;
  @include vf-grid;
  @include vf-lists;
  @include vf-rows;
  @include vf-typography;
  @include vf-tables;
}

// Include required modules from cloud vanilla theme
@mixin required-theme-modules {
  @include cloud-base;
  @include cloud-buttons;
  @include cloud-instructions;
  @include cloud-rows;
  @include cloud-strips;
  @include cloud-typography;
}

// Juju GUI theme
@mixin juju-gui-vanilla-theme {
  @include required-vanilla-modules;
  @include required-theme-modules;
  @include juju-gui-buttons;
  @include juju-gui-generic;
}

// Build the Juju GUI theme
@include juju-gui-vanilla-theme;

/** Canvas **/
@import "canvas/canvas";
@import "canvas/delete-subordinate";
@import "canvas/onboarding";
@import "canvas/plus-service";
@import "canvas/relation";
@import "canvas/relation-menu";
@import "canvas/service";

@import "plugins/prism";
@import "plugins/prism-overrides";
