.profile-expanded-content {
  padding: 12px;

  &__top-row {
    font-weight: 400;
    margin-bottom: 12px;
  }

  &__permissions {
    @extend %list-style;

    &-title {
      margin-top: 20px;
      font-weight: 400;
    }
  }

  &__permission {
    margin: 0;
  }
}
