.profile-expanded-content {
  padding: 20px;

  &__top-row {
    font-weight: 400;
    margin-bottom: 8px;

    &.last-col {
      padding-left: 16px;
    }
  }

  &__permissions {
    @extend %list-style;

    &-title {
      font-weight: 400;
      margin-bottom: 8px;
      margin-top: 16px;
    }
  }

  &__permission {
    margin: 0;
  }

  &__entity-desc {
    padding: 0 16px;
  }
}
