/// Button classes
/// @group Buttons
@mixin juju-gui-buttons {
  @include juju-gui-deployment-button;
}

/// Deployment button styling
/// @group Buttons
/// @example
/// <a class="button--deployment">
///   ...
/// </a>
@mixin juju-gui-deployment-button {
  .button--deployment,
  .button--inline-deployment {
    @extend %button-pattern;
    color: $white;
    background-color: $uncommitted;

    &:focus,
    &:active,
    &:hover {
      background-color: darken($uncommitted, 10%);
    }

    &:disabled,
    &.button--disabled {
      &:focus,
      &:active,
      &:hover {
        background-color: $uncommitted;
      }
    }
  }

  .button--inline-deployment {
    display: inline-block;
    width: auto;
  }
}
