.deployment-input {
    &__label {
        // Needs to be relative to appear above the input.
        position: relative;
        margin: 4px 0 -23px 10px;
        padding-top: 5px;
        font-size: 12px;
    }

    &__field[type=text] {
        width: calc(100% - 20px);
        height: 20px;
        margin-bottom: 20px;
        padding: 25px 10px 7px 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07) inset;
    }

    &__errors {
        @extend %list-style;
        margin: -10px 0 30px 0;
    }

    &__error {
        padding: 10px 20px;
        background-color: $error;
        border-radius: $border-radius;
        color: $white;
    }
}
