.deployment-input {
    &__label {
        // Needs to be relative to appear above the input.
        position: relative;
        margin: 4px 0 -23px 10px;
        padding-top: 5px;
        font-size: 0.688em;
    }

    &__field[type=text] {
        @extend %input;
        width: calc(100% - 20px);
        margin-bottom: 20px;
        padding-top: 25px;
        padding-bottom: 7px;
    }

    &__errors {
        @extend %list-style;
        margin: -10px 0 30px 0;
    }

    &__error {
        padding: 10px 20px;
        background-color: $error;
        border-radius: $border-radius;
        color: $white;
    }
}
