Added Services ({{count}})
<span class="action-indicator sprite-hover">
  {{#if closed}}
      <i class="sprite chevron_right_16 normal"></i>
      <i class="sprite chevron_right_hover_16 hover"></i>
  {{else}}
      <i class="sprite close_16 normal"></i>
      <i class="sprite close_hover_16 hover"></i>
  {{/if}}
</span>
