{{> bws-searchbox }}

<div class="browser-nav">
    <span class="home sprite-hover">
        <i class="sprite home_16 normal"></i>
        <i class="sprite home_hover_16 hover"></i>
        <span class="label">Home</span>
    </span>
</div>
