<div class="viewlet-manager-wrapper ghost">
  <div class="header-slot"></div>
  <div class="viewlet-manager-navigation"></div>
  <div class="viewlet-container"></div>
  <div class="viewlet-manager-footer">
    <div class="controls">
      <button class="cancel">Cancel</button>
      <button class="confirm">Deploy</button>
    </div>
    <div class="overview-footer-item">
      {{>service-destroy}}
    </div>
  </div>
</div>
