<span role="button" tabindex="0" class="menu-link link">
  More
</span>
<span class="dropdown right narrow">
  <ul>
    <li>
      <a href="https://jujucharms.com"
         target="_blank">jujucharms.com</a>
    </li>
    <li>
      <a href="https://jujucharms.com/docs/"
         target="_blank">Read the documentation</a>
    </li>
    <li class="landscape-url hidden">
      <a href="">Landscape</a>
    </li>
  </ul>
</span>
