<div class="left-breakout">
  <a href="" class="close-slot sprite-hover" data-slot="left-hand-panel">
      <i class="sprite close_24 normal"></i>
      <i class="sprite close_hover_24 hover"></i>
  </a>
  <div class="content">{{initial}}</div>
</div>
