<div class="action-block">
  <span class="title">New units</span>
    <button class="closed button inverse orange">
      <i class="sprite add_light_16"></i>
    </button>
    <button class="opened button inverse orange sprite-hover">
	      <i class="sprite close_16 normal"></i>
	      <i class="sprite close_hover_16 hover"></i>
    </button>
</div>
<form class="service-list">
  <ul></ul>
  <div class="actions">
    <span class="cancel button inverse">Cancel</span>
    <button class="add-units button inverse orange">Add Units</button>
  </div>
</form>
