<div class="twelve-col no-margin-bottom">
  <h2 class="bordered">Keyboard Shortcuts</h2>
  <span class="close" tabindex="0" role="button">
    <svg class="svg-icon" viewBox="0 0 16 16" style="width:16px;height:16px;">
      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#close_16">
      </use>
    </svg>
  </span>
</div>
<div class="six-col">
  <h3 class="bordered">Actions</h3>
  <div class="content">
    {{#bindings}}
    <div class="two-col">{{label}}</div>
    <div class="four-col last-col">{{help}}</div>
    {{/bindings}}
  </div>
</div>

<div class="six-col last-col">
  <h3 class="bordered">Custom GUI Settings</h3>
  <div class="content">
    <div class="two-col">
        <input type="checkbox" name="disable-cookie" id="disable-cookie"
        {{#if disable-cookie}}
        checked="checked"
        {{/if}}
        />
    </div>
    <div class="three-col last-col">
      <label for="disable-cookie">Disable the EU cookie warning.</label>
    </div>
    <div class="two-col">
      <input type="checkbox" name="force-containers" id="force-containers"
      {{#if force-containers}}
      checked="checked"
      {{/if}}
            />
      </div>
      <div class="three-col last-col">
        <label for="force-containers">Enable container control for this provider.</label>
      </div>
      <div class="two-col">
        <input type="input" name="environmentName" id="environmentName" value="{{environmentName}}"/>
      </div>
      <div class="three-col last-col">
        <label for="environment-name">Change the name of this environment in the GUI.</label>
      </div>
      <div class="two-col">
        <input type="checkbox" name="auto-place-default"
        id="auto-place-default"
        {{#if auto-place-default }} checked="checked" {{/if}}
        />
      </div>
      <div class="three-col last-col">
        <label for="auto-place-default">Default to automatically place units on commit.</label>
      </div>
      <div class="two-col">
        <input type="button" class="button" name="save-settings" id="save-settings" value="Save"/>
      </div>
      <div class="three-col last-col">
        NOTE: saving will reload the GUI so the settings take effect.
      </div>
    </div>
  </div>
</div>
