<span role="button" tabindex="0" class="menu-link link">
  <svg class="svg-icon"
      viewBox="0 0 16 16"
      style="width:16px; height:16px;">
      <use xlink:href="#user_16" />
  </svg>
  Admin
</span>
<span class="dropdown narrow">
  <ul>
    <li>
      <a href="" class="sign-out logout-trigger">Sign out</a>
    </li>
  </ul>
</span>
