<div class="unit-list-header">
  <div class="change-version-close link sprite-hover">
      <i class="sprite close_16 normal"></i>
      <i class="sprite close_hover_16 hover"></i>
  </div>
  Change version
</div>
<ul class="unit-list">
  {{#each versions}}
  <li>
    <a href="{{strip_cs this}}">{{this}}</a>
    <a class="upgrade-link right-link" data-upgradeto="{{this}}">Upgrade</a>
  </li>
  {{/each}}
</ul>
