.constraints {
    &__label {
        margin-left: 30px;
        font-size: .875em;
        margin-bottom: 1px;
    }

    &__input {
        margin: 5px 20px 10px 20px;
        height: 28px;
        width: 230px;
    }
}
