#subapp-browser #bws-sidebar .bws-content .services-list {
  @extend .bws-list;
  top: 207px;
  .token {
    border: 1px #ccc;
    border-bottom-style: solid;
    padding: 10px 20px;
    overflow: auto;
    .icon {
      height: 20px;
      float: left;
      margin-right: 10px;
    }
    .name {
      font-size: 16px;
      font-weight: 300;
      float: left;
      vertical-align: text-top;
      color: #505050;
      max-width: 124px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
    .unit-count {
      font-size: 14px;
      color: #888;
      float: left;
      margin-left: 5px;
    }
    .action {
      height: 22px;
      width: 22px;
      float: right;
      border-radius: 3px;
      margin-left: 10px;
      display: block;
    }
    .sprite.eye-selected {
      width: 21px;
    }
    &:hover {
      .sprite {
        height: 22px;
        width: 22px;
      }
      .sprite.eye-default {
        background-position: 0 0;
        background-image: url("/juju-ui/assets/images/eye-hover.png");
        margin-top: 7px;
      }
      .sprite.highlight-default {
        background-position: 0 0;
        background-image: url("/juju-ui/assets/images/highlight-hover.png");
        margin-top: 6px;
      }
      .sprite.eye-selected {
        width: 21px;
      }
      .sprite.highlight-selected {
        height: 16px;
      }
    }
  }
}
#subapp-browser #bws-sidebar .bws-content {
  .no-services {
    padding: 10px 20px;
    &.hide {
      display: none;
    }
  }
  .environment-counts {
    position: absolute;
    top: 137px;
    width: 250px;
    height: 50px;
    margin-left: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    li:nth-child(1) {
      margin-left: 10px;
    }
    li {
      list-style-type: none;
      width: 30%;
      float: left;
      text-align: center;
      font-size: 14px;
      color: #333;
      margin-top: 8px;
    }
  }
}
