#subapp-browser #bws-sidebar {
    .yui3-search-widget-focused .bws-searchbox form input {
        border-color: $charm-panel-orange;
        color: $text-colour;
    }
    .yui3-search-widget-hidden {
        display: none;
    }
    .bws-searchbox {
        width: 250px;
        position: relative;

        form {
            margin: 0;

            .search {
                position: absolute;
                top: 10px;
                right: 10px;
            }
            input {
                @extend .border-box;
                height: 40px;
                width: 100%;
                margin: 0;
                padding: 0 40px 0 10px;
                background-color: #fff;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
                border: 1px solid $bws-border;
                outline: none;
                border-radius: $border-radius;
                font-size: 16px;
                color: #bbb;
            }
        }
    }
    .browser-nav {
        padding: 30px 0 10px 0;
        display: none;

        .home {
            color: #757575;
            font-size: 14px;
            cursor: pointer;

            .sprite {
                margin-right: 2px;
            }
            .label:hover {
                text-decoration: underline;
            }
        }
    }
    .with-home .browser-nav {
        display: block;
    }
}
