.status-view {
  @include customize-scrollbar($canvas-background);
  @include fade-in(.1s);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $canvas-background;
  z-index: index($z-indexed-elements, machine-view);

  &__content {
    overflow: auto;
    position: absolute;
    top: $navbar-height + 10px;
    bottom: $deployer-bar-height;
    left: $left-panel-width + 20px;
    right: 0;
    margin-left: 20px;
    padding-right: 20px;
  }

  &__link {
    @extend .link;
    cursor: pointer;
    font-weight: 200 !important;
  }

  &__icon {
    $size: 20px;
    width: $size;
    height: $size;
    margin-right: 10px;
    border-radius: $size / 2;
    vertical-align: middle;
  }

  &__table {
    @extend %stagger-fade-in;

    &-header {
      margin-bottom: 0;
      border-bottom: 0;
    }

    &-row {
      margin-bottom: 10px;
      padding: 15px;
      border: 1px solid $light-mid-grey;
      border-radius: 4px;
      transition: border .3s;

      &--uncommitted {
        border-color: $uncommitted;
      }

      &--pending {
        border-color: $pending;
      }

      &--error {
        border-color: $error;
      }
    }

    &-column {
      margin-bottom: 0;
    }
  }

  &__status {
    &--pending,
    &--error,
    &--ok {
      transition: color .3s;
    }

    &--ok {
      color: $success;
    }

    &--error {
      color: $error;
    }

    &--pending {
      color: $pending;
    }
  }
}
