.status-view {
  @include customize-scrollbar($canvas-background);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $canvas-background;
  z-index: index($z-indexed-elements, machine-view);

  &__content {
    @include fade-in(.1s);
    overflow: auto;
    position: absolute;
    top: $navbar-height + 10px;
    bottom: $deployer-bar-height;
    left: $left-panel-width + 20px;
    right: 0;
    margin-left: 20px;
    padding-right: 20px;
  }

  &__traffic-light {
    $size: 15px;
    display: inline-block;
    width: $size;
    height: $size;
    margin-left: 15px;
    border-radius: $size / 2;
    transition: background-color .3s;
    cursor: pointer;

    &--ok {
      background-color: $success;
    }

    &--error {
      background-color: $error;
    }

    &--pending {
      background-color: $pending;
    }
  }

  &__filter {
    &-label {
      padding-top: 9px;
      text-align: right;
    }

    &-select {
      text-transform: capitalize;
    }
  }

  &__link {
    @extend .link;
    position: relative;
    // Raise all links above the main row link.
    z-index: 2;
    cursor: pointer;
    font-weight: 200 !important;
  }

  &__icon {
    $size: 20px;
    width: $size;
    height: $size;
    margin-right: 10px;
    border-radius: $size / 2;
    vertical-align: middle;
  }

  &__status {
    &--pending,
    &--error,
    &--ok {
      transition: color .3s;
    }

    &--ok {
      color: $success;
    }

    &--error {
      color: $error;
    }

    &--pending {
      color: $pending;
    }
  }
}
