.inspector-current-version {
    &__item {
        @extend %stagger-fade-in;
        padding: 10px 20px;
        line-height: 1.5;
        cursor: pointer;

        .button--inline-neutral {
            display: none;
            float: right;
            margin-top: -3px;
            padding: 5px 10px;
        }

        &:focus,
        &:active,
        &:hover {
            background-color: $hover-background;

            .button--inline-neutral {
                display: block;
            }
        }
    }

    &__title {
        color: $cool-grey;
        text-decoration: underline;
    }
}
