.account__payment-details {
  &-addresses {
    @extend %list-style;

    .inset-select--disabled {
      margin-bottom: 20px;
    }
  }

  &-fields {
    width: 60%;
  }
}

.account__payment-details-view .account__payment-details-title-button {
  margin-left: 20px;
}
