// Flipping inspired by https://davidwalsh.name/css-flip.
.payment-card {
  $width: 300px;
  $height: 200px;

  &-wrapper {
    float: left;
    width: $width;
    height: $height;
    margin: 0 30px 20px 0;
    perspective: 1000px;
    cursor: pointer;

    &--flipped {
      .payment-card-container {
        transform: rotateY(180deg);
      }
    }
  }

  &-container {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
    backface-visibility: hidden;
  }

  &-front {
    z-index: 2;
  }

  &-back {
    transform: rotateY(180deg);
  }

  &-front,
  &-back {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    padding: 20px 40px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: $box-shadow;
    overflow: hidden;
    backface-visibility: hidden;
  }

  &-overlay {
    position: absolute;
    top: -40px;
    right: -40px;
  }

  &-overlay:after,
  &-overlay:before {
    content: '';
    position: absolute;
    width: 300px;
    height: 300px;
    background-color: $black;
    opacity: .05;
  }

  &-overlay:before {
    top: 85px;
    right: -170px;
    transform: rotate(30deg);
  }

  &-overlay:after {
    top: -210px;
    left: -230px;
    transform: rotate(17deg);
  }

  &-name,
  &-number {
    margin-top: 70px;
  }

  &-name {
    text-align: center;
  }

  &-bottom {
    margin-top: 40px;
  }

  &-expiry {
    float: left;
  }

  &-brand {
    float: right;
    margin-top: -10px;
  }

  &-actions {
    padding-top: 1rem;
  }

  &-actions {
    .button--inline-neutral {
      margin-bottom: 10px;
    }
  }
}

.payment-card-actions {

  button {
    width: calc(50% - .5rem);
    padding: 1rem .75rem;

    &:first-child {
      margin-right: 1rem;
    }
  }
}
