.payment-details-address {
  &__edit {
    padding: 20px;
  }

  &__buttons {
    text-align: right;

    .button--inline-neutral {
      margin-right: 10px;
    }
  }

  .address-form {

    .inset-select {
      margin-bottom: 20px;
    }
  }
}
