// scss-lint:disable IdSelector
// sass-lint:disable no-ids, id-name-format
#content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#main {
  overflow: hidden;
}

#canvas {
  position: relative;
}
// scss-lint:disable IdSelector
// sass-lint:enable no-ids, id-name-format

.zoom-plane {
  cursor: move;
  fill-opacity: 0;
}
