// scss-lint:disable IdSelector
#content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#main {
  overflow: hidden;
}

#canvas {
  position: relative;
}
// scss-lint:disable IdSelector

.zoom-plane {
  cursor: move;
  fill-opacity: 0;
}
