#content {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

#main {
  overflow: hidden;
}

#canvas {
  position: relative;
}

.zoom-plane {
  fill-opacity: 0;
  cursor: move;
}
