.yui3-panel {
    border-radius: $border-radius;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .3);

    .yui3-widget-bd {
        margin-bottom: 20px;
    }
    .yui3-widget-buttons {
        float: right;

        .button {
            margin-left: 10px;
        }
    }
}

.yui3-widget-mask {
    background: transparent;
    opacity: 0;
}
