
// Intro text that appears on the canvas if there are no deployed services.
.environment-help {
  height: 100%;
  overflow: hidden;
  padding: 40px 0 0;
  // This is absolute so that it does not push the svg down when it is
  // visible.  That's important for animations hiding and showing this help,
  // and if we want the help to appear when a service is present (such as the
  // GUI itself).
  position: absolute;
  text-align: center;
  width: 100%;

  &__content {
    height: 450px;
    margin: 0 auto;
    padding-right: $environment-header-height;
    width: 789px;
  }

  &__drop-message {
    position: absolute;
    z-index: index($z-indexed-elements, environment-drop-message);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(247, 247, 247, 0.7);
    opacity: 0;
    transition: opacity .3s;

    &--active {
      z-index: index($z-indexed-elements, environment-drop-message-active);
      opacity: 1;
    }

    &-content {
      color: $dark-warm-grey;
      font-size: 32px;
      position: relative;
      top: 290px;
    }
  }

  &__tooltip {
    background: $white;
    box-shadow: $box-shadow;
    box-sizing: border-box;
    color: $warm-grey;
    font-size: 18px;
    line-height: normal;
    margin: 20px auto;
    padding: 12px 25px;
    position: relative;
    z-index: index($z-indexed-elements, environment-help);
    top: 110px;
    transition: opacity .3s;
    width: 260px;

    &:after {
      background: $white;
      border-bottom: 2px solid $grey;
      border-right: 2px solid $grey;
      bottom: -8px;
      content: '';
      height: 10px;
      left: calc(50% - 8px);
      position: absolute;
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
      width: 10px;
    }
  }

  &__image {
    position: relative;
    z-index: index($z-indexed-elements, environment-help);
    top: 75px;
    height: 386px;
    stroke-width: 1;
    transition: opacity .3s;
    width: 789px;
  }

  &.shrink {
    display: none;

    .environment-help__tooltip,
    .environment-help__image {
      display: none;
    }

    .environment-help__content {
      height: auto;
      width: auto;
    }
  }
}
