.plus-service {
  cursor: pointer;
  transition: opacity .4s ease;

  &.fade {
    opacity: .2;
    stroke-opacity: .2;
    visibility: visible;
  }

  &.included-plus {
    display: none;

    &.show {
      display: block;
    }
  }

  &__halo {
    opacity: 0;
    // scss-lint:disable PropertySpelling
    r: 60;
    // scss-lint:enable PropertySpelling
    transition: all .3s;
  }

  &__plus-circle {
    fill: $success;
  }

  &:focus,
  &:active,
  &:hover {
    .plus-service__halo {
      opacity: 1;
      // scss-lint:disable PropertySpelling
      r: 80;
      // scss-lint:enable PropertySpelling
    }

    .plus-service__inner-circle {
      fill: $white;
    }
  }
}
