$subordinate-relation: #33c;
$pending-relation: #faaf40;
$pending-relation--dragging: #fa6a40;

.relation {
  stroke: rgb(167, 167, 167);
  stroke-width: 1px;

  &.error {
    stroke: $error;
  }

  &.subordinate {
    stroke: rgb(167, 167, 167);
  }

  &.healthy {
    stroke: rgb(167, 167, 167);
  }

  &.pending {
    stroke: $uncommitted;
  }

  &.pending-healthy,
  &.pending-error {
    stroke: $uncommitted;
  }

  &.pending-relation {
    stroke: $uncommitted;
  }

  &.unused {
    visibility: hidden;
  }

  &.subordinate-relation {
    stroke: $subordinate-relation;
  }
}

.connector1,
.connector2 {

  &.error {
    fill: $error;
  }

  &.subordinate {
    fill: rgb(167, 167, 167);
  }

  &.healthy {
    fill: rgb(167, 167, 167);
  }

  &.pending {
    fill: $uncommitted;
  }

  &.pending-healthy,
  &.pending-error {
    fill: $uncommitted;
  }

  &.pending-relation {
    fill: $pending-relation;

    &.dragging {
      fill: $pending-relation--dragging;
    }
  }

  &.unused {
    visibility: hidden;
  }

  &.subordinate-relation {
    fill: $subordinate-relation;
  }
}

.rel-group {
  // scss-lint:disable PlaceholderInExtend
  @extend .visibility-classes;
  // scss-lint:enable PlaceholderInExtend
}

.rel-indicator {
  cursor: pointer;
}

.dragline__indicator,
.dragline__indicator-image {
  opacity: 0;
  pointer-events: none;
}

.dragging ~ .dragline__indicator,
.dragging ~ .dragline__indicator-image {
  opacity: 1;
}
