g.service {
   @extend .visibility-classes;
   fill: none;
   stroke: none;

   .service-block {
      transition: all .3s;
   }

   .relation-button {
      transition: transform .3s;
      transform: translate(95px, 30px);

      &__link {
         cursor: pointer;

         &:hover {
            fill: $white;
         }
      }

      &__image {
         pointer-events: none;
      }

      circle {
         background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgd2lkdGg9IjE2IiAgIGhlaWdodD0iMTUuOTk5OTk5IiAgIGlkPSJzdmc1OTE4IiAgIHZlcnNpb249IjEuMSIgICBpbmtzY2FwZTp2ZXJzaW9uPSIwLjkxcHJlMiByIiAgIHZpZXdCb3g9IjAgMCAxNiAxNS45OTk5OTkiICAgc29kaXBvZGk6ZG9jbmFtZT0iYnVpbGQtcmVsYXRpb25fMTYuc3ZnIj4gIDxkZWZzICAgICBpZD0iZGVmczU5MjAiPiAgICA8Y2xpcFBhdGggICAgICAgaWQ9ImNsaXBQYXRoMTYiICAgICAgIGNsaXBQYXRoVW5pdHM9InVzZXJTcGFjZU9uVXNlIj4gICAgICA8cGF0aCAgICAgICAgIGlua3NjYXBlOmNvbm5lY3Rvci1jdXJ2YXR1cmU9IjAiICAgICAgICAgaWQ9InBhdGgxOCIgICAgICAgICBkPSJtIDAsNTk1LjI4IDg0MS44OSwwIEwgODQxLjg5LDAgMCwwIDAsNTk1LjI4IFoiIC8+ICAgIDwvY2xpcFBhdGg+ICAgIDxjbGlwUGF0aCAgICAgICBpZD0iY2xpcFBhdGgxNi0wIiAgICAgICBjbGlwUGF0aFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+ICAgICAgPHBhdGggICAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAgICAgICAgIGlkPSJwYXRoMTgtMSIgICAgICAgICBkPSJtIDAsNTk1LjI4IDg0MS44OSwwIEwgODQxLjg5LDAgMCwwIDAsNTk1LjI4IFoiIC8+ICAgIDwvY2xpcFBhdGg+ICAgIDxjbGlwUGF0aCAgICAgICBpZD0iY2xpcFBhdGgxNi05IiAgICAgICBjbGlwUGF0aFVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+ICAgICAgPHBhdGggICAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAgICAgICAgIGlkPSJwYXRoMTgtMyIgICAgICAgICBkPSJtIDAsNTk1LjI4IDg0MS44OSwwIEwgODQxLjg5LDAgMCwwIDAsNTk1LjI4IFoiIC8+ICAgIDwvY2xpcFBhdGg+ICA8L2RlZnM+ICA8c29kaXBvZGk6bmFtZWR2aWV3ICAgICBpZD0iYmFzZSIgICAgIHBhZ2Vjb2xvcj0iI2RlZGVkZSIgICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IiAgICAgYm9yZGVyb3BhY2l0eT0iMS4wIiAgICAgaW5rc2NhcGU6cGFnZW9wYWNpdHk9IjAiICAgICBpbmtzY2FwZTpwYWdlc2hhZG93PSIyIiAgICAgaW5rc2NhcGU6em9vbT0iMzAuMzU3NjYxIiAgICAgaW5rc2NhcGU6Y3g9IjYuMTE0MzgzIiAgICAgaW5rc2NhcGU6Y3k9IjcuNDYzMTc1OSIgICAgIGlua3NjYXBlOmRvY3VtZW50LXVuaXRzPSJweCIgICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9Imc1MzQ2IiAgICAgc2hvd2dyaWQ9InRydWUiICAgICBmaXQtbWFyZ2luLXRvcD0iMCIgICAgIGZpdC1tYXJnaW4tbGVmdD0iMCIgICAgIGZpdC1tYXJnaW4tcmlnaHQ9IjAiICAgICBmaXQtbWFyZ2luLWJvdHRvbT0iMC4yIiAgICAgaW5rc2NhcGU6c25hcC1iYm94PSJ0cnVlIiAgICAgaW5rc2NhcGU6YmJveC1wYXRocz0idHJ1ZSIgICAgIGlua3NjYXBlOmJib3gtbm9kZXM9InRydWUiICAgICBpbmtzY2FwZTpzbmFwLWJib3gtZWRnZS1taWRwb2ludHM9InRydWUiICAgICBpbmtzY2FwZTpzbmFwLWJib3gtbWlkcG9pbnRzPSJ0cnVlIiAgICAgaW5rc2NhcGU6b2JqZWN0LXBhdGhzPSJ0cnVlIiAgICAgaW5rc2NhcGU6c25hcC1pbnRlcnNlY3Rpb24tcGF0aHM9InRydWUiICAgICBpbmtzY2FwZTpvYmplY3Qtbm9kZXM9InRydWUiICAgICBpbmtzY2FwZTpzbmFwLXNtb290aC1ub2Rlcz0idHJ1ZSIgICAgIGlua3NjYXBlOnNuYXAtbWlkcG9pbnRzPSJ0cnVlIiAgICAgaW5rc2NhcGU6c25hcC1vYmplY3QtbWlkcG9pbnRzPSJ0cnVlIiAgICAgaW5rc2NhcGU6c25hcC1jZW50ZXI9InRydWUiPiAgICA8aW5rc2NhcGU6Z3JpZCAgICAgICB0eXBlPSJ4eWdyaWQiICAgICAgIGlkPSJncmlkNDEzNyIgICAgICAgb3JpZ2lueD0iLTAuMDAwMTEyOTYzNTRweCIgICAgICAgb3JpZ2lueT0iLTguOTk5OTczcHgiIC8+ICA8L3NvZGlwb2RpOm5hbWVkdmlldz4gIDxtZXRhZGF0YSAgICAgaWQ9Im1ldGFkYXRhNTkyMyI+ICAgIDxyZGY6UkRGPiAgICAgIDxjYzpXb3JrICAgICAgICAgcmRmOmFib3V0PSIiPiAgICAgICAgPGRjOmZvcm1hdD5pbWFnZS9zdmcreG1sPC9kYzpmb3JtYXQ+ICAgICAgICA8ZGM6dHlwZSAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz4gICAgICAgIDxkYzp0aXRsZT48L2RjOnRpdGxlPiAgICAgIDwvY2M6V29yaz4gICAgPC9yZGY6UkRGPiAgPC9tZXRhZGF0YT4gIDxnICAgICBpbmtzY2FwZTpsYWJlbD0iTGF5ZXIgMSIgICAgIGlua3NjYXBlOmdyb3VwbW9kZT0ibGF5ZXIiICAgICBpZD0ibGF5ZXIxIiAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTE4Mi45Mzg0OSwtNTYwLjcyMDEpIj4gICAgPGcgICAgICAgc3R5bGU9ImRpc3BsYXk6aW5saW5lIiAgICAgICB0cmFuc2Zvcm09Im1hdHJpeCgwLjY2NjY2NjA3LDAsMCwwLjY2NjY2NjY4LC02MzMuMDYwOTYsNi44MTE5NDI3KSIgICAgICAgaWQ9Imc1Njg3IiAvPiAgICA8ZyAgICAgICBzdHlsZT0iZGlzcGxheTppbmxpbmUiICAgICAgIGlkPSJnNTM0NiIgICAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTc2OS4wNjE1MSw0MDQuMzU3OTIpIj4gICAgICA8ZyAgICAgICAgIHN0eWxlPSJkaXNwbGF5OmlubGluZSIgICAgICAgICBpbmtzY2FwZTpsYWJlbD0iTGF5ZXIgMSIgICAgICAgICBpZD0ibGF5ZXIxLTgiICAgICAgICAgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTk4OC41NzEzLC03MC44NTY5MzEpIj4gICAgICAgIDxwYXRoICAgICAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZTp4eC1zbWFsbDtsaW5lLWhlaWdodDpub3JtYWw7Zm9udC1mYW1pbHk6c2Fucy1zZXJpZjstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOnNhbnMtc2VyaWY7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO3RleHQtZGVjb3JhdGlvbi1saW5lOm5vbmU7bGV0dGVyLXNwYWNpbmc6bm9ybWFsO3dvcmQtc3BhY2luZzpub3JtYWw7dGV4dC10cmFuc2Zvcm06bm9uZTtkaXJlY3Rpb246bHRyO2Jsb2NrLXByb2dyZXNzaW9uOnRiO3dyaXRpbmctbW9kZTpsci10YjtiYXNlbGluZS1zaGlmdDpiYXNlbGluZTt0ZXh0LWFuY2hvcjpzdGFydDtjbGlwLXJ1bGU6bm9uemVybztkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO3Zpc2liaWxpdHk6dmlzaWJsZTtjb2xvci1pbnRlcnBvbGF0aW9uOnNSR0I7Y29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzOmxpbmVhclJHQjtmaWxsOiM4MDgwODA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjE7bWFya2VyOm5vbmU7Y29sb3ItcmVuZGVyaW5nOmF1dG87aW1hZ2UtcmVuZGVyaW5nOmF1dG87c2hhcGUtcmVuZGVyaW5nOmF1dG87dGV4dC1yZW5kZXJpbmc6YXV0bztlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIiAgICAgICAgICAgZD0ibSAtMTAzNS40MDQ3LDI0My4yMTkzMyBjIC0wLjYzNzcsMCAtMS4xNjY3LC0wLjUyODk4IC0xLjE2NjcsLTEuMTY2NjcgbCAwLC0yLjY2NjY2IGMgMCwtMC42Mzc2OSAwLjUyOSwtMS4xNjY2NyAxLjE2NjcsLTEuMTY2NjcgbCAyLjY2NjYsMCBjIDAuNjM3NywwIDEuMTY2NywwLjUyODk4IDEuMTY2NywxLjE2NjY3IGwgMCwyLjY2NjY2IGMgMCwwLjYzNzY5IC0wLjUyOSwxLjE2NjY3IC0xLjE2NjcsMS4xNjY2NyBsIC0yLjY2NjYsMCB6IG0gMCwtMSAyLjY2NjYsMCBjIDAuMTAxLDAgMC4xNjY3LC0wLjA2NTcgMC4xNjY3LC0wLjE2NjY3IGwgMCwtMi42NjY2NiBjIDAsLTAuMTAwOTkgLTAuMDY2LC0wLjE2NjY3IC0wLjE2NjcsLTAuMTY2NjcgbCAtMi42NjY2LDAgYyAtMC4xMDEsMCAtMC4xNjY3LDAuMDY1NyAtMC4xNjY3LDAuMTY2NjcgbCAwLDIuNjY2NjYgYyAwLDAuMTAwOTkgMC4wNjYsMC4xNjY2NyAwLjE2NjcsMC4xNjY2NyB6IiAgICAgICAgICAgaWQ9InJlY3Q0MTk0IiAgICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgLz4gICAgICAgIDxwYXRoICAgICAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZTp4eC1zbWFsbDtsaW5lLWhlaWdodDpub3JtYWw7Zm9udC1mYW1pbHk6c2Fucy1zZXJpZjstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOnNhbnMtc2VyaWY7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO3RleHQtZGVjb3JhdGlvbi1saW5lOm5vbmU7bGV0dGVyLXNwYWNpbmc6bm9ybWFsO3dvcmQtc3BhY2luZzpub3JtYWw7dGV4dC10cmFuc2Zvcm06bm9uZTtkaXJlY3Rpb246bHRyO2Jsb2NrLXByb2dyZXNzaW9uOnRiO3dyaXRpbmctbW9kZTpsci10YjtiYXNlbGluZS1zaGlmdDpiYXNlbGluZTt0ZXh0LWFuY2hvcjpzdGFydDtjbGlwLXJ1bGU6bm9uemVybztkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO3Zpc2liaWxpdHk6dmlzaWJsZTtjb2xvci1pbnRlcnBvbGF0aW9uOnNSR0I7Y29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzOmxpbmVhclJHQjtmaWxsOiM4MDgwODA7ZmlsbC1vcGFjaXR5OjE7c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjE7bWFya2VyOm5vbmU7Y29sb3ItcmVuZGVyaW5nOmF1dG87aW1hZ2UtcmVuZGVyaW5nOmF1dG87c2hhcGUtcmVuZGVyaW5nOmF1dG87dGV4dC1yZW5kZXJpbmc6YXV0bztlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIiAgICAgICAgICAgZD0ibSAtMTAyNC40MDQ3LDIzMi4yMTkzMyBjIC0wLjYzNzcsMCAtMS4xNjY3LC0wLjUyODk4IC0xLjE2NjcsLTEuMTY2NjcgbCAwLC0yLjY2NjY2IGMgMCwtMC42Mzc2OSAwLjUyOSwtMS4xNjY2NyAxLjE2NjcsLTEuMTY2NjcgbCAyLjY2NjYsMCBjIDAuNjM3NywwIDEuMTY2NywwLjUyODk4IDEuMTY2NywxLjE2NjY3IGwgMCwyLjY2NjY2IGMgMCwwLjYzNzY5IC0wLjUyOSwxLjE2NjY3IC0xLjE2NjcsMS4xNjY2NyBsIC0yLjY2NjYsMCB6IG0gMCwtMSAyLjY2NjYsMCBjIDAuMTAxLDAgMC4xNjY3LC0wLjA2NTcgMC4xNjY3LC0wLjE2NjY3IGwgMCwtMi42NjY2NiBjIDAsLTAuMTAwOTkgLTAuMDY2LC0wLjE2NjY3IC0wLjE2NjcsLTAuMTY2NjcgbCAtMi42NjY2LDAgYyAtMC4xMDEsMCAtMC4xNjY3LDAuMDY1NyAtMC4xNjY3LDAuMTY2NjcgbCAwLDIuNjY2NjYgYyAwLDAuMTAwOTkgMC4wNjYsMC4xNjY2NyAwLjE2NjcsMC4xNjY2NyB6IiAgICAgICAgICAgaWQ9InJlY3Q0MTk2IiAgICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgLz4gICAgICAgIDxwYXRoICAgICAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZTp4eC1zbWFsbDtsaW5lLWhlaWdodDpub3JtYWw7Zm9udC1mYW1pbHk6c2Fucy1zZXJpZjstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOnNhbnMtc2VyaWY7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO3RleHQtZGVjb3JhdGlvbi1saW5lOm5vbmU7bGV0dGVyLXNwYWNpbmc6bm9ybWFsO3dvcmQtc3BhY2luZzpub3JtYWw7dGV4dC10cmFuc2Zvcm06bm9uZTtkaXJlY3Rpb246bHRyO2Jsb2NrLXByb2dyZXNzaW9uOnRiO3dyaXRpbmctbW9kZTpsci10YjtiYXNlbGluZS1zaGlmdDpiYXNlbGluZTt0ZXh0LWFuY2hvcjpzdGFydDtjbGlwLXJ1bGU6bm9uemVybztkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO3Zpc2liaWxpdHk6dmlzaWJsZTtjb2xvci1pbnRlcnBvbGF0aW9uOnNSR0I7Y29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzOmxpbmVhclJHQjtmaWxsOiM4MDgwODA7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjE7bWFya2VyOm5vbmU7Y29sb3ItcmVuZGVyaW5nOmF1dG87aW1hZ2UtcmVuZGVyaW5nOmF1dG87c2hhcGUtcmVuZGVyaW5nOmF1dG87dGV4dC1yZW5kZXJpbmc6YXV0bztlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIiAgICAgICAgICAgZD0ibSAtMTAyOC41NzE0LDIzNy4yMTkzMiBjIC0xLjA5NjcsMCAtMiwtMC45MDMzMyAtMiwtMiAwLC0xLjA5NjY4IDAuOTAzMywtMiAyLC0yIDEuMDk2NiwwIDIsMC45MDMzMiAyLDIgMCwxLjA5NjY3IC0wLjkwMzQsMiAtMiwyIHoiICAgICAgICAgICBpZD0icGF0aDQxOTgiICAgICAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAgICAgICAgICAgc29kaXBvZGk6bm9kZXR5cGVzPSJzc3NzcyIgLz4gICAgICAgIDxwYXRoICAgICAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtmb250LXN0eWxlOm5vcm1hbDtmb250LXZhcmlhbnQ6bm9ybWFsO2ZvbnQtd2VpZ2h0Om5vcm1hbDtmb250LXN0cmV0Y2g6bm9ybWFsO2ZvbnQtc2l6ZTp4eC1zbWFsbDtsaW5lLWhlaWdodDpub3JtYWw7Zm9udC1mYW1pbHk6c2Fucy1zZXJpZjstaW5rc2NhcGUtZm9udC1zcGVjaWZpY2F0aW9uOnNhbnMtc2VyaWY7dGV4dC1pbmRlbnQ6MDt0ZXh0LWFsaWduOnN0YXJ0O3RleHQtZGVjb3JhdGlvbjpub25lO3RleHQtZGVjb3JhdGlvbi1saW5lOm5vbmU7bGV0dGVyLXNwYWNpbmc6bm9ybWFsO3dvcmQtc3BhY2luZzpub3JtYWw7dGV4dC10cmFuc2Zvcm06bm9uZTtkaXJlY3Rpb246bHRyO2Jsb2NrLXByb2dyZXNzaW9uOnRiO3dyaXRpbmctbW9kZTpsci10YjtiYXNlbGluZS1zaGlmdDpiYXNlbGluZTt0ZXh0LWFuY2hvcjpzdGFydDtjbGlwLXJ1bGU6bm9uemVybztkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO3Zpc2liaWxpdHk6dmlzaWJsZTtjb2xvci1pbnRlcnBvbGF0aW9uOnNSR0I7Y29sb3ItaW50ZXJwb2xhdGlvbi1maWx0ZXJzOmxpbmVhclJHQjtmaWxsOiM4MDgwODA7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjE7bWFya2VyOm5vbmU7Y29sb3ItcmVuZGVyaW5nOmF1dG87aW1hZ2UtcmVuZGVyaW5nOmF1dG87c2hhcGUtcmVuZGVyaW5nOmF1dG87dGV4dC1yZW5kZXJpbmc6YXV0bztlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIiAgICAgICAgICAgZD0ibSAtMTAyNC45MjUsMjMwLjg2NTc4IC04LDggMC43MDcyLDAuNzA3MSA4LC04IC0wLjcwNzIsLTAuNzA3MSB6IiAgICAgICAgICAgaWQ9InBhdGg0MjAwIiAgICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgLz4gICAgICAgIDxyZWN0ICAgICAgICAgICBzdHlsZT0iY29sb3I6IzAwMDAwMDtkaXNwbGF5OmlubGluZTtvdmVyZmxvdzp2aXNpYmxlO3Zpc2liaWxpdHk6dmlzaWJsZTtmaWxsOiM4MDgwODA7ZmlsbC1vcGFjaXR5OjE7ZmlsbC1ydWxlOm5vbnplcm87c3Ryb2tlOm5vbmU7c3Ryb2tlLXdpZHRoOjE7bWFya2VyOm5vbmU7ZW5hYmxlLWJhY2tncm91bmQ6YWNjdW11bGF0ZSIgICAgICAgICAgIGlkPSJyZWN0NDI1MSIgICAgICAgICAgIHdpZHRoPSIxIiAgICAgICAgICAgaGVpZ2h0PSI3IiAgICAgICAgICAgeD0iLTEwMjQuNTcxNCIgICAgICAgICAgIHk9IjIzNi4yMTkzMyIgLz4gICAgICAgIDxyZWN0ICAgICAgICAgICB5PSIxMDIwLjU3MTQiICAgICAgICAgICB4PSIyMzkuMjE5MzMiICAgICAgICAgICBoZWlnaHQ9IjciICAgICAgICAgICB3aWR0aD0iMSIgICAgICAgICAgIGlkPSJyZWN0NDI1MyIgICAgICAgICAgIHN0eWxlPSJjb2xvcjojMDAwMDAwO2Rpc3BsYXk6aW5saW5lO292ZXJmbG93OnZpc2libGU7dmlzaWJpbGl0eTp2aXNpYmxlO2ZpbGw6IzgwODA4MDtmaWxsLW9wYWNpdHk6MTtmaWxsLXJ1bGU6bm9uemVybztzdHJva2U6bm9uZTtzdHJva2Utd2lkdGg6MTttYXJrZXI6bm9uZTtlbmFibGUtYmFja2dyb3VuZDphY2N1bXVsYXRlIiAgICAgICAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMCwxLC0xLDAsMCwwKSIgLz4gICAgICA8L2c+ICAgIDwvZz4gIDwvZz48L3N2Zz4=);
      }
   }

   &.highlight {
      .service-block {
         fill: #fff;
      }
   }

   &.is-erroring {
      .service-block {
         stroke: #ed3146;
         stroke-width: 3;
      }
   }

   &.is-pending {
      .service-block {
         stroke: #f99b0f;
         stroke-width: 3;
      }
   }

   &.is-running {
      .service-block {
         stroke: #888888;
         stroke-width: 1;
      }
   }

   &.is-exposed {
      .service-block {
         stroke-width: 4;
      }
   }

   .service-block__halo {
      transition: all .3s;
      opacity: 0;
      r: 90;
   }

   .service-block {
      transition: all .3s;
   }

   &.hover,
   &:hover {

      .service-block__halo {
         opacity: 1;
         r: 110;
         stroke-width: 1;
      }

      &.is-uncommitted .service-block__halo,
      .service-block__halo {
         stroke: #19b6ee;
      }

      &.is-erroring .service-block__halo {
         stroke: #ed3146;
      }

      &.is-pending .service-block__halo {
         stroke: #f99b0f;
      }

      &.is-running .service-block__halo {
         stroke: #888888;
      }

      .service-block {
         fill: $white;
      }

      .relation-button {
         transform: translate(95px, -30px);
      }
   }

   &.subordinate {
      .service-block__halo {
         r: 60;
         stroke: #888888;
      }

      .relation-button {
         transform: translate(65px, 30px);
      }

      &.hover,
      &:hover {
         .service-block__halo {
            r: 80;
         }

         .relation-button {
            transform: translate(65px, -30px);
         }
      }
   }

   &.is-selected {
      .service-block__halo {
         -webkit-animation: serviceBlockHaloSelected 1s alternate;
         animation: serviceBlockHaloSelected 1s alternate;
         opacity: .3;
         r: 110;
         stroke-width: 0;
         fill: #19b6ee;
      }

      .relation-button {
         transform: translate(95px, -30px);
      }

      &.is-erroring .service-block__halo {
         fill: #ed3146;
      }

      &.is-pending .service-block__halo {
         fill: #f99b0f;
      }

      &.is-running .service-block__halo {
         fill: #888888;
      }

      &.subordinate {
         .service-block__halo {
            r: 80;
            fill: #888888;
         }

         .relation-button {
            transform: translate(65px, -30px);
         }
      }

      .service-block {
         fill: $white;
      }

      @-webkit-keyframes serviceBlockHaloSelected {
         0% { opacity: 0 }
         100% { opacity: .3 }
      }
      @keyframes serviceBlockHaloSelected {
         0% { opacity: 0 }
         100% { opacity: .3 }
      }
   }
}

.visibility-classes {
    transition: opacity 0.4s ease;

    &.show {
        opacity: 1;
        visibility: visible;
    }

    &.fade {
        /*
          Put visibility on a delay so it gets hidden after the opacity is
          finished transitioning.
        */
        transition: visibility 0s linear 0.4s, opacity 0.4s ease;
        opacity: 0;
        visibility: hidden;
    }

    &.hide {
        /*
          Put visibility on a delay so it gets hidden after the opacity is
          finished transitioning.
        */
        transition: visibility 0s linear 0.4s, opacity 0.4s ease;
        opacity: 0;
        visibility: hidden;
    }
}
