@import '../../assets/css/mixins';
@import '../../assets/css/variables';

// sass-lint:disable-block no-ids, id-name-format
#deployment-bar-container {
  height: 0;
}

.deployment-bar {
  position: relative;
  height: 0;
  top: -60px;
  float: right;
  right: 20px;

  &__read-only {
    padding: 10px 15px;
    background-color: #fff;
    border-radius: $border-radius;
  }
}

.display-cookie-notice .deployment-bar {
  margin-bottom: 56px;
}
