.profile-bundle-list {
  width: 766px;

  &__icon {
    border-radius: 50%;
    width: 24px;
    margin: 0 4px 4px 0;
  }

  .u-align--right {
    text-align: right;
  }

  .expanding-row {
    padding-bottom: 0;
  }

  .expanding-row--expanded .expanding-row__expanded {
    margin: 12px 0 24px;
  }

  .profile-expanded-content__permissions-title {
    margin-top: 16px;
    margin-bottom: 8px;
  }
}
