.profile-bundle-list {

  tr {
    display: grid;
    grid-template-columns: 2fr 3fr 1fr 0.5fr 2fr;

    &.is-expanded {
      grid-template-columns: 3fr 2fr 1fr 0.5fr 2fr;
    }
  }

  &__meta {
    display: block;

    a {
      display: inline-block;
      margin-bottom: 1rem;
    }
  }

  .entity-content__diagram {
    margin: 1.5rem 0 0;
  }

  .icon-list__item {
    margin-right: .25rem;
  }
}
