.profile-bundle-list {
  width: 766px;

  &__icon {
    border-radius: 50%;
    width: 24px;
    margin: 0 4px 4px 0;
  }

  .u-align--right {
    text-align: right;
  }

  .profile__entity-table-header-column:first-child,
  .profile__entity-table-column:first-child {
    padding-left: 16px;
  }

  .expanding-row {
    padding-bottom: 0;

    &__initial {
      min-height: 35px;
    }
  }

  .expanding-row--expanded .expanding-row__initial {
    min-height: 0;
  }

  .profile-expanded-content {

    &__entity-desc {
      padding: 0 12px 0 18px;
    }
  }

  .profile-expanded-content .profile-expanded-content__top-row:first-child {
    padding-left: 16px;
  }

  .entity-content__diagram {
    margin-bottom: -1.2rem;
    margin-left: 16px;
    padding-bottom: 0;
  }

  .expanding-row--expanded .expanding-row__expanded {
    margin: 4px 0 16px;
  }
}
