.machine-view__header {
  position: relative;
  height: 50px;
  margin: 0 20px;
  padding: 0 10px;
  border-bottom: 1px dotted $mid-grey;
  line-height: 50px;

  &-drop-target {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $canvas-background;
  }

  &-drop-message {
    color: $ubuntu-orange;
    text-align: center;
  }

  &--droppable {
    border: 1px dashed $mid-grey;

    &-drop-target {
      display: block;
    }
  }

  &--drop &-drop-target {
    background-color: rgba(255, 255, 255, .9);
  }

  .button--inline-positive {
    float: right;
    width: 24px;
    height: 24px;
    margin: 11px -10px 0 0;
    padding: 2px 0 0;
  }

  &-dropdown {
    float: right;
  }
}
