.inspector-confirm {
  border-bottom: 1px solid $mid-grey;
  display: none;
  height: 0;
  padding: 10px;
  transition: height .5s, opacity 1s;

  &--open {
    display: block;
    height: auto;
    opacity: 1;
  }

  &__message {
    margin-bottom: 0;
  }
}
