/*
TODO:
This style is just a stub. We will get further styling instructions from
design at some point.
Makyo 2017-03-31
*/

.kpi-metric-chart {

  svg {

    margin-top: 1rem;

    .tick, .domain {
      stroke-width: 1px;
      stroke: #000;
      fill: none;
    }

    .mean {
      stroke-width: 2px;
      stroke: #00f;
      fill: none;
    }

  }

}
