.user-menu {
  &.button-dropdown {
    &__button {
      border-radius: 2px;
      border-right-width: 0;
      border: 1px solid $color-mid-light;

      &:hover {
        background-color: $white;
      }
    }
  }
}
