.deployment-ssh-key {
  *[contenteditable] {
    word-wrap: break-word;
  }

  .button--positive {
    height: 51px;
  }
}

.added-keys {

  &__key-value {
    text-overflow: ellipsis;
    overflow: hidden;
  }
}