.string-config {
    @extend %stagger-fade-in;
    margin: 10px 20px 14px 20px;

    &--value, &--disabled {
        @extend %input;
        min-height: $base;
        margin: 10px 0;
    }

    &--disabled {
        word-wrap: break-word;
    }

    &--description {
        color: $cool-grey;
        font-size: 0.875em;
    }
}
