.string-config {
    @extend %stagger-fade-in;
    margin: 10px 20px 14px 20px;

    &--value {
        border: 1px solid $mid-grey;
        margin: 10px 0;
        padding: 8px 10px;
    }

    &--description {
      color: $cool-grey;
      font-size: 0.875em;
    }
}
