.string-config {
  @extend %stagger-fade-in;
  margin: 10px 20px 14px;

  &--value {
    @extend %input;
    min-height: $base;
    margin: 10px 0;
    box-sizing: content-box;
  }

  &--changed {
    border-color: $uncommitted;
    background-color: $white;
    background-image: $svg-uncommitted;
    background-repeat: no-repeat;
    background-position: 215px center;
  }

  &--disabled {
    word-wrap: break-word;
  }

  &--description {
    color: $cool-grey;
    font-size: .875em;
  }
}
