.profile-model-list {
  .create-new-model {
    float: right;
  }

  &__header {
    margin-bottom: 25px;

    &-title {
      font-size: 1.5em;
    }
  }

  &__machine-number {
    margin-right: 20px;
  }
}
