.profile-model-list {
  .create-new-model {
    float: right;
  }

  &__access {
    text-align: center;
  }

  &__machine-number {
    margin-right: 1em;
  }

  &__expanded-content {
    padding: 20px 16px;

    a {
      color: #111;
      font-weight: 400;
    }
  }

  &__credential-name {
    padding-left: 1.5em;
  }

  .profile__entity-table-header-row {
    padding: 0 16px 12px;
  }

  .expanding-row__initial > div {
    padding: 0 16px;
  }

  .expanding-row--expanded .expanding-row__expanded {
    margin: 12px 0;
  }

  .u-text-align--right {
    text-align: right;
  }
}
