.profile-model-list {
  .create-new-model {
    float: right;
  }

  &__machine-number {
    margin-right: 1em;
  }

  &__expanded-content {
    padding: 20px;
  }

  &__credential-name {
    padding-left: 1.5em;
  }
}
