.notification-list-item {
    @extend %floating-panel;
    box-sizing: border-box;
    min-width: $left-panel-width;
    height: $environment-header-height;
    padding: 0 20px;
    color: $text-colour;
    line-height: $environment-header-height;
    margin-top: 10px;
    cursor: pointer;
    transition: opacity 0.3s ease, height 0.3s ease, margin 0.3s ease;

    &--error {
        background-color: $error;
        color: $white;
        .notification-list-item__hide .svg-icon {
            stroke: $white;

            &:hover {
                stroke: rgba(255, 255, 255, 0.6);
            }
        }
    }

    &--visible {
        opacity: 1;
    }

    &--hidden {
        opacity: 0;
        overflow: hidden;
        margin: 0;
    }

    &--close {
        height: 0;
    }

    &__hide {
        line-height: 46px;
        padding-left: 15px;
        float: right;
    }

    &__hide .svg-icon {
        transition: stroke 0.3s;
        stroke: $text-colour;

        &:hover {
            stroke: rgba(51, 51, 51, 0.6);
        }
    }
}
