.machine {
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid $mid-grey;
  border-radius: 2px;

  &--machine {
    cursor: pointer;

    .machine {
      &-units {
        display: inline-block;
      }

      &-unit {
        margin-bottom: 0;
        float: left;
      }

      &-unit__icon {
        margin-right: 5px;
      }
    }
  }

  &--container {
    .machine {
      &-unit {
        margin: 1px 0;
      }
    }
  }

  &--machine,
  &--container {
    transition: background-color .3s;

    &:focus,
    &:active,
    &:hover {
      background-color: $white;
    }
  }

  &-hardware {
    margin-top: 7px;
  }

  &-units {
    margin-top: 7px;
    list-style: none;
    margin-left: 0;
  }

  &__dropdown {
    position: absolute;
    top: 0;
    right: 10px;
  }
}
