.entity-content__config {
  &-option {
    margin-top: 15px;
    padding-top: 15px;
    border-top: 1px dotted $light-mid-grey;

    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }
  }

  &-name {
    margin: 0;
    font-weight: 500;
  }

  &-type {
    font-weight: 500;
  }

  &-description,
  &-default {
    margin-left: 30px;
    margin-top: 8px;
  }

  &-default {
    font-size: .875em;
    color: $dark-warm-grey;
    font-family: 'Ubuntu Mono' ,'Consolas' ,'Monaco' ,'Lucida Console' ,'Courier New' ,Courier, monospace;
  }
}
