.entity-content__config {

  &-image {
    vertical-align: middle;
    border-radius: 50%;
    margin: 0 .625rem;
  }

  &-option {
    margin-top: 1rem;
    padding-top: 1rem;
    border-top: 1px dotted $light-mid-grey;
    margin-left: .625rem;

    &:first-of-type {
      margin-top: 0;
      padding-top: 0;
      border-top: 0;
    }
  }

  &-name {
    margin: 0;
    font-weight: 500;
  }

  &-description,
  &-default {
    margin: .5rem 0 1rem 2rem;
  }

  &-default {
    font-weight: normal;
    font-family: 'Ubuntu Mono' ,'Consolas' ,'Monaco' ,'Lucida Console' ,'Courier New' ,Courier, monospace;
  }
}
