.deployment-summary {
    &__list {
        margin: 0;
        list-style: none;
    }

    .deployment-choose-cloud {
        &__cloud-option {
            clear: left;
            text-align: left;
            padding: 10px;
            box-sizing: border-box;

            &-title {
                padding: 0 0 10px 20px;
            }
        }
    }

    &__changelog {
        @extend %list-style;
        margin-top: 20px;
        cursor: pointer;

        &-title {
            padding: 15px 20px;
            border-width: 1px 0;
            border-style: solid;
            border-color: $mid-grey;

            &-chevron {
                float: right;
            }
        }
    }
}
