.deployment-summary {
    &__list {
        margin: 0;
        list-style: none;
    }

    &__cloud-option {
        clear: left;
        text-align: left;

        &-region {
            padding: 20px 20px 0 20px;
        }
    }

    &__changelog {
        @extend %list-style;
        margin-top: 20px;
        cursor: pointer;

        &-title {
            padding: 15px 20px;
            border-width: 1px 0;
            border-style: solid;
            border-color: $mid-grey;

            &-chevron {
                float: right;
            }
        }
    }
}
