.machine-view__machine-unit {
  &--draggable {
    cursor: move;
  }

  &--dragged {
    opacity: 0;
  }

  .machine-unit__dropdown {
    display: none;

    .button-dropdown__show-menu {
      display: block;
    }
  }

  &:focus,
  &:active,
  &:hover {
    .machine-unit__dropdown {
      display: block;
    }
  }
}
