.machine-view__unplaced-unit {
  @extend %floating-panel;
  position: relative;
  margin-bottom: 10px;
  padding: 10px;
  cursor: move;

  &-icon {
    @extend %icon--small;
    margin: -2px 7px -2px 0;
    vertical-align: text-top;
  }

  &-drag-state {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $canvas-background;
    border: 1px dotted $mid-grey;
  }

  &--dragged {
    box-shadow: none;

    &-drag-state {
      display: block;
    }
  }

  .add-machine {
    &__container {
      width: 100%;
      margin: 10px 10px 0;
    }

    &__title {
      margin-top: 20px;
    }
  }

  // This rule needs to override other rules, which means it needs a pretty high
  // degreee of specificity. Since the styling is shared elsewhere, it's been
  // pulled into a placeholder.
  .constraints .constraints__select {
    @extend %constraints-select
  }

  &-dropdown {
    float: right;
    margin-top: -7px;
  }
}
