.sharing {
  &__popup {
    display: flex;
    flex-direction: column;
    top: 40px;
    bottom: 40px;
    padding-bottom: 10px;

    &__header {
      flex: 0 0 auto;
    }

    .popup__close {
      position: absolute;
      right: 20px;
    }

    .popup__title {
      border-bottom: 1px solid #ccc;
      margin: 0 -20px 1rem -20px;
      padding: 0 20px 20px;
    }

    .button-row {
      flex: 0 0 auto;
      width: 100%;
      text-align: right;

      button {
        width: auto;
        padding-left: 40px;
        padding-right: 40px;
      }
    }
  }

  &__content {
    flex: 1 1 auto;
    overflow-y: scroll;
    margin: 0 -20px;
    padding: 20px;
    clear: both;
    border-bottom: 1px solid #ccc;
  }

  &__help {
    float: right;
    width: 270px;
    padding: 20px;
    border: 1px solid #cdcdcd;
    border-radius: $border-radius;
  }

  &__form {
    width: calc(100% - 320px);
  }

  &__invite {
    margin-bottom: 2rem;

    &--header {
      margin-bottom: 20px;
    }

    label {
      display: none;
    }

    &-label {
      padding-bottom: 10px;
    }

    .generic-input.has-error {
      .generic-input__field {
        border: 1px solid $error;
      }

      .svg-icon {
        top: 0.875rem;
      }
    }

    .generic-input__field,
    .inset-select__field {
      padding: 10px;
    }

    &--username,
    &--access,
    &--ssh,
    &--grant-button {
      display: inline-block;
      margin-right: 20px;
    }

    &--username {
      .generic-input__field {
        margin-bottom: 0;
        width: 142px;
      }
    }

    &--access {
      .inset-select {
        width: auto;

        &__field {
          line-height: normal;
          padding-right: 30px;
        }
      }
    }

    &--ssh {
      vertical-align: top;

      label {
        display: inline-block;
      }

      .boolean-config {
        margin: 3px 0 0 0;
      }
    }

    &--grant-button {
      vertical-align: middle;

      .button--positive {
        height: 40px;
        width: 77px;
        margin-top: -3px;

        svg {
          display: inline;
        }
      }
    }

    &--error {
      font-size: 0.875rem;
      margin-top: 0.875rem;
    }
  }

  &__users-header {
    border-bottom: 1px solid #ccc;
    padding: 0 0 10px;
    height: 29px;

    &-user {
      width: 251px;
      float: left;
    }
    &-access {
      width: 200px;
      float: left;
    }
    &-ssh {
      width: 150px;
      float: left;
    }
  }

  &__users {
    max-height: 250px;
  }

  &__user {
    position: relative;
    padding: 10px 20px;
    float: left;
    width: 100%;

    &:hover .sharing__user-revoke {
      visibility: visible;
    }

    &-revoke {
      float: left;
      line-height: 49px;
      margin: 4px 0 0 10px;
      visibility: hidden;

      .button--neutral {
        border: 0;
        line-height: normal;
        padding: 0;

        &:hover {
          background-color: transparent;
        }
      }
    }

    &-details {
      float: left;
      width: 251px;
    }

    &-name {
      margin-bottom: 3px;
    }

    &-display-name {
      font-size: 14px;
      color: #999;
    }

    &-last-connection {
      font-size: 14px;
      color: #999;
    }

    &-access {
      float: left;
      width: 200px;
      line-height: 53px;
      text-transform: capitalize;
    }

    &-ssh {
      float: left;
      width: 150px;
      padding-top: 10px;

      .boolean-config {
        margin: 0;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__loading {
    text-align: center;
  }
}
