.sharing {
  &__popup {
    .popup__title {
      border-bottom: 1px solid #ccc;
      margin: 0 -20px 10px -20px;
      padding: 0 20px 20px;
    }
  }

  &__users-header {
    border-bottom: 1px solid #ccc;
    margin: 0 -20px 10px -20px;
    padding: 0 20px 10px 20px;
  }

  &__users {
    max-height: 300px;
    overflow-y: scroll;
  }

  &__user {
    margin-bottom: 10px;
    position: relative;

    &-name {
      margin-bottom: 3px;
    }

    &-displayname {
      font-size: 14px;
      color: #999;
    }

    &-access {
      @extend .vertical-center;
      position: absolute;
      right: 1px;  // Provide room for scrollbars on longer lists.
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__loading {
    text-align: center;
  }
}
