.panel-component {
  @extend %floating-panel;
  position: absolute;

  &__inner {
    display: flex;
    flex-direction: column;
  }
}

.panel-component.inspector-panel {
  position: static;
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
  z-index: index($z-indexed-elements, inspector-panel);

  li {
    margin-bottom: 0;
    line-height: 1.3125em;
  }
}

.panel-component.white-box {
  z-index: index($z-indexed-elements, white-box);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(247, 247, 247, .7);
  border-radius: none;
  box-shadow: none;
}

.panel-component.deployment-flow-panel,
.panel-component.deployment-panel {
  z-index: index($z-indexed-elements, deployment-panel);
  border-radius: 0;
  box-shadow: none;

  .panel-component__inner {
    height: 100%;
  }
}

.panel-component.deployment-flow-panel {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $white;
}

.panel-component.deployment-bar-panel {
  right: 20px;
  bottom: 30px;
  z-index: index($z-indexed-elements, deployment-bar-panel);
  background-color: transparent;
  border-radius: 0;
  box-shadow: none;
}

.panel-component.env-list-panel {
  top: 65px;
  right: -220px;
}

.panel-component.account,
.panel-component.isv-profile,
.panel-component.user-profile {
  @extend %scroll-children;
  z-index: index($z-indexed-elements, top-page);
  top: $navbar-height;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: $canvas-background;
  border-top: 1px solid $mid-grey;
  box-shadow: none;
}

.panel-component.confirmation-popup {
  position: fixed;
  z-index: index($z-indexed-elements, confirmation-popup);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  border-radius: none;
  box-shadow: none;
}
