.accordion-section {
  border: 1px dotted $color-mid-light;
  border-left: 0;
  border-right: 0;

  &__title {
    padding: .675rem 1rem .675rem 0;
    display: flex;
    align-items: center;

    &[role="button"] {
      cursor: pointer;
    }

    em {
      font-style: normal;
      color: $color-mid-dark;
    }

    &-content {
      flex: 1;
    }
  }

  &__content {
    transition: max-height .333s ease;
    overflow: hidden;
  }

  & + & {
    border-top: 0;
  }
}
