.deployment-expert-intro {
  &-section .deployment-section__content {
    background-color: #fff;
  }

  &__section-title {
    margin-bottom: 20px;
    padding-top: 5px;
    border-top: 1px solid $light-mid-grey;
    font-size: 14px;
    text-transform: uppercase;
  }

  &__diagram {
    margin: 30px 0;
  }

  &__plan-details {
    padding-top: 20px;
  }

  &__plan-description {
    margin-bottom: 20px;
    color: $dark-warm-grey;
  }

  &__features {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__feature {
    .svg-icon {
      margin-right: 10px;
    }
  }

  a {
    color: $link-blue;
  }
}
