// scss-lint:disable IdSelector
#model-actions-container { // sass-lint:disable-line no-ids, id-name-format
  @extend .vertical-center;
  float: left;
  margin-left: 10px;
}
// scss-lint:enable IdSelector

.model-actions {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
  visibility: visible;

  &__export,
  &__import,
  &__share {
    padding: 10px 11px;
    border: 1px solid $light-mid-grey;
    transition: background-color .2s;
    background-color: $canvas-background;
    // scss-lint:disable ImportantRule
    color: $warm-grey !important;
    // scss-lint:disable ImportantRule

    &:hover {
      background-color: $white;
      // scss-lint:disable ImportantRule
      color: $dark-warm-grey !important;
      // scss-lint:disable ImportantRule
    }
  }

  &__file {
    position: absolute;
    top: -99999;
    display: block;
    visibility: hidden;
    width: 0;
  }

  &--disabled {
    opacity: 0;
    visibility: hidden;
    transition: visibility 0s 0.5s, opacity 0.5s;
  }

  &__button {
    @extend .tooltip;
    cursor: pointer;
    display: inline-block;
    border-radius: 2px;
    border-right-width: 0;

    &:first-child {
      border-radius: 2px 0 0 2px;
    }

    &:last-child {
      border-radius: 0 2px 2px 0;
      border-right-width: 1px;
    }
  }
}
