.deployment-credential-add {
  padding: 20px 20px 0;

  &__signup {
    margin: 10px 0 40px;
  }

  &__upload {
    margin: 20px 0;
  }

  &__credentials {
    .inset-select {
      margin-bottom: 20px;
    }
  }

  .string-config {
    margin: 0;

    &__label {
      // Needs to be relative to appear above the input.
      position: relative;
      display: block;
      margin: 4px 0 -33px 10px;
      padding-top: 5px;
      font-size: .688em;
    }

    &--value {
      width: calc(100% - 20px);
      margin-bottom: 20px;
      padding-top: 25px;
      padding-bottom: 7px;
    }
  }
}
