.deployment-credential-add {
    padding: 20px 20px 0 20px;

    &__signup {
        margin: 10px 0 40px 0;
    }

    &__upload {
        padding: 40px;
        border: 1px dashed $warm-grey;
        text-align: center;
    }

    &__credentials {
        .inset-select {
            margin-bottom: 20px;
        }
    }
}
