.deployment-credential-add {
    padding: 20px 20px 0 20px;

    &__signup {
        margin: 10px 0 40px 0;
    }

    &__upload {
        margin: 20px 0;
    }

    &__credentials {
        .inset-select {
            margin-bottom: 20px;
        }
    }
}
