.file-field {
  &__field {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }

  &__field + &__label {
    border: 2px dashed $mid-grey;
    width: 100%;
    display: block;
    padding: 30px;
    text-align: center;
    cursor: pointer;
  }

  &__field:focus + &__label,
  &__label:hover {
    background: $light-grey;
  }

  &__errors {
    @extend %list-style;
    margin: -10px 0 30px;
  }

  &__error {
    padding: 10px 20px;
    background-color: $error;
    border-radius: $border-radius;
    color: $white;
  }
}
