.generic-input {
  position: relative;

  &__label {
    // Needs to be positioned to appear above the input.
    color: $dark-warm-grey;
    left: 10px;
    position: absolute;
    top: 17px;
    transition: all .25s;
    user-select: none;

    &--focus,
    &--placeholder-present,
    &--value-present {
      color: $cool-grey;
      font-size: 12px;
      top: 6px;
    }
  }

  &__multiline-field,
  &__field[type=text],
  &__field[type=password] {
    @extend %input;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding-top: 25px;
    padding-bottom: 7px;
    box-sizing: content-box;
    min-height: 18px;

    &[aria-invalid='true'] {
      border-color: $error;
    }
  }

  &__errors {
    @extend %list-style;
    margin: -10px 0 30px;
  }

  &__error {
    color: $error;
    background-image: url('static/gui/build/app/assets/svgs/general-action-error.svg');
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 25px;
  }

  .svg-icon {
    position: absolute;
    right: 0.625rem;
    top: 1.375rem;
 }
}
