.generic-input {
  position: relative;

  &__label {
    // Needs to be positioned to appear above the input.
    color: $warm-grey;
    left: 10px;
    position: absolute;
    top: 17px;
    transition: all .25s;
    user-select: none;

    &.focus,
    &.placeholder-present,
    &.value-present {
      color: $cool-grey;
      font-size: 12px;
      top: 6px;
    }
  }

  &__errors {
    @extend %list-style;
    margin: -10px 0 30px;
  }

  &__error {
    padding: 10px 20px;
    background-color: $error;
    border-radius: $border-radius;
    color: $white;
  }
}
