.generic-input {
  $padding: 8px;
  position: relative;

  &--no-label {
    .generic-input {
      &__multiline-field,
      &__field[type=text],
      &__field[type=password] {
        padding-top: 8px;
      }
    }
  }

  &__label {
    // Needs to be positioned to appear above the input.
    color: $dark-warm-grey;
    padding: 0;
    left: 8px;
    position: absolute;
    top: 18px;
    transition: all .25s;
    user-select: none;

    &--focus,
    &--placeholder-present,
    &--value-present {
      padding: $padding;
      color: $dark-warm-grey;
      font-size: 0.688em;
      top: 0;
      left: 0;
    }
  }

  &__multiline-field,
  &__field[type=text],
  &__field[type=password] {
    @extend %input;
    width: calc(100% - 20px);
    margin-bottom: 20px;
    padding: 25px 30px 8px 8px;
    box-sizing: content-box;
    min-height: 24px;
    box-shadow: none;

    &[aria-invalid='true'] {
      border-color: $error;
    }
  }

  &__errors {
    @extend %list-style;
    margin: -10px 0 30px;
  }

  &__error {
    color: $error;
    background-image: $svg-general-action-error;
    background-repeat: no-repeat;
    background-position: 0 4px;
    padding-left: 25px;
  }

  .svg-icon {
    position: absolute;
    right: 0.625rem;
    top: 1.375rem;
 }
}
