@import '../../assets/css/variables';

.usso-login {
  position: relative;

  &__action {
    cursor: pointer;
    padding: 0;
    // Importants to overwrite vanilla values
    color: $warm-grey !important;

    &.button--positive {
      color: $white !important;
      padding: 12px 24px;
    }
  }
}
