.deployment-panel {
  @extend %scroll-children;

  &__header {
    // Don't allow the header to collapse:
    flex: 1 0 auto;
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid $light-mid-grey;

    &--dark {
      background-color: $dark-header;
    }

    &-name {
      display: inline-block;
      margin-left: 40px;
      font-weight: 400;
    }

    &-logo {
      padding: 1px 0;
    }
  }

  &__close {
    @extend %link;
    display: inline-block;
    color: $cool-grey;

    .button--neutral {
      width: auto;
    }
  }

  &__content {
    @extend %scroll-children;
    padding-top: 40px;
  }
}
