.deployment-section {
    position: relative;
    margin-bottom: 40px;
    padding: 20px;
    background-color: $light-grey;

    &--completed {
        margin-bottom: 0;
        border-bottom: 2px solid $light-mid-grey;

        .deployment-section__title-checkmark {
            fill: $success;
        }
    }

    &__title {
        .svg-icon {
            margin-right: 10px;
            vertical-align: text-top;
        }

        &-checkmark {
            fill: $warm-grey;
        }
    }

    &__actions {
        float: right;

        .button-row {
            display: inline-block;
            padding: 0;
        }

        .button--neutral {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__extra {
        @extend %fade-in;
        display: inline-block;
        margin-right: 40px;
        vertical-align: middle;
    }

    &__mask {
        position: absolute;
        // The mask must be above the children:
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 0.8);
    }
}
