.deployment-section {
  display: none;
  margin-bottom: 40px;
  position: relative;

  &__content {
    background-color: $light-grey;
    margin-bottom: 0;
    padding: 20px;

  }

  &--completed {
    .deployment-section__title-checkmark {
      fill: $success;
    }
  }

  &--active {
    display: block;
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 20px;

    .svg-icon {
      margin-right: 10px;
      vertical-align: text-top;
    }

    &-checkmark {
      fill: $dark-warm-grey;
    }
  }

  &__actions {
    float: right;

    .button-row {
      display: inline-block;
      padding: 0;
    }

    .button--neutral {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__extra {
    @extend %fade-in;
    display: inline-block;
    margin-right: 40px;
    vertical-align: middle;
  }
}
