.inspector-expose__unit {
    @extend %stagger-fade-in;
    padding: 10px 20px;
    border-bottom: 1px solid $mid-grey;
    cursor: pointer;

    &:focus,
    &:active,
    &:hover {
        background-color: $hover-background;
    }

    &:last-child {
        border: none;
    }

    &-detail {
        margin-bottom: 10px;

        &:last-child {
            margin-bottom: 0;
            font-size: $font-size-small;
        }
    }

    &-list {
      list-style: none;
      margin: 0;
    }

    a:focus,
    a:active,
    a:hover {
        text-decoration: underline;
    }
}
