.entity-content {
    clear: both;

    .row {
        overflow: auto;
        padding: 80px 0;

        &:nth-child(odd) {
            background-color: $light-grey;
        }
    }

    &__header {
        margin: 0 0 1.6em 0;
    }

    &__description {
        font-size: 22px;

        .twelve-col,
        p {
            margin: 0;
        }
    }

    &__metadata {
        margin: 80px 0 0 0;
        font-size: 16px;
        font-weight: 100;

        h4 {
            border-bottom: 1px solid $light-mid-grey;
            padding-bottom: 1em;
        }

        li {
            list-style: none;
            margin-bottom: 0.8em;
        }
    }

    &__readme-content {
        h1, h2, h3 {
            margin: 1.6em 0;
        }

        h4, h5, h6 {
            margin: 0.8em 0;
        }

        h1 {
            font-size: 1.4em;
        }

        h2 {
            font-size: 1.3em;
        }

        h3 {
            font-size: 1.2em;
        }

        h4 {
            font-size: 1.1em;
        }

        h5, h6 {
            font-size: 1em;
        }

        ul {
            list-style-position: inside;
        }

        li {
            line-height: 1.6;
        }

        pre {
            padding: 10px 15px;
            background-color: $cool_grey;
            border: none;
            border-radius: 2px;
            color: $mid_grey;

            code {
                margin-bottom: 0;
                color: $mid_grey;
            }
        }
    }

    .section {
        margin-bottom: 20px;
        padding: 30px 20px;
        border: 1px solid $light-mid-grey;
        border-radius: 2px;

        &__title {
            font-size: 1.33em;
            margin-bottom: 20px;
        }

        &__list {
            margin: 0;
            padding: 0;
            list-style: none;

            &-item {
                line-height: 1.8;
            }
        }
    }

    .entity-relations {
        .section__list-item {
            text-indent: -1.5em;
            padding-left: 1.5em;
        }
    }

    .revisions {
        padding-bottom: 20px;
    }

    .revisions__list {
        list-style: none;
        margin-left: 0;
        padding-left: 0;

        &-item {
            margin-bottom: 1em;
        }

        &-meta {
            color: $warm-grey;
            margin-bottom: .2em;
            font-size: 14px;
        }

        &-meta-date {
            float: right;
        }

        &-message {
            white-space: pre-line;
            margin-top: 0;
        }
    }

    .btn__see--more,
    .btn__see--less {
        -moz-transition: background .2s;
        -webkit-transition:  background .2s;
        transition:  background .2s;
        color: $cool-grey;
        border: 1px solid $mid-grey;
        background: $white;
        padding: 0.6em 1.153846154em;

        &:hover {
            background: $light-grey;
            text-decoration: none;
        }
    }

    .list__controls {
        display: block;
        margin-top: 2em;
        text-align: center;
    }

    .btn__see--more {
        display: none;
    }

    .btn__see--less {
        display: inline;
    }

    .list--concealed {
        .list-item {
            display: none;

            &:first-of-type {
                display: list-item;
            }
        }

        .btn__see--more {
            display: inline;
        }

        .btn__see--less {
            display: none;
        }
    }
}
