.profile-navigation {
  color: $color-dark;

  .p-list__item {
    cursor: pointer;

    .profile &.cloud-credentials {
      border-top: 1px solid $color-mid-light;
      margin-top: 1rem;
      padding-top: 1rem;
    }

    &.is-active {
      font-weight: 400;
    }

    &.is-active:hover {
      color: $color-dark;
      cursor: default;
      text-decoration: none;
    }

    &:hover {
      color: $color-link;
      text-decoration: underline;
    }
  }
}
