.entity-content__diagram {
    clear: both;
    padding: 60px;
    background-color: $canvas-background;
    // Unfortunately this needs to use !important to override the .row and
    // .row--grey styles.
    border-bottom: 1px solid #cdcdcd !important;
    text-align: center;

    &-image {
        height: 350px;
    }
}
