.deployment-services {
  margin: 0 auto;
  width: 1030px;
  background-color: $light-grey;
  padding: 20px;

  .accordion-section {
    border: none;
  }

  .accordion-section__title {
    font-size: 1.4375rem;
  }

  &__max {
    font-size: 1.4em;
  }

  &__changes {
    @extend %list-style;
    margin: 15px 0 0;
    padding-top: 7px;
    border-top: 1px dotted $light-mid-grey;
  }
}
