<div class="search-widget"></div>
<div class="added-services-button"></div>
<div class="services-list">
  <div class="no-services {{#if servicesCount}}hide{{/if}}">
    No services deployed.
  </div>
</div>
