.deployment-flow {
  &__row-header {
    font-weight: 400;
    border-bottom: 1px solid $color-dark;
  }

  &__row {
    border-bottom: 1px solid $light-mid-grey;
  }

  &-panel {
    .button--neutral {
      background-color: $white;
    }

    .link {
      font-weight: inherit;
      color: $link-blue;
      cursor: pointer;
    }
  }

  &__service-title {
    .button--inline-neutral {
      font-size: $base;
      margin-bottom: 20px;
    }
  }

  &__deploy {
    &--cookie-visible {
      padding-bottom: 100px;
    }

    &-option {
      margin-bottom: 20px;

      &--disabled {
        opacity: 0.5;
      }
    }

    &-checkbox {
      margin-right: 10px;
    }

    &-label {
      display: inline-block;
      width: 50%;
      vertical-align: text-top;
    }

    &-action {
      padding-top: 20px;

      .button--positive {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}
