.deployment-flow {
  &__row-header {
    font-weight: 400;
  }

  &__row-header,
  &__row {
    border-bottom: 1px solid $light-mid-grey;
  }

  &-panel {
    .button--neutral {
      background-color: $white;
    }
  }

  &__notice {
    &-content {
      padding: 0 0 0 26px;
    }

    .svg-icon {
      margin-left: -26px;
      margin-right: 10px;
      vertical-align: text-bottom;
    }
  }

  &__service-title {
    .button--inline-neutral {
      font-size: $base;
      margin-bottom: 20px;
    }
  }

  &__deploy {
    &-option {
      margin-bottom: 20px;

      &--disabled {
        opacity: 0.5;
      }
    }

    &-checkbox {
      margin-right: 10px;
    }

    &-label {
      display: inline-block;
      width: 50%;
      vertical-align: text-top;
    }

    &-action {
      padding-top: 20px;

      .button--positive {
        padding-top: 20px;
        padding-bottom: 20px;
      }
    }
  }
}

.deployment-login {
  &__intro {
    margin-top: 20px;
  }

  &__features {
    margin-top: 20px;
  }

  &__feature {
    margin-bottom: 20px;

    .svg-icon {
      margin-right: 1em;
    }
  }

  &__signup {
    margin-top: 20px;
    text-align: center;

    .usso-login {
      display: inline;
      margin-left: 0.5em;
    }
  }
}
