.deployment-flow {
    @extend %scroll-children;

    &__header {
        // Don't allow the header to collapse:
        flex: 1 0 auto;
        margin: 0 20px;
        padding: 10px 0;
        border-bottom: 1px solid $light-mid-grey;
    }

    &__close {
        @extend %link;
        color: $cool-grey;

        .button--neutral {
            width: auto;
        }
    }

    &__content {
        @extend %scroll-children;
        padding-top: 40px;
    }

    &__section {
        margin-bottom: 40px;
        padding: 20px;
        background-color: $light-grey;

        &-title {
            .svg-icon {
                margin-right: 10px;
                vertical-align: text-top;
            }
        }
    }

    &__top-action {
        float: right;

        .button--neutral {
            background-color: $white;
        }
    }

    &__label {
        margin-bottom: 10px;
        color: $warm-grey;
        font-size: 0.688em;
    }

    &__clouds {
        &-list {
            @extend %list-style;
        }

        &-cloud {
            background-color: $white;
            box-shadow: $box-shadow;
            text-align: center;
            cursor: pointer;
            margin-top: 20px;
            margin-bottom: 0;

            &:hover {
                background-color: $light-grey;
            }

            &-logo {
                display: block;
                line-height: 120px;

                .svg-icon {
                    vertical-align: middle;
                }
            }
        }
    }

    &__credentials {
        &-form {
            margin-top: 20px;
        }
    }

    &__machines {

    }

    &__services {

    }

    &__payment {

    }

    &__deploy {

    }
}
