.entity-files {
    ul {
        margin: 0;
    }

    li {
        list-style: none;
        line-height: 1.6;
    }

    &__file {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
