.user-profile {

    &__create-new {
        float: right;
        font-size: 1rem;
        width: 400px;
        text-align: right;

        &.collapsed {
            .deployment-input__field,
            .button--inline-neutral.second {
                width: 0;
                border-width: 0;
            }
            .deployment-input__field {
              padding: 0;
            }
            .button--inline-neutral.first {
                width: 150px;
                border-width: 1px;
            }
        }

        .button--inline-neutral.first {
            width: 0;
            border-width: 0;
        }

        .button--inline-neutral {
            overflow: hidden;
            white-space: nowrap;
            transition: all 0.5s ease-in;
            width: 150px;
            outline: none;
            padding: 10px 0;
            display: inline-block;
        }

        .deployment-input {
            display: inline-block;
        }

        .deployment-input__field {
            padding: 8px;
            width: 200px;
            transition: all 0.5s ease-in;
            margin-bottom: 0;
            box-sizing: border-box;
            height: 38px;
        }
    }

    &__close {
        position: fixed;
        z-index: 1;
        top: $navbar-height + 20px;
        right: 20px;
        cursor: pointer;
    }

    &__header {
        margin-top: 10px;
        padding-bottom: 20px;
        padding-left: 15px;
        padding-right: 15px;
        font-size: 1.375em;
        line-height: 40px;
    }

    &__empty {
        text-align: center;

        &-image {
            margin: 40px 0;
        }

        &-title {
            margin-bottom: 40px;
        }

        &-text {
            max-width: 360px;
            margin: 0 auto;
            color: $warm-grey;
        }

        &-button {
            margin-top: 40px;
        }
    }

    &__size {
        color: $light-mid-grey;
        margin-left: 0.25em;
    }

    &__list {
        @extend %list-style;
        border-bottom: 1px solid $mid-grey;
        margin-bottom: 20px;

        &-row,
        &-header {
            margin: 0;
            padding: 15px 0 15px 15px;
        }

        &-header {
            border-bottom: 1px solid $mid-grey;
        }

        &-row {
            border-bottom: 1px dotted $mid-grey;
            cursor: pointer;

            &:last-child {
                border-bottom: none;
            }
        }

        &-col {
            margin-bottom: 0;
            padding-bottom: 0;
        }

        &-series {
            margin-left: 0;
        }

        &-name {
            margin-top: -9px;
        }

        &-tags {
            @extend %list-style;
            color: $warm-grey;
            font-size: 14px;
        }

        &-icons {
            text-align: right;
        }

        &-icon {
            @extend %icon--small;
            margin-left: 3px;
        }
    }

    &__comma-item {
        display: inline;

        &:after {
            content: ', ';
        }

        &:last-child:after {
            content: '';
        }
    }
}
