.profile-charm-list {
  &__title {
    margin-bottom: 25px;
    font-size: 1.5em;
  }

  &__item {
    display: flex;
  }

  &__icon {
    border-radius: 50%;
    width: 24px;
    margin-bottom: auto;
    margin-right: 12px;
    margin-left: 12px;
    float: left;
  }

  &__tags {
    @extend %list-style;
    padding-top: 5px;
  }

  &__tag.link {
    display: inline-block;
    margin-bottom: 0;
    color: $color-mid-dark;

    &:after {
      content: ',';
      display: inline-block;
      margin-right: 0.25em;
    }

    &:last-child:after {
      content: '';
    }
  }

  .profile-expanded-content__top-row {

    a {
      color: #111;
      font-weight: 400;
    }
  }
}
