.profile-charm-list {
  width: 766px;

  &__row,
  &__table-header {
    display: grid;
    grid-template-columns: 225px 200px 150px auto;
    border-bottom: 1px solid $mid-grey;
    padding-bottom: 10px;
  }

  &__icon {
    border-radius: 50%;
    width: 20px;
    margin-right: 10px;
    float: left;
  }

}
