.profile-charm-list {
  tr {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }

  &__name {
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 0;

    a {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }

  &__icon {
    padding: 0.5rem;
    padding-right: 1rem;
  }

  &__series {
    display: block;
    margin-bottom: 2rem;
  }

  &__desc {

    li.p-inline-list__item {
      margin-right: .5rem;
    }
  }

  &__release {
    display: flex;
    flex-direction: column;

    > * {
      display: block;
    }

    button {
      margin-top: auto;
    }
  }
}
