.expert-card {

  &__logo {
    position: relative;
    height: 140px;
    margin-bottom: 24px;
    border-bottom: 1px solid $light-mid-grey;

    &-image {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
