%vertical-align-center {
  top: 4px;

  @media only screen and (min-width: 769px) {
    top: 9px;
  }
}

%hover-state {
  &:focus,
  &:active,
  &:hover {
    color: $ubuntu-orange;
    text-decoration: underline;
  }
}

.search-results {
  .inner-wrapper {
    max-width: none;
  }

  .entity-search-results h4 {
    font-size: 16px;
    padding: 20px;

    &:first-child {
      padding-top: 0;
    }
  }

  .initial-load-container {
    text-align: center;
  }

  .no-results-container {
    margin: 20px;
    line-height: 1.3;
  }

  .row {
    padding: 0;
  }

  .list-block {

    .list-block__list {
      margin: 0 10px;
      border: 0;

      .list-block__list--item {
        margin-bottom: 10px;
        padding-bottom: 8px;
        border-width: 1px;
        border-radius: 2px;

        @media only screen and (min-width : 768px) {
          padding-bottom: 8px;
        }

        &:focus,
        &:active,
        &:hover {
          background-color: $hover-background;
        }
      }

      &.list-block__list--dotted .list-block__list--item {
        border-top-style: dotted;

        &:first-child {
          border-top-style: solid;
        }
      }

      .list-icons li,
      .list-block__tags li {
        position: relative;
        z-index: index($z-indexed-elements, search-results-list-block__tags);
      }
    }

    .list-block__title {
      $padding: (55px - $base) / 2;
      padding: $padding 20px;
      border-bottom: 1px solid $light-mid-grey;
    }

    .list-block__list--item {
      box-sizing: border-box;
      position: relative;
      width: 100%;
      padding: 17px 10px 8px;
      margin-bottom: 0;
      border-width: 1px 0 0;
      border-style: solid;
      border-color: $light-mid-grey;
      display: inline-block;
      cursor: pointer;
      float: left;

      @media only screen and (min-width : 768px) {
        padding: 8px 20px 4px;
      }

      .list-block__list--item-divider {
        display: inline;
        color: $dark-warm-grey;
      }

      div:empty {
        display: none;
      }

      .list-block__list--item-title {
        margin: 0;
        font-size: 1em;
        line-height: 1.3;
      }

      .list-icons__image {
        width: 24px;
        height: 24px;
        cursor: pointer;
        border-radius: 50%;
      }

      .charm-name__column {
        margin-bottom: 0;
      }

      .owner__column {
        p {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }

      .cell {
        margin: 0;
        line-height: 1.6;
        position: relative;
        z-index: index($z-indexed-elements, search-results-cell);

        @media only screen and (min-width: 769px) {
          &:focus,
          &:active,
          &:hover {
            display: table;
            z-index: index($z-indexed-elements, search-results-cell--hover);
          }
        }
      }

      &:focus,
      &:active,
      &:hover {
        background-color: $hover-background;
      }
    }

    .tag-list {
      display: inline;
      list-style: none;
      margin-left: 0;
      line-height: 1.5;

      &.tag-list--spaced .tag-list--item {
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }

        a:after {
          content: '';
        }
      }
    }

    .tag-list--item {
      @extend %hover-state;
      margin: 0 10px 0 0;
      color: $dark-warm-grey;
      display: inline-block;
      text-transform: lowercase;

      a:link,
      a:visited {
        color: $dark-warm-grey;
        position: relative;
        z-index: index($z-indexed-elements, search-results-list-block__tags-links);
      }

      a:after {
        content: ',';
      }

      &:last-child a:after {
        content: '';
      }

      &.tag-list--no-comma a:after {
        content: '';
      }

      &-spacer {
        width: 10px;
        height: 10px;
      }
    }

    .charm-logos__column {
      margin-bottom: 8px;
    }

    .list-block__column {
      @extend %vertical-align-center;
    }

    .list-icons {
      list-style: none;
      margin: 0;

      .list-icons__item {
        float: left;
        margin-bottom: 4px;
        margin-right: 6px;

        @media only screen and (min-width : 768px) {
          float: right;
          margin-left: 6px;
        }
      }
    }

    .list-series {
      list-style: none;
      margin: 0;

      .list-series__item {
        text-transform: capitalize;
        float: left;
        margin-bottom: 4px;
        margin-right: 4px;
        color: $dark-warm-grey;

        &:after {
          content: ' \2022';
        }

        &:last-child:after {
          content: '';
        }
      }
    }

    .series__column,
    .owner__column {
      margin-bottom: 0;
      float: left;
      left: -3px;
      top: -6px;

      @media only screen and (max-width : 768px) {
        width: auto;
      }

      @media only screen and (min-width : 768px) {
        top: 9px;
        left: 0;
      }
    }

    .series__column {
      .tag-list .tag-list--item {
        a {
          color: $cool-grey;
          text-transform: capitalize;
        }
      }
    }

    .list-block__type {
      ul {
        margin: 0 20px;
        padding: 0;
        list-style: none;
      }

      li {
        $height: 40px;
        display: inline-block;
        height: $height;
        margin: 0;
        padding: 0 10px;
        line-height: $height;
        cursor: pointer;

        &.selected {
          border-bottom: 3px solid $ubuntu-orange;
        }
      }
    }

    .list-block__filters {
      clear: left;
      overflow: hidden;
    }

    .list-block__filters--selects {
      float: right;
      margin: 0 20px;
      font-size: 16px;

      select {
        $margin: (40px - $base) / 2;
        width: auto;
        margin: $margin 0 $margin 5px;
      }

      .list-block__series,
      .list-block__sort {
        display: inline-block;
      }

      .list-block__sort {
        margin-right: 20px;
      }
    }

    .search-results {
      h4 {
        margin-bottom: 20px;
        margin-left: 20px;
        font-weight: 300;

        .count {
          color: $dark-warm-grey;
        }
      }

      .list-block__list {
        .list-block__list--item-title {
          font-size: 18px;
        }

        .charm-logos__column {
          margin-bottom: 8px;
        }
      }
    }
  }
}
