<div id="bws-editorial">
    {{#if isFullscreen}}
        <div class="content">
            <div class="intro yui3-g">
                <div class="copy yui3-u-1-2">
                    <h1>Experience Juju</h1>
                    <p>
                        With Juju you can begin deploying services and building
                        relations immediately. Just find a charm and add it to
                        your canvas to get your environment started. It's that
                        simple.
                    </p>
                </div>
                <div class="yui3-u-1-2">
                    <img src="/juju-ui/assets/images/non-sprites/intro.png"
                                                alt="Intro" />
                </div>
            </div>
    {{/if}}

    <div class="featured"></div>
    <div class="popular"></div>
    <div class="new"></div>

    {{#if isFullscreen}}
        </div>
    {{/if}}
</div>
