<div id="bws-editorial" {{#if isFullscreen}}class="yui3-g"{{/if}}>
    {{#if isFullscreen}}
        <div class="content yui3-u-5-6">
            <div class="intro yui3-g">
                <div class="copy yui3-u-1-3">
                    <h1>Experience Juju</h1>
                    <p>
                        You can immediately start deploying services and
                        building relations between them without having to
                        install Juju or have an account with a Cloud provider.
                        Simply find the Charm you want and then click "Add" to
                        start experiencing the ease of using Juju.
                    </p>
                    <p>
                        Services are deployed to a canvas, your work space,
                        where you can build relations and scale out as needed.
                    </p>
                    <a href="/" class="canvas-link toggle-fullscreen">
                        Show me my canvas &raquo;
                    </a>
                </div>
                <div class="video yui3-u-3-4">
                    <iframe src="http://www.youtube.com/embed/1yoIdgdqzLk?rel=0" frameborder="0" allowfullscreen></iframe>
                </div>
            </div>
    {{/if}}

    <div class="featured"></div>
    <div class="popular"></div>
    <div class="new"></div>

    {{#if isFullscreen}}
        </div>
        <div class="content-sidebar yui3-u-1-6">
            <h2>Useful links</h2>
            <ul class="vertical-links">
                <li><a href="">Juju community</a></li>
                <li><a href="">Online resources</a></li>
                <li><a href="">Write your own Charm</a></li>
            </ul>
        </div>
    {{/if}}
</div>
