<div id="bws-editorial" {{#if isFullscreen}}class="yui3-g"{{/if}}>
    {{#if isFullscreen}}
        <div class="content yui3-u">
            <div class="intro yui3-g">
                <div class="copy yui3-u-1-2">
                    <h1>Experience Juju</h1>
                    <p>
                        You can immediately start deploying services and
                        building relations between them without having to
                        install Juju or have an account with a Cloud provider.
                        Simply find the Charm you want and then click "Add" to
                        start experiencing the ease of using Juju.
                    </p>
                </div>
                <div class="yui3-u-1-2">
                    <img src="/juju-ui/assets/images/non-sprites/intro.png"
                                                alt="Intro" />
                </div>
            </div>
    {{/if}}

    <div class="featured"></div>
    <div class="popular"></div>
    <div class="new"></div>
    {{> category-icons }}

    {{#if isFullscreen}}
        </div>
    {{/if}}
</div>
