<div class="charmbrowser">
    <a href="" class="bws-icon"></a>
    <div id="bws-fullscreen">
        <div class="bws-header-wrapper">
            <div class="bws-header">
            </div>
        </div>
        <div class="bws-view-data">
        </div>
    </div>
</div>
