<div>
    <div style="float: left; height: 100%; background-color: #333; min-width: 12px"
    <div style="float: left; padding-left: 1em;">
        <a href="" class="bws-icon">
            <img src="/juju-ui/assets/images/browser_icon.jpg" alt="Browser" />
        </a>
    </div>
</div>
