<div id="bws-search">
  <div class="content yui3-g">
    <div class="search-results {{#if isFullscreen}}yui3-u-3-4{{/if}}">
      <div class="reviewed"></div>
      <div class="unreviewed"></div>
    </div>
  </div>
</div>
