<div id="bws-search">
  <div class="content yui3-g">
    <div class="yui3-u-1">
      <h3 class="section-title">Search results</h3>
    </div>
    <div class="search-results {{#if isFullscreen}}yui3-u-3-4{{/if}}">
      <div class="best"></div>
      <div class="remainder"></div>
    </div>
  </div>
</div>
