<div class="charmbrowser">
    <a href="" class="bws-icon">
        <i class="sprite browser_icon"></i>
    </a>
    <div id="bws-sidebar">
        <div class="bws-header">
        </div>
        <div class="bws-content {{#if withHome}}with-home{{/if}}">
        </div>
    </div>
    {{! The bws-view-data class is used by the deploy method in
		test/test_charm_running.py.  If you change this name, change the other
		one too! }}
    <div class="bws-view-data content-panel">
        <div></div>
    </div>
</div>
