<div class="charmbrowser sidebar yui3-g">
    <div id="bws-sidebar" class="yui3-u-1-4">
        <div class="bws-header">
        </div>
        <div class="bws-left">
            <div class="featured"></div>
            <div class="popular"></div>
            <div class="new"></div>
        </div>
    </div>
    <div class="bws-view-data yui3-u-3-4">
    </div>
</div>
