<input type="button" value="toggle" class="sidebar-toggle"/>
<div id="bws-sidebar">

    <div class="bws-search">
    </div>

    <div class="bws-left">Main View</div>

    <div class="bws-details">Details View</div>
</div>
