<input type="button" value="toggle" class="sidebar-toggle"/>
<div id="bws-sidebar">

    <div class="bws-search">
    </div>

    <div class="bws-left">
        <div class="slider"></div>
        <h3>New Charms</h3>
        <div class="new"></div>
    </div>

    <div class="bws-details">Details View</div>

</div>
