<div id="bws-sidebar">

    <div class="bws-search">
        <h3 class="reset">Charm Browser</h3>
        <form>
          <input type="search" name="search_term"
            placeholder="Search for a charm..." />
        </form>
    </div>

    <div class="bws-left">Main View</div>

    <div class="bws-details">Details View</div>
</div>
