<div class="charmbrowser sidebar yui3-g">
    <div id="bws-sidebar" class="yui3-u">
        <div class="bws-header">
        </div>
        <div class="bws-content">
        </div>
    </div>
    <div class="bws-view-data yui3-u">
        <div></div>
    </div>
</div>
