{% extends "_base/base.html" %} {% block title %}404: Page not found | Juju{% endblock %} {%
block header %}
<div class="p-strip">
  <div class="row u-equal-height">
    <div class="col-6">
      <img
        src="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto/https://assets.ubuntu.com/v1/18907710-image-404.svg"
        alt=""
      />
    </div>
    <div class="col-6">
      <h1>404: Page not found</h1>
      <p class="p-heading--five">Sorry, the page you are looking for can not be found.</p>
      <p>
        If you think this is an error on our site, please
        <a href="https://github.com/juju/juju-gui/issues">file a bug</a>.
      </p>
    </div>
  </div>
</div>
{% endblock %}
