var juju_config = {
    "apiAddress": "wss://{{apiAddress}}",
    "baseUrl": "{{baseUrl}}",
    "bundleServiceURL": "{{bundleServiceURL}}",
    "charmstoreAPIPath": "v4",
    "charmstoreURL": "{{charmstoreURL}}",
    "container": "#main",
    "controllerSocketTemplate": "{{controllerSocketTemplate}}",
    "flags": {{flags}},
    "gisf": {{gisf}},
    "interactiveLogin": true,
    "jujuEnvUUID": "{{uuid}}",
    "jujushellURL": "{{jujushellURL}}",
    "paymentURL": "{{paymentURL}}",
    "plansURL": "{{plansURL}}",
    "ratesURL": "{{ratesURL}}",
    "socket_protocol": "wss",
    "socketTemplate": "{{socketTemplate}}",
    "staticURL": "{{staticURL}}",
    "termsURL": "{{termsURL}}",
    "viewContainer": "#main",
};
