.deployment-add-credentials {
    &__p {
        margin-bottom: 20px;
    }

    &__logo {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__signup {
        .svg-icon {
            vertical-align: text-top;
        }
    }

    &__upload {
        @extend %deployment-box;
        padding-top: 40px;
        padding-bottom: 40px;
        border-style: dashed;
        text-align: center;
    }
}
