.deployment-add-credentials {
    &__p {
        margin-bottom: 20px;
    }

    &__logo {
        position: absolute;
        top: 0;
        right: 0;
    }

    &__signup {
        .svg-icon {
            vertical-align: text-top;
        }
    }

    &__upload {
        padding: 20px 40px;
        border: 1px dashed $light-mid-grey;
        border-radius: $border-radius;
        text-align: center;
    }
}
