.deployment-cloud {
  &__list {
    @extend %list-style;
  }

  &__loading {
    text-align: center;
  }

  &__cloud {
    @extend %stagger-fade-in;
    background-color: $white;
    box-shadow: $box-shadow;
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 0;

    &:hover {
      background-color: $light-grey;
    }

    &-logo {
      display: block;
      // Set the line height the the height we want the boxes. This
      // will vertically center the logos inside the boxes.
      line-height: 120px;

      .svg-icon {
        vertical-align: middle;
      }
    }
  }

  &__chosen {
    margin: 20px;
    text-align: center;
  }
}
