.inspector-confirm {
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 0;
    background-color: $white;
    transition: max-height .5s;

    &--open {
        max-height: 200px;
        box-shadow: 0 1px 5px .05px rgba(51, 51, 51, 0.2);
    }

    &__message {
        margin: 20px 10px 10px 10px;
    }
}
