@import '../../assets/css/animations';
@import '../../assets/css/mixins';
@import '../../assets/css/variables';

.machine-view {
  @include customize-scrollbar($canvas-background);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: $canvas-background;
  z-index: index($z-indexed-elements, machine-view);

  &__content {
    @include fade-in(0.1s);
    display: flex;
    position: absolute;
    top: $navbar-height + 10px;
    bottom: $deployer-bar-height;
    left: $left-panel-width + 20px;
    right: 20px;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__auto-place {
    margin-bottom: 20px;

    button {
      margin-bottom: 20px;
    }
  }
}
