#import-export-container {
  float: left;
}

.import-export {
  margin-left: 10px;

  &__export,
  &__import {
    padding: 9px 11px;
    border: 1px solid $light-mid-grey;
    position: relative;
    top: 20px;
    transition: background-color .2s;

    &:hover {
        background-color: $white;
        color: $ubuntu-orange !important;
    }
  }

  &__import {
    border-radius: 0 2px 2px 0;
  }

  &__export {
    @extend %fade-in;
    border-right-width: 0;
  }

  &__file {
      display: block;
      visibility: hidden;
      width: 0;
  }

  &--initial &__export {
    display: none;
  }

  &--initial &__import {
    border-radius: 2px;
  }
}
