// scss-lint:disable IdSelector
#import-export-container {
  @extend .vertical-center;
  float: left;
  margin-left: 10px;
}
// scss-lint:enable IdSelector

.import-export {
  &__export,
  &__import {
    padding: 10px 11px;
    border: 1px solid $light-mid-grey;
    transition: background-color .2s;
    background-color: $canvas-background;

    &:hover {
      background-color: $white;
      // scss-lint:disable ImportantRule
      color: $ubuntu-orange !important;
      // scss-lint:disable ImportantRule
    }
  }

  &__import {
    border-radius: 0 2px 2px 0;
  }

  &__export {
    @extend %fade-in;
    border-right-width: 0;
  }

  &__file {
    position: absolute;
    top: -99999;
    display: block;
    visibility: hidden;
    width: 0;
  }

  &--initial &__export {
    display: none;
  }

  &--initial &__import {
    border-radius: 2px;
  }
}
