.payment-details {
  &-addresses {
    @extend %list-style;

    .inset-select--disabled {
      margin-bottom: 20px;
    }
  }

  &-fields {
    width: 60%;
  }
}

.payment-details-view .payment-details-title-button {
  margin-left: 20px;
  font-size: 1rem;
  float: right;
  top: -.5rem;
  position: relative;
}
