.profile-header {
  margin-bottom: 3rem; // Temporarily compensate for lack of following strip

  .p-strip {
    background-color: $color-x-light !important;
  }

  &__close {
    position: absolute;
    top: 0;
    right: 0;

    &:hover {
      cursor: pointer;
    }
  }
}

.profile-header__avatar .p-tooltip:hover .p-tooltip__message {
  top: 2.75rem;
  left: 40% !important;
  min-width: 0;
}
