.unit-details {
    &__properties {
        padding: 10px 20px;
    }

    &__property {
        @extend %stagger-fade-in;
        margin-top: 0;
        margin-bottom: 0;
        font-size: $font-size-small;
    }

    &__list {
      list-style: none;
      margin: 0;
    }

    a:focus,
    a:active,
    a:hover {
        text-decoration: underline;
    }
}
