.unit-details {
    &__properties {
        padding: 10px 20px;

        p {
            @extend %stagger-fade-in;
            margin: 0 0 10px 0;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
