.deployment-choose-cloud {
    &__services {
        @extend %list-style;
        @extend %deployment-box;
        padding-bottom: 0;

        &-icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }

    &__cloud-option {
        @extend %deployment-box;
        text-align: center;
        cursor: pointer;

        &--credential {
            text-align: left;
        }

        &-title {
            font-size: 20px;
        }

        &-logo {
            float: right;
            width: 60px;
            margin-top: 10px;
        }
    }

    &__list {
        @extend %list-style;
    }

    &__link {
        @extend %link;
        color: $cool-grey;
    }
}
