%border-box {
    padding: 20px;
    border: 1px solid $light-mid-grey;
    border-radius: $border-radius;
}

.deployment-choose-cloud {
    &__services {
        @extend %list-style;
        @extend %border-box;
        padding-bottom: 0;

        &-icon {
            width: 24px;
            height: 24px;
            margin-right: 10px;
            vertical-align: middle;
        }
    }

    &__box {
        @extend %border-box;
    }

    &__notice {
        @extend %border-box;
        border-color: $uncommitted;
        padding-top: 10px;
        padding-bottom: 10px;

        .svg-icon {
            margin-right: 10px;
            vertical-align: text-bottom;
        }
    }

    &__title {
        margin: 20px 0;
        font-size: 20px;

        &-count {
            color: $warm-grey;
        }
    }

    &__cloud-option {
        @extend %border-box;
        text-align: center;
        cursor: pointer;

        &--credential {
            text-align: left;
        }

        &-title {
            font-size: 20px;
        }

        &-logo {
            float: right;
            width: 60px;
            margin-top: 10px;
        }
    }

    &__list {
        @extend %list-style;
    }

    &__link {
        @extend %link;
        color: $cool-grey;
    }
}
