@import '../../../assets/css/variables';

.entity-header {
  $social-icon-size: 36px;
  $icon-size: 96px;

  margin-bottom: 0;
  padding: 60px 0;
  background-color: $white;
  color: $cool-grey;
  overflow: hidden;
  border-bottom: 1px solid $color-mid-light;

  .no-margin-bottom {
    margin-bottom: 0;
  }

  .row-hero {
    overflow: hidden;
    margin-top: 0;
  }

  .inner-wrapper {
    overflow: visible;
  }

  &__properties {
    margin-bottom: 0;
    margin-top: 24px;
    font-size: 18px;
    overflow: hidden;

    & + & {
      margin-top: 10px;
    }

    li {
      &:after {
        color: $dark-warm-grey;
        content: '\2022';
        vertical-align: middle;
        margin: 0 5px;
        text-decoration: none;
      }

      &:last-child:after {
        display: none;
      }
    }
  }

  &__icon {
    float: left;
    border-radius: 50%;
    height: $icon-size;
    width: $icon-size;
    vertical-align: top;
    margin: 0 30px 0 0;
  }

  &__title {
    line-height: 1.3em;
    margin: 15px 0 0 0;
    color: $cool-grey;
    font-size: 2.8125em;
    text-transform: capitalize;
    min-height: $icon-size - 15px;
  }

  &__version {
    color: $dark-warm-grey;
  }

  &__deploys {
    text-transform: capitalize;
  }

  &__subordinate {
    font-weight: 400;

    .svg-icon {
      margin-left: 5px;
      vertical-align: text-bottom;
    }
  }

  &__select {
    margin-bottom: 15px;
  }

  &__social-list {
    margin: 24px 10px 0 0;
    height: $social-icon-size;
    float: left;

    li {
      list-style: none;
      margin: 0 10px 0 0;
      display: inline-block;
    }
  }

  &__actions-list {
    display: none;
    height: 45px;
    margin: 24px 0 0;

    @media only screen and (min-width: 768px) {
      display: inline-block;
    }

    .actions-list__item {
      line-height: 37px;
      display: inline-block;
      float: left;
      list-style: none;
      margin-bottom: 0;
      margin-left: 0;

      &:not(:last-child):after {
        color: #666;
        content: '•';
        vertical-align: middle;
        margin: 0 5px;
      }
    }
  }

  &__series {
    margin-top: 1rem;

    .series-list {
      display: inline-block;
      margin: 0;
    }
  }

  &__right {
    .copy-to-clipboard[type='text'] {
      box-shadow: none;
    }

    @media screen and (max-width: 768px) {
      margin-top: 20px;
    }
  }

  // sass-lint:disable no-ids, id-name-format
  #item-twitter,
  #item-googleplus {
    display: block;
    line-height: normal;
    width: $social-icon-size;
    height: $social-icon-size;
    border-radius: 44px;
  }

  #item-twitter .svg-icon {
    fill: $color-mid-dark;
  }
  #item-googleplus {
    background: $color-mid-dark;
    fill: $white;
  }

  #item-twitter:hover .svg-icon {
    $twitter-color: #55acee;
    fill: $twitter-color;
  }

  #item-googleplus:hover {
    $googleplus-color: #dc4a38;
    background: $googleplus-color;
  }
  // sass-lint:enable no-ids, id-name-format

  @media screen and (max-width: 1050px) {
    padding: 32px 10px;
  }
}

.entity-details.bundle .entity-header__title {
  margin-top: 0;
}
