<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>{% block title %}{% endblock %}</title>

    <meta charset="UTF-8" />
    <meta name="description" content="{% block meta_description %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% endblock %}" />
    <meta name="author" content="Canonical" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!--[if IE]> <meta http-equiv="X-UA-Compatible" content="IE=8" /> <![endif]-->

    <link
      rel="shortcut icon"
      href="{{ versioned_static( 'files/favicon.ico') }}"
      type="image/x-icon"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto/https://assets.ubuntu.com/v1/9864667f-apple-touch-icon-144x144-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto/https://assets.ubuntu.com/v1/f2ddbdc6-apple-touch-icon-114x114-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto/https://assets.ubuntu.com/v1/f193fb82-apple-touch-icon-72x72-precomposed.png"
    />
    <link
      rel="apple-touch-icon"
      href="https://res.cloudinary.com/canonical/image/fetch/q_auto,f_auto/https://assets.ubuntu.com/v1/205d458b-apple-touch-icon-precomposed.png"
    />
    {% block head_extra %}{% endblock %}
  </head>

  <body>
    <!-- Google Tag Manager -->
    <script>
      (function(w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({'gtm.start': new Date().getTime(), event: 'gtm.js'});
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != 'dataLayer' ? '&l=' + l : '';
        j.async = true;
        j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', 'GTM-XXXXX');
    </script>
    <!-- End Google Tag Manager -->

    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-K92JCQ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% block header %}{% endblock %}
    <div id="main-content">
      {% block content_container %} {% block outer_content %} {% endblock outer_content %} {%
      endblock content_container %}
    </div>
    <!-- end main-content -->
    {% include "_base/footer.html" %} {% block footer_extra %}{% endblock %}
  </body>
</html>
