// Processed with SCSS from app/assets/css/base.scss

// Classes for extending.
.vertical-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

// Import normalize.css from node_modules
@import 'normalize.css/normalize';

// Imports legacy cloud vanilla theme from local plugins folder
@import 'plugins/cloud-vanilla-theme/scss/theme';

// Imports need to be after vars.
@import 'generic';
@import 'header';
@import 'loading';
@import 'modal';
@import 'tooltip';
@import 'button';
@import 'overrides/overrides';

// Include required modules from Vanilla
@mixin required-vanilla-modules {
  @include vf-boxes;
  @include vf-equal-heights;
  @include vf-reset;
  @include vf-helpers;
  @include vf-clearfix;
  @include vf-grid;
  @include vf-lists;
  @include vf-rows;
  @include vf-typography;
  @include vf-tables;
}

// Include required modules from cloud vanilla theme
@mixin required-theme-modules {
  @include cloud-base;
  @include cloud-buttons;
  @include cloud-forms;
  @include cloud-instructions;
  @include cloud-rows;
  @include cloud-strips;
  @include cloud-typography;
}

// Juju GUI theme
@mixin juju-gui-vanilla-theme {
  @include required-vanilla-modules;
  @include required-theme-modules;
  @include juju-gui-buttons;
  @include juju-gui-generic;
}

// Build the Juju GUI theme
@include juju-gui-vanilla-theme;

// Canvas
@import 'canvas/canvas';
@import 'canvas/onboarding';
@import 'canvas/plus-service';
@import 'canvas/relation';
@import 'canvas/relation-menu';
@import 'canvas/service';
@import 'canvas/footer';

// Tablet styles
@import 'tablet';

// Mobile styles
@import 'mobile';

a {
  cursor: pointer;

  &.link--cold {
    @extend %cold-link;
  }
}

// Utilities
.u-no-padding--bottom {
  padding-bottom: 0;
}

.u-no-margin--bottom {
  margin-bottom: 0;
}

.u-align--right {
  text-align: right;
}

// Import Vanilla framework v1 under a namespace while all components
// are converted.
@import 'vanilla-framework/scss/vanilla';

// Include Vanilla Framework under .v1 namespace
.v1 {
  // Include base Vanilla styles
  @include vf-base;
  // Include components as they are used
  @include vf-p-buttons;
  @include vf-p-grid;
  @include vf-p-strip;
  @include vf-p-lists;
  @include vf-p-media-object;
  @include vf-p-divider;
  @include vf-p-tooltips;
  // Include utilities as they are used
  @include vf-u-align;
  @include vf-u-padding-collapse;
}
