.machine-view-panel .create-machine-view {
    margin: 10px;
    line-height: 38px;

    &.state-containers {
        .containers {
            display: block;
        }
    }

    &.state-constraints {
        .constraints-form {
            display: block;
        }
    }

    &.state-container-constraints {
        .containers,
        .constraints-form {
            display: block;
        }
    }

    .constraints-form,
    .containers {
        display: none;
    }

    input[type="text"],
    select {
        width: 100%;
    }

    input[type="text"] {
        @extend .border-box;
        margin-bottom: 6px;
        background-color: #fff;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    form label {
        position: relative;
        float: right;
        margin: -36px 10px 0 0;
        color: #c6c1bb;
        line-height: 30px;

        &:last-of-type {
            margin-top: -33px;
        }
    }

    .actions {
        text-align: right;

        span {
            cursor: pointer;
        }

        .primary-action {
            color: $ubuntu-orange;
        }
    }
}

/* This style applies to create-machine-view, serviceunit-token, and scale-up */
.constraints-form fieldset {
    border: none;
    margin: 0;
    padding: 0;
}
