.machine-view-panel {
    @include fadeIn(.1s);
    background-color: $canvas-background;
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 600;

    &__content {
        @extend .display-flex;
        box-sizing: border-box;
        position: absolute;
        top: 10px;
        bottom: $deployer-bar-height;
        left: $left-panel-width + 40px;
        right: 20px;
        padding: 0;
    }

    input[type="text"] {
        // Using a variable here because commas aren't allowed in mixin args.
        $box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
        @include create-box-shadow($box-shadow);
        @include create-border-radius($border-radius);
        margin: 0;
        padding: 7px 10px;
        background:  #eee;
        border: none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
    .column {
        @extend %customize-scrollbar;
        @extend .display-flex;
        @include flex-direction(column);
        flex: 1 1 33.333%;
        border-right: 1px solid $machine-view-border-colour;

        &.unplaced {
            .content {
                border-top: none;
            }
            .units {
                &.state-placed .all-placed,
                &.state-units .unit-list,
                &.state-add .add-services {
                    display: block;
                }
                .unit-list,
                .onboarding {
                    display: none;
                }
                .onboarding {
                    padding: 10px 20px;
                    border-bottom: 1px solid $machine-view-border-colour;
                    line-height: 40px;

                    .svg-icon {
                        display: inline-block;
                        margin-right: 7px;
                        vertical-align: middle;
                    }
                }
                .unit-list {
                    margin: 10px;
                    padding: 10px;
                    background-color: #eee;

                    .auto-place {
                        @include create-border-radius($border-radius);
                        display: inline-block;
                        height: 40px;
                        margin-right: 7px;
                        padding: 0 20px;
                        background-color: #fff;
                        border: 1px solid #dcdcdc;
                        line-height: 40px;
                    }
                }
            }
        }
        &.machines {
            .content {
                // Allow the token borders to overlap the column borders
                // that would otherwise be hidden by overflow: hidden.
                margin-left: -1px;
                margin-right: -1px;
                padding-left: 1px;
                padding-right: 1px;

                .onboarding {
                    padding: 20px;

                    ul {
                        padding-left: 30px;
                        list-style: initial;
                    }
                }
            }
        }
        &.containers {
            .content {
                // Allow the token borders to overlap the column borders
                // that would otherwise be hidden by overflow: hidden.
                margin-left: -1px;
                padding-left: 1px;
            }
        }
        .head {
            flex: 0 0 auto;
            position: relative;
            height: 49px;
            padding: 0 20px;
            line-height: 48px;

            a {
                float: right;
            }
            .title,
            .labels {
                display: inline-block;
                font-size: 16px;
            }
            .label:after {
                content: ', ';
            }
            .label:last-child:after {
                content: '';
            }
            .drop {
                @extend .type4;

                span {
                    margin-top: -13px;
                }
            }
            .more-menu {
                display: block;
                position: absolute;
                top: 0;
                right: 20px;

                .menu {
                    top: 40px;
                    right: -8px;
                }
            }
        }
        .content {
            flex: 1 1 auto;
            overflow-x: hidden;
            overflow-y: auto;
            border-top: 1px solid $machine-view-border-colour;

            ul.items {
                margin: 0;
                list-style: none;
            }
        }
    }
    .droppable {
        .drop {
            display: block;

            * {
                // Set the children to not fire pointer events, specifically to
                // not fire the enter events otherwise the parent will fire an
                // exit event and the highlight will be removed.
                pointer-events: none;
            }
        }
    }
    .drop {
        display: none;
        position: absolute;
        top: -1px;
        bottom: -1px;
        left: -1px;
        right: -1px;
        border: 1px dashed #fff;
        text-align: center;

        span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -13px;
        }
    }
    .token .drop span {
        display: none;
    }
    .drop-hover .token .drop {
        background-color: rgba(250, 250, 250, 0.85);
        border-color: #b2b2b2;

        span {
            display: inline-block;
        }
    }
    .machine-view-panel-header {
        .drop {
            background-color: #fff;
            border-color: #b2b2b2;
        }
        &.drop-hover .drop {
            background-color: #f8f8f8;
        }
    }
}
body.state-sidebar-hidden .machine-view-panel {
    left: 0;
}
