.machine-token {
    .token {
        &.active {
            margin-right: -21px;
            padding-right: 31px;
            border-style: dashed;
            border-right: 1px solid $canvas-background;

            .more-menu {
                right: 31px;
            }
        }

        .details {
            padding-top: 3px;

            &.hidden {
                display: none;
            }
        }

        .service-icons {
            margin-top: 5px;

            .unit {
                display: inline-block;
                margin: 0 5px 0 0;

                &.fade {
                    opacity: 0.2;
                }

                &.hide {
                    display: none;
                }
            }
        }
    }
}
