.machine-view-panel {
    @include fadeIn(.1s);
    background-color: $canvas-background;
    position: absolute;
    top: $navbar-height;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 600;

    &__content {
        @extend .display-flex;
        box-sizing: border-box;
        position: absolute;
        top: 10px;
        bottom: $deployer-bar-height;
        left: $left-panel-width + 40px;
        right: 20px;
        padding: 0;
    }

    .column {
        @extend .display-flex;
        @include flex-direction(column);
        flex: 1 1 33.333%;
        border-right: 1px dotted $mid-grey;
        padding: 0 20px;

        &:first-child {
            padding-left: 0;
        }

        &:last-child {
            padding-right: 0;
            border-right: none;
        }

        &.unplaced {
            .content {
                border-top: none;
            }

            .units {
                &.state-placed .all-placed,
                &.state-units .unit-list,
                &.state-add .add-services {
                    display: block;
                }

                .unit-list,
                .onboarding {
                    display: none;
                }

                .onboarding {
                    padding: 10px;
                    line-height: 40px;

                    .svg-icon {
                        display: inline-block;
                        margin-right: 7px;
                        vertical-align: middle;
                    }
                }

                .unit-list {
                    padding: 20px 10px;

                    .auto-place {
                        margin-right: 7px;
                    }
                }
            }
        }

        &.machines {
            padding-left: 0;
            padding-right: 0;

            .head {
                margin-left: 20px;
                margin-right: 20px;
            }

            .content {
                // Allow the token borders to overlap the column borders
                // that would otherwise be hidden by overflow: hidden.
                margin-left: -1px;
                margin-right: -1px;
                padding-left: 21px;
                padding-right: 21px;

                .onboarding {
                    padding: 20px 10px;

                    ul {
                        padding-left: 30px;
                        list-style: initial;
                    }
                }
            }
        }

        &.containers {
            .content {
                // Allow the token borders to overlap the column borders
                // that would otherwise be hidden by overflow: hidden.
                margin-left: -1px;
                padding-left: 1px;
            }
        }

        .head {
            flex: 0 0 auto;
            position: relative;
            height: 49px;
            padding: 0 10px;
            border-bottom: 1px dotted $mid-grey;
            line-height: 48px;

            a {
                float: right;
            }

            .title,
            .labels {
                display: inline-block;
                font-size: 16px;
            }

            .label:after {
                content: ', ';
            }

            .label:last-child:after {
                content: '';
            }

            .drop {
                span {
                    margin-top: -13px;
                }
            }

            .more-menu {
                display: block;
                position: absolute;
                top: 0;
                right: 20px;

                .menu {
                    top: 40px;
                    right: -8px;
                }
            }
        }

        .content {
            flex: 1 1 auto;
            overflow-x: hidden;
            overflow-y: auto;

            ul.items {
                margin: 0;
                list-style: none;
            }
        }
    }

    .droppable {
        .drop {
            display: block;

            * {
                // Set the children to not fire pointer events, specifically to
                // not fire the enter events otherwise the parent will fire an
                // exit event and the highlight will be removed.
                pointer-events: none;
            }
        }
    }

    .drop {
        display: none;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        color: $ubuntu-orange;
        line-height: 25px;
        text-align: center;


        span {
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
        }
    }

    .token .drop span {
        display: none;
    }

    .drop-hover .token .drop {
        background-color: rgba(250, 250, 250, 0.9);
        border-color: $mid-grey;

        span {
            display: inline-block;
        }
    }

    .machine-view-panel-header {
        .drop {
            background-color: $canvas-background;
            border-width: 1px 1px 0 1px;
            border-style: dotted;
            border-color: $mid-grey;
        }

        &.drop-hover .drop {
            background-color: #fff;
        }
    }
}

body.state-sidebar-hidden .machine-view-panel {
    left: 0;
}
