.service-scale-up-view {
    &.opened {
        .action-block .button.closed {
            display: none;
        }

        .action-block .button.opened,
        .service-list {
            display: block;
        }
    }

    .title {
        font-size: 16px;
    }

    .action-block {
        @extend .border-box;
        height: 50px;
        border-bottom: 1px dotted $mid-grey;
        padding: 20px 10px;
        line-height: 10px;

        &.enabled {
            .button {
                opacity: 1;
            }
        }

        .button {
            @extend %button-orange;
            transition: opacity 0.3s;
            float: right;
            height: 24px;
            width: 24px;
            margin: -10px 0;
            padding: 4px;
            opacity: 0.5;

            &.opened {
                background-color: $mid-grey;
                display: none;
            }
        }
    }

    .service-list {
        display: none;

        ul {
            margin: 0;
        }

        li {
            padding: 10px 20px;
            border-bottom: 1px dotted $mid-grey;
            line-height: 24px;

            .icon {
                display: inline-block;
                width: 20px;
                height: 20px;
                margin-right: 10px;
            }

            .icon,
            .service-name {
                vertical-align: middle;
            }

            .service-units {
                display: inline-block;
                float: right;
                width: 30px;
                margin: 0;
                padding-top: 4px;
                padding-bottom: 4px;
                text-align: right;
            }
        }

        .actions {
            padding: 10px 20px 0 0;
            text-align: right;

            .button.cancel {
                margin-right: 7px;
            }
        }
    }
}
