.unit-list {
    @extend %scroll-children;

    &__units,
    &__actions {
        list-style: none;
        margin: 0;
    }

    &__units {
        @extend %collapse-children;
    }

    &__actions {
        border-bottom: 1px solid $mid-grey;
    }

    &__message {
        padding: 10px 20px;
    }
}
