svg{border:2px solid black;}
svg{stroke-width:0;}
charms.thumbnails.li{height:4em;}
.relation{stroke:#333333;stroke-width:1px;}.relation.pending-relation{stroke-dasharray:2, 2;}
.state-error{stroke:#FF0000;}
.state-started{stroke:#000000;}
.state-pending{stroke:#6597E8;}
g.service{fill:#f5f5f5;stroke:black;}g.service .charm-label{font-size:0.7em;fill:#333333;}
g.service .name{font-weight:bold;font-family:"Ubuntu";font-size:1.6em;fill:#333333;}
g.service .service-border{stroke-width:2px;}g.service .service-border.selectable-service{-moz-box-shadow:5px 5px 5px #888;-webkit-box-shadow:5px 5px 5px #888;box-shadow:5px 5px 5px #888;stroke:#008;stroke-width:3px;}
g.service .unit-count{stroke-width:0;text-anchor:middle;dominant-baseline:central;fill:rgba(0, 0, 0, 0);font-family:"Ubuntu";font-size:2.5em;}g.service .unit-count.show-count{fill:#000000;}
g.service .unit-count.hide-count{fill:rgba(0, 0, 0, 0);}
g.service-status path{stroke-width:0;}g.service-status path.status-pending{fill:#fcd305;}
g.service-status path.status-started{fill:#b7b7b7;}
g.service-status path.status-installed{fill:#ffffff;}
g.service-status path.status-error{fill:#c01c20;}
g.unit{stroke-width:0;font-weight:bold;font-family:"Ubuntu";font-size:1.2em;fill:#1626cf;}g.unit .address{fill:#ffffff;font-size:0.8em;}
g.unit .unit-border{stroke-width:2px;fill:#a0a0a0;}
#overview-tasks{width:800px;margin:0;}#overview-tasks button{color:#2c2c2c;border:1px solid #999;}#overview-tasks button:disabled{background-color:#3d3d3d;color:#888;}
#overview-tasks button.active{border:1px solid #fcd305;}
