svg{border:2px solid black;}
svg{stroke-width:0;}
charms.thumbnails.li{height:4em;}
.relation{stroke:#333333;stroke-width:1px;}
.state-error{stroke:#FF0000;}
.state-started{stroke:#000000;}
.state-pending{stroke:#6597E8;}
g.service .charm-label{font-size:0.7em;fill:#333333;}
g.service .name{font-weight:bold;font-family:"Ubuntu";font-size:1.6em;fill:#333333;}
g.service .service-border{stroke-width:2px;}
g.service .unit-count{stroke:#000000;stroke-width:1px;font-family:"Ubuntu";fill:#333333;font-size:2.5em;}
g.service{fill:#f5f5f5;stroke:black;}
g.unit .address{fill:#ffffff;font-size:0.8em;}
g.unit .unit-border{stroke-width:2px;fill:#a0a0a0;}
g.unit{stroke-width:0;font-weight:bold;font-family:"Ubuntu";font-size:1.2em;fill:#1626cf;}
