@import '../../../../assets/css/animations';
@import '../../../../assets/css/variables';

.inspector-current-version {
  &__item {
    @extend %stagger-fade-in;
    padding: 10px 20px;
    line-height: 1.5;
    cursor: pointer;

    .p-button--neutral {
      display: none;
      float: right;
      margin-top: -3px;
      padding: 5px 10px;
    }

    &:focus,
    &:active,
    &:hover {
      background-color: $hover-background;

      .p-button--neutral {
        display: block;
      }
    }
  }

  &__title {
    color: $cool-grey;
    text-decoration: underline;
  }
}
