.inspector-plan {

    &__details {
      padding: 10px 20px;
    }

    &__title {
      margin-bottom: 15px
    }

    &__price {
      color: $dark-grey;
      font-size: 14px;
      margin-bottom: 15px;
    }

    &__description {
      font-size: 14px;
    }

    &__no-plan {
        margin: 20px 0 10px 20px;
        color: $dark-grey;
    }

}
