.entity-details {
    @extend %fullscreen-panel;

    p {
      line-height: 1.6;
    }

    .inline {
        margin-left: 0;
        overflow: auto;

        li {
            display: inline;
            list-style: none;
            margin-left: 0;
            float: left;
        }
    }
}
