.entity-details {

  .row-hero {
    margin-top: 0;
  }

  .inline {
    margin-left: 0;
    overflow: auto;

    li {
      display: inline;
      list-style: none;
      margin-left: 0;
      float: left;
      margin-bottom: 0;
    }
  }

  .error {
    margin: 40px;
  }

  .spinner-container {
    min-height: 160px;
  }
}
