.deployment-panel {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &__child,
    &__scroll {
        @extend %scroll-children;
        // Expand this container to take the full parent height.
        flex: 2;
    }

    &__header {
        // Need to set a height for the case that the steps are
        // not displayed.
        height: 45px;
        margin: 0 20px;
        padding: 15px 10px 0 0;
        border-bottom: 1px solid $light-mid-grey;
        text-align: center;

        .svg-icon {
            float: left;
            vertical-align: middle;
        }

        &-steps {
            @extend %list-style;
            display: inline-block;
        }

        &-step {
            display: inline-block;
            // margin-bottom: -1px;
            padding: 10px 20px 14px 20px;
            border-bottom: 1px solid $warm-grey;

            &:last-child {
                margin-right: 0;
            }

            &--active {
                padding-bottom: 12px;
                border-bottom: 3px solid $ubuntu-orange;
            }

            &--completed {
                border-bottom-color: $ubuntu-orange;
                color: $warm-grey;
            }
        }
    }

    &__close {
        @extend %link;
        float: right;
        margin-top: -5px;
        color: $text-colour;
    }

    &__title {
        font-size: 1.375em;
        margin-bottom: 20px;
    }
    &__section-title {
        margin: 20px 0;
        font-size: 20px;

        &-count {
            color: $warm-grey;
        }

        &-link {
            margin-left: 20px;
            font-size: 16px;
        }
    }

    &__content {
        @extend %collapse-children;
        padding: 40px 20px 5px 20px;

        &-inner {
            position: relative;
        }
    }

    &__footer {
        padding: 20px;
        border-top: 1px solid $light-mid-grey;
        text-align: right;

        .button-row {
            padding: 0;
        }

        .button--inline-neutral,
        .button--inline-positive {
            width: auto;
            padding-left: 20px;
            padding-right: 20px;
        }

        .button--inline-neutral {
            float: left;
        }

        .button--inline-positive {
            float: right;
        }
    }

    &__box {
        @extend %deployment-box;
    }

    &__notice {
        @extend %deployment-box;
        border-color: $uncommitted;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 46px;

        .svg-icon {
            margin-left: -26px;
            margin-right: 10px;
            vertical-align: text-bottom;
        }
    }

    &__label {
        // Needs to be relative to appear above the input.
        position: relative;
        margin: 4px 0 -25px 10px;
        font-size: 12px;
    }

    &__input[type=text] {
        width: calc(100% - 20px);
        height: 20px;
        margin-bottom: 20px;
        padding: 25px 10px 7px 10px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.07) inset;
    }

    &__link {
        @extend %link;
        color: $cool-grey;
    }
}
