.inspector-config {
  @extend %scroll-children;

  &__fields {
    @extend %collapse-children;
    border-bottom: 1px solid $mid-grey;
  }

  &__select {
    margin: 10px 0 14px;
    text-transform: capitalize;
  }

  &__series-select {
    margin: 10px 20px 14px;
    width: 250px;

    option {
      text-transform: capitalize;
    }

    &-description {
      color: $cool-grey;
      font-size: .875em;
    }
  }

  &--no-config {
    margin: 10px 20px 14px;
  }

  &__config-file {
    margin: 0 10px;
  }
}
