.juju-shell {
  width: 100%;
  background-color: #111;

  &__header {
    background-color: $dark-warm-grey;
    color: $light-grey;
    text-align: center;
    line-height: 30px;
    height: 30px;
  }

  &__terminal {
    height: 150px;
    width: 100%;
  }

  // xterm.scss overrides.
  .terminal {
    background-color: #111;
    color: $light-grey;

    .xterm-viewport::-webkit-scrollbar-track  {
      background-color: #111;
    }

    .xterm-rows,
    .xterm-selection {
      font-family: "ubuntu mono";
      top: 10px;
      left: 10px;
    }
  }
}
