.juju-shell {
  position: absolute;
  height: 125px;
  width: 100%;
  bottom: 0;
  width: 100%;

  .terminal {
    background-color: #111;
    color: #fafafa;
    padding: 2px;
    height: 100%;

    .xterm-rows {
      padding: 2px;
    }
  }
}
