@import '../../assets/css/variables';

.series-list {
  &__item {
    display: inline-block;
    border: 1px solid $color-mid-dark;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    color: $color-mid-dark;
    padding: 0.1rem 0.5rem;
    margin-right: 0.25rem;
    text-transform: capitalize;

    &--kubernetes {
      border-color: $color-kubernetes;
      color: $color-kubernetes;
    }

    &:first-of-type {
      margin-left: 0.5rem;
    }
  }
}
