.copy-to-clipboard {
  margin-bottom: 15px;
  position: relative;
  $icon-size: 16px;
  $button-size: 37px;

  [type="text"].copy-to-clipboard__input {
    box-sizing: border-box;
    background-image: $svg-code-snippet;
    background-repeat: no-repeat;
    background-position: 10px center;
    background-color: $white;
    background-size: $icon-size;
    width: 100%;
    border: 1px solid $mid-grey;
    border-radius: 2px;
    padding: 9.5px $button-size 9.5px 34px;
    color: $cool-grey;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    cursor: text;
  }

  &__btn {
    cursor: pointer;
    position: absolute;
    right: 1px;
    top: 1px;
    border: 0;
    height: $button-size;
    width: $button-size;
    padding: ($button-size - $icon-size) / 2;
    background-color: transparent;
    border-left: 1px solid $color-mid-light;

    &:focus,
    &:active,
    &:hover {
      background-color: transparentize($light-mid-grey, .25);
    }
  }
}
