.status-table {
  &__row {
    &--pending,
    &--error {
      border-left-width: 3px;
      border-left-style: solid;

      .status-table__column:first-child {
        padding-left: 5px;
      }
    }

    &--pending {
      border-color: $pending;
    }

    &--error {
      border-color: $error;
    }
  }
}
