.status-table {
  @extend %stagger-fade-in;

  &__header {
    margin-bottom: 0;
    border-bottom: 0;
  }

  &__row {
    margin-bottom: 10px;
    padding: 15px;
    border: 1px solid $light-mid-grey;
    border-radius: 4px;
    transition: border .3s;

    &--pending {
      border-color: $pending;
    }

    &--error {
      border-color: $error;
    }
  }

  &__column {
    margin-bottom: 0;
  }
}
