Added Services ({{count}})
<span class="action-indicator">
  {{#if closed}}
      <i class="sprite added-services-open"></i>
  {{else}}
      <i class="sprite added-services-close"></i>
  {{/if}}
</span>
