Added Services ({{count}})
<span class="action-indicator">
  {{#if closed}}
      <i class="sprite added-services-open normal"></i>
      <i class="sprite added-services-open-hover hover"></i>
  {{else}}
      <i class="sprite added-services-close normal"></i>
      <i class="sprite added-services-close-hover hover"></i>
  {{/if}}
</span>
