<div class="search-container">
    <a href="" class="bws-icon"></a>
    <a href="" class="bws-title">Charm Browser</a>
    <div class="bws-searchbox">
        <form>
            <img src="/juju-ui/assets/images/browser_searchbox_search_icon.png"
                alt="Search" class="search" />
            <a href="" class="delete">
                <img src="/juju-ui/assets/images/browser_searchbox_delete_icon.png"
                    alt="Delete" /></a>
            {{! The bws-search name is used by the deploy method in
                test/test_charm_running.py.  If you change this name, change
                the other one too! }}
            <input type="search" name="bws-search"
                value="{{ filters.text }}"
                placeholder="Search charms"/>
        </form>
    </div>
    <div class="toggle-fullscreen-container">
        <a href="" class="toggle-fullscreen"></a>
    </div>
</div>
