<div class="search-container">
    <a href="" class="bws-icon">
        <img src="/juju-ui/assets/images/browser_icon.jpg" alt="Browser" />
    </a>
    <a href="" class="bws-title">Charm Browser</a>
    <div class="bws-searchbox">
        <form>
            <input type="search" name="bws-search"
                value="{{ text }}"
                placeholder="Search&hellip;"/>
        </form>
    </div>
    <div class="toggle-fullscreen-container">
        <a href="" class="toggle-fullscreen"></a>
    </div>
</div>
