<div class="search-container">
    <div class="bws-icon">Icon</div>
    <div class=""><a href="">Charm Browser</a></div>
    <div class="align-right">
        <form>
            <input type="search" name="bws_search"
                value="{{ term }}"
                placeholder="Search for a charm..."/>
        </form>
    </div>
    <div class="toggle-fullscreen align-right"> X </div>
</div>
