{{! The token class is used by the deploy method in
    test/test_charm_running.py.  If you change this name, change the other
    one too! }}
<a href="/{{storeId}}" class="token {{size}}" data-charmid="{{storeId}}">
  This is a bundle token.  Deal.
</a>
