<div>
  <h3>{{ name }} ({{ total }})</h3>  
  {{#if hasExtra}}
  <div class="expand">
    <span class="more">
      &darr;
    </span>
    <span class="less hidden">
      &uarr;
    </span>
  </div>
  {{/if}}
  <div class="charms">
  </div>
</div>
