<div>
  <h3>{{ name }}</h3>  
  {{#hasExtra}}
  <div class="expand">
    <span class="more">
    See {{ this.extra }} more {{pluralize 'result' this.extra}}
    </span>
    <span class="less hidden">
    See fewer results
    </span>
  </div>
  {{/hasExtra}}
  <div class="charms">
  </div>
</div>
