<div class="charm-search-div">
    <div class="charms-search-field-div input-append">
        <input class="charms-search-field" size="16" type="text"><button
            class="btn clear" type="button">x</button>
    </div>
    <div class="search-result-div"></div>
</div>