<div>
  <img url="{{ iconfile }}" />
  <h3 class="title">{{ title }}</h3>
  <p class="description">{{ description }}</p>
  <div class="rating">{{ rating }}</div>
  <button class="hidden">Add</button>
</div>
