{{#charms}}
<div class="series-charms">
  <h6>{{series}}</h6>
  <ul class="unstyled">
    {{#charms}}
    <li class="charm-entry">
      <div>
        <a class="charm-detail" href="{{id}}">
          {{#if owner}}{{owner}}/{{/if}}{{package_name}}</a>
      </div>
    </li>
    {{/charms}}
  </ul>
</div>
{{/charms}}
