<div class="charm-small">
  <img url="{{ iconfile }}" class="charm-icon"/>
  <span class="charm-title">{{ title }}</span>
  <span class="charm-description">{{ description }}</span>
  <span class="charm-rating">{{ rating }}</span>
  <button class="hidden">Add</button>
</div>
