<div id="charm-description">
  <div class="charm-nav-back"><i class="icon-arrow-left icon-white"></i> Back</div>
  <div id="charm-configuration">
    <ul class="unstyled">
      {{#with charm}}
      <li class="charm-entry">
        <div class="control-group">
          <div class="control-label" for="service-name">Service name:</div>
          <div class="controls">
            <input class="config-field" type="text" name="service-name"
                id="service-name" value="{{package_name}}"/>
          </div>
        </div>
      </li>
      <li class="charm-entry">
        <div class="control-group">
          <div class="control-label" for="number-units">Number of units:</div>
          <div class="controls">
            <input class="config-field" type="text" name="number-units"
                id="number-units" value="1"/>
          </div>
        </div>
      </li>
      {{/with}}
    </ul>
    <!-- Service configuration form -->
    <form id="service-config" class="form-horizontal">
        {{> service-config}}
    </form>
    <input id="charm-deploy" value="Deploy" type="submit"
        class="btn btn-inverse"></input>
  </div>
</div>
