<div class="charm-small">
  <img url="{{iconfile}}" class="charm-icon"/>
  <span class="charm-name">{{charm_name}}</span>
  <span class="charm-description">{{description}}</span>
  <span class="charm-rating">{{rating}}</span>
</div>
