<div id="juju-search-charm-panel" class="popover fade bottom in" style="top: 50px; left: 50px; display: block; ">
    <div class="arrow"></div>
    <div class="search-charm-inner">
        <h3 class="popover-title">{{title}}</h3>
        <img class="charm-list-selector" src="/assets/images/chevron_down.png">
        <div class="popover-content">

        </div>
    </div>
</div>