<div>
  <div class="charm-panel-configure">
    {{#with charm}}
    <div class="image">{{package_name}}</div>
    <div class="title">{{package_name}}</div>
    <div class="name">{{id}}</div>
    {{/with}}
  </div>
  <div class="charm-panel-configure-buttons">
    <button class="btn cancel">Cancel</button>
    <input id="charm-deploy" value="Confirm" type="submit"
           class="btn btn-primary deploy">
  </div>

  <div class="charm-panel config-variant">

      {{#with charm}}
      <div class="charm-entry">
        <div class="control-group">
          <div class="well control-description">
            Name of the service to be deployed.  Must be unique.
          </div>
          <div class="control-label" for="service-name">Service name</div>
          <div class="controls">
            <input class="config-field" type="text" name="service-name"
                id="service-name" value="{{package_name}}"/>
          </div>
        </div>
      </div>
      <div class="charm-entry">
        <div class="control-group">
          <div class="well control-description">
            Number of units to deploy for this service.
          </div>
          <div class="control-label" for="number-units">Number of units</div>
          <div class="controls">
            <input class="config-field" type="text" name="number-units"
                id="number-units" value="1"/>
          </div>
        </div>
      </div>
      {{/with}}

      {{#if settings}}
      <!-- Service configuration form -->
      <div class="charm-section">
        <h4>Service Settings<i class="sprite chevron_up"></i></h4>
        <div class="collapsible">
          <div class="config-file-upload control-group">
            <input class="config-file-upload-widget" type="file">
            <div>
              <span class="config-file-upload-overlay">Use configuration file</span>
              <span class="config-file-name"></span>
            </div>
          </div>
          <form class="charm-settings">
            <div id="service-config">
              {{> service-config}}
            </div>
          </form>
        </div>
      </div>
      {{/if}}

  </div>
</div>
