<div class="token">
  <div class="top">
    <span class="title">
      {{ displayName }}
      <span class="token-uncommitted">&deg;</span>
    </span>
    <ul class="service-icons"></ul>
  </div>
  {{#if displayDelete}}
    <span class="delete">
      <i class="sprite mv-token-destroy"></i>
    </span>
  {{/if}}
  <div class="drop">
    <span>Add to container {{ displayName }}</span>
  </div>
</div>
