<div class="token">
  <div class="top">
    <span class="title">{{ displayName }}</span>
    <ul class="service-icons"></ul>
  </div>
  <span class="delete">
    <i class="sprite mv-token-destroy"></i>
  </span>
  <div class="drop">
    <span>Add to container {{ displayName }}</span>
  </div>
</div>
