<div class="token">
  <span class="title">{{ displayName }}</span>
  <span class="delete">
    <i class="sprite token-delete"></i>
  </span>
  <span class="service-icons">
    {{#units}}
    <img src="{{icon}}" alt="{{service}}"/> {{displayName}}
    {{/units}}
  </span>
</div>
