<div class="token">
  {{#if displayDelete}}
    {{>more-menu}}
  {{/if}}
  <span class="title">
    {{ displayName }}
    <span class="removed">
      will be destroyed once you have committed your changes
    </span>
    <span class="token-uncommitted">&deg;</span>
  </span>
  <ul class="service-icons"></ul>
  <div class="drop">
    <span>Add to container {{ displayName }}</span>
  </div>
</div>
