{{#units}}
  <li class="unit {{#unless agent_state }}uncommitted{{/unless}}">
    <img src="{{icon}}" alt="{{service}}"/>
    <span class="name">
      {{displayName}}
      <span class="removed">
        will be destroyed once you have committed your changes
      </span>
      <span class="unit-uncommitted">&deg;</span>
    </span>
  </li>
{{/units}}
