<div class="right">
    <span class="import-export">
        <a href="">Import</a>
        <a href="">Export</a>
    </span>
    <a href="" class="button">Deploy</a>
</div>
<ul>
    <li>
        <a href="" class="link">
            23 changes
            <span class="expand">
                <i class="sprite expand_icon more"></i>
                <i class="sprite contract_icon less"></i>
            </span>
        </a>
    </li>
    <li class="change">
        <i class="sprite relation-added"></i>
        Relation added, mysql-wordpress,
        <time>10:50am</time>
    </li>
</ul>
