<div id="{{canvasHelpId}}">
  <h1>Add your charm here</h1>
  <i class="sprite empty_canvas"></i>
  <p>
  Click on a charm on the left to view its details. Select the Add
  button to add it to this canvas.
  </p>
</div>
