<div id="{{canvasHelpId}}">
  <p>
  Your Juju environment is currently empty. Use the charm browser to 
  deploy new charms to your environment. This will allow you to browse
  popular charms or search directly for your requirements.
  </p>
  <p>
  Enjoy!
  </p>
</div>
