<ul>
    <li class="tab">
        <a href="" data-view="serviceView">Service view</a>
    </li>
    <li class="tab">
        <a href="" data-view="machineView">Machine view</a>
    </li>
    <li class="search">
        <form>
            <input type="search" />
            <input type="submit" value="" />
        </form>
    </li>
    <li class="small">
        <a href="">
            <i class="sprite environment_share"></i>
        </a>
    </li>
    <li class="tiny">
        <a href="">
            <i class="sprite environment_bubble"></i>
            10
        </a>
    </li>
</ul>
