<ul>
    <li class="tab services">
        <a href="" data-view="serviceView">Services</a>
    </li>
    <li class="tab machines">
        <a href="" data-view="machineView">Machines</a>
    </li>
    <li class="spacer"></li>
</ul>
