<form>
  <div>
    <span>Charm type</span>
    {{filter_to_form types}}
  </div>
  <div>
    <span>Charm categories</span>
    {{filter_to_form categories}}
  </div>
  <div>
    <span>Ubuntu series</span>
    {{filter_to_form series}}
  </div>
  <div>
    <span>Providers</span>
    {{filter_to_form providers}}
  </div>
</form>
