<form>
  <ul id="search-filter-type">
    Charm type
    {{filter_to_form types "Charm type"}}
  </ul>
  <ul id="search-filter-category">
    Charm categories
    {{filter_to_form categories}}
  </ul>
  <ul id="search-filter-series">
    Ubuntu series
    {{filter_to_form series}}
  </ul>
  <ul id="search-filter-provider">
    Providers
    {{filter_to_form providers}}
  </ul>
</form>
