<div class="viewlet-manager-wrapper ghost">
  <div class="header-slot"></div>
  <div class="viewlet-manager-navigation"></div>
  <div class="viewlet-container"></div>
  <div class="viewlet-manager-footer">
    <div class="yui3-g controls">
      <div class="yui3-u-1-2">
        <button class="cancel">Save</button>
      </div>
      <div class="yui3-u-1-2">
        <button class="confirm">Next</button>
      </div>
    </div>
    {{>service-destroy}}
  </div>
</div>
