<div class="view-container">
  {{#unless subordinate}}
  <h2 class="join-bottom">
      <i class="sprite inspector_status"></i>
      Service details
  </h2>
  <div class="view-content join-top">
    <input class="config-field" type="text" name="number-units" value="1"/>
    <label for="number-units" class="text-in-input">Minimum units</label>
  </div>
  {{/unless}}

  {{#if constraints}}
  <!-- Service Constraints added in -->
  <h2 class="join-bottom">
    <i class="sprite inspector_constraints"></i>
    Constraints
  </h2>
  <div class="view-content join-top service-constraints">
    {{> service-constraints-viewlet}}
  </div>
  {{/if}}

  {{#if networks}}
  <!-- Networks added in -->
  <h2 class="join-bottom">
    <i class="sprite inspector_networks"></i>
    Networks
  </h2>
  <div class="view-content join-top service-networks">
    {{> service-networks-viewlet}}
  </div>
  {{/if}}

  {{#if settings}}
  <!-- Service configuration form -->
  <h2 class="join-bottom">
    <i class="sprite inspector_configuration"></i>
    Configuration
  </h2>
  <div class="view-content join-top service-configuration">
    <div class="config-file settings-wrapper">
      <input type="file" id="config-file">
      <div class="fakebutton">Import config file...</div>
    </div>
    <div class="toggle single-line settings-wrapper">
      <label>Use default configuration?</label>
      <div class="toggle-switch">
        <input type="checkbox" class="hidden-checkbox" id="use-default-toggle" checked>
        <label for="use-default-toggle">
          <div class="handle"></div>
        </label>
      </div>
      <div class="textvalue"></div>
      <!-- Clear the floating slider/texvalue. -->
      <div class="clearall"></div>
    </div>
    <form class="charm-settings use-defaults">
      <div class="service-config">
        {{> service-configuration}}
      </div>
    </form>
  </div>
  {{/if}}

</div>
