<div class="viewlet-manager-wrapper ghost">
  <div class="header-slot"></div>
  <div class="viewlet-manager-navigation"></div>
  <div class="viewlet-container"></div>
  <div class="viewlet-manager-footer">
    <div class="charm-panel-configure-buttons">
      <button class="btn cancel">Cancel</button>
      <input value="Confirm" type="submit"
             class="btn btn-primary deploy">
    </div>
  </div>
</div>
