<div class="viewlet-manager-wrapper">
  <div class="header-slot"></div>
  <div class="view-manager-navigation" style="clear: both;">
    <div class="charm-panel-configure-buttons">
      <button class="btn cancel">Cancel</button>
      <input value="Confirm" type="submit"
             class="btn btn-primary deploy">
    </div>
    <div class="charm-entry">
      <div class="control-group">
        <div class="well control-description">
          Number of units to deploy for this service.
        </div>
        <div class="control-label" for="number-units">Number of units</div>
        <div class="controls">
          <input class="config-field" type="text" name="number-units"
               value="1"/>
        </div>
      </div>
    </div>
  </div>
  <div class="left-breakout"></div>
  <div class="viewlet-container"></div>
  <div class="viewlet-manager-footer"></div>
</div>
