<div>
  {{#unless is_subordinate}}
  <div class="ghost-config-wrapper">
    <div class="ghost-config-header">Service details</div>
    <div class="ghost-config-content">
      <input class="config-field" type="text" name="number-units" value="1"/>
      <label for="number-units">Minimum units</label>
    </div>
  </div>
  {{/unless}}
  {{#if settings}}
  <!-- Service configuration form -->
  <div class="ghost-config-wrapper service-configuration">
    <div class="ghost-config-header">Configuration</div>
    <div class="ghost-config-content use-defaults">
      <div class="toggle">
        <span>Use the default configuration?</span>
        <div class="toggle-switch">
          <input type="checkbox" class="hidden-checkbox" id="use-default-toggle" checked>
          <label for="use-default-toggle">
            <div class="handle"></div>
          </label>
        </div>
      </div>
      <div class="config-file">
        <input type="file" disabled>
        <div class="fakebutton">Import config file...</div>
      </div>

      <form class="charm-settings">
        <div class="service-config">
          {{> service-configuration}}
        </div>
      </form>
    </div>
  </div>
  {{/if}}
</div>
