<div class="view-container-wrapper" draggable="true">
  <!-- XXX Remove these ugly inline styles when doing the real layout-->
  <div class="close" style="float: right; border: 1px solid black; padding: 3px;">X</div>
  <div class="view-container-navigation" style="clear: both;">
    <div class="charm-panel-configure">
      <div class="title">{{packageName}}</div>
      <div class="name">{{id}}</div>
    </div>
    <div class="charm-panel-configure-buttons">
      <button class="btn cancel">Cancel</button>
      <input value="Confirm" type="submit"
             class="btn btn-primary deploy">
    </div>
    <div class="charm-entry">
      <div class="control-group">
        <div class="well control-description">
          Name of the service to be deployed.  Must be unique.
        </div>
        <div class="control-label" for="service-name">Service name</div>
        <div class="controls">
          <input class="config-field" type="text" name="service-name"
              value="{{packageName}}"/>
        </div>
      </div>
    </div>
    <div class="charm-entry">
      <div class="control-group">
        <div class="well control-description">
          Number of units to deploy for this service.
        </div>
        <div class="control-label" for="number-units">Number of units</div>
        <div class="controls">
          <input class="config-field" type="text" name="number-units"
               value="1"/>
        </div>
      </div>
    </div>
  </div>
  <div class="viewlet-container"></div>
  <div class="view-container-footer"></div>
</div>
