<a href="" class="menu-link">
  Help & Feedback
  <span class="expand">
    <i class="sprite chevron_down more"></i>
    <i class="sprite chevron_up less"></i>
  </span>
</a>
<span class="dropdown right narrow">
  <ul>
    <li>
      <a href="" id="start-onboarding">Tutorial</a>
    </li>
    <li>
      <a href="http://juju.ubuntu.com/"
         target="_blank">Visit: juju.ubuntu.com</a>
    </li>
    <li>
      <a href="http://juju.ubuntu.com/docs"
         target="_blank">Read the documentation</a>
    </li>
    <li>
      <a href="https://www.surveymonkey.com/s/jujugui"
       target="_blank">Take the survey</a>
    </li>
    <li id="landscape-url" class="hidden">
      <a href="">Landscape</a>
    </li>
  </ul>
</span>
