<header>
  <div class="service-charm">
    <div class="charm-icon" data-bind="icon"></div>
    <div>
      <span data-bind="displayName" class="service-name">{{displayName}}</span><br />
      <span data-bind="charm" class="charm-url" data-charmid="{{charm}}">{{charm}}</span><br />
      <span class="charm-url" data-charmid="{{charm}}">Charm details</span></a>
    </div>
    <div href="" class="close">&#x2A2F;</div>
  </div>
</header>
