<div id="login-mask">
  <i class="sprite juju_logo" title="Juju GUI"></i>
  <div id="login-form">
    <div id="login-header">{{environment_name}} on {{provider}}</div>
    <form>
      <input type="text" disabled="disabled" value="admin"></input>
      <input type="password" value="" placeholder="Enter password"></input>
      <input type="submit" value="Login"></input>
    </form>
  </div>
  <div>{{help_text}}</div>
</div>
