<div class="centered-column in-main">
  <i class="sprite juju_logo" title="Juju GUI"></i>
  <div id="login-form" class="panel">
    <div class="header">
      {{environment_name}}
    </div>
    <div class="form-error">{{error_text}}</div>
    <form>
      <input type="text" disabled="disabled" value="{{user}}" />
      <input type="password" value="" placeholder="Enter password" />
      <input type="submit" value="Login" />
    </form>
  </div>
  <div>{{help_text}}</div>
  <div><a href="https://juju.ubuntu.com/" target="_blank">juju.ubuntu.com</a></div>
</div>
