<div class="column unplaced">
  <div class="head"></div>
  <div class="content">
    <ul class="items"></ul>
    <div class="scale-up"></div>
  </div>
</div>
<div class="column machines">
  <div class="head"></div>
  <div class="content">
    <ul class="items"></ul>
  </div>
</div>
<div class="column containers">
  <div class="head"></div>
  <div class="content">
    <ul class="items"></ul>
  </div>
</div>
