<div class="column unplaced">
  <div class="head"></div>
  <div class="content">
    <div class="scale-up"></div>
    <div class="units">
      <div class="onboarding add-services">
          <i class="sprite add-services-onboarding"></i>
          Add services to get started
      </div>
      <div class="onboarding all-placed">
          <i class="sprite mv-all-placed"></i>
          You have placed all of your units
      </div>
      <div class="unit-list">
        <span class="auto-place link" role="button" tabindex="0">
          Auto place
        </span>
        or manually place
        <ul class="items"></ul>
      </div>
    </div>
  </div>
</div>
<div class="column machines">
  <div class="head"></div>
  <div class="content">
    <div class="create-machine"></div>
    <ul class="items"></ul>
    <div class="onboarding hidden">
      Use machine view to:
      <ul>
        <li>Create machines</li>
        <li>Create containers</li>
        <li>Customise placement</li>
        <li>Scale up your environment</li>
        <li>Manually place new units</li>
        <li>Collocate services</li>
      </ul>
      <span class="add-machine link" role="button" tabindex="0">
        Add machine
      </span>
    </div>
  </div>
</div>
<div class="column containers">
  <div class="head"></div>
  <div class="content">
    <div class="create-container"></div>
    <ul class="items"></ul>
  </div>
</div>
