<div class="column unplaced">
  <div class="head"></div>
</div>
<div class="column machines">
  <div class="head"></div>
  <div class="content">
    <ul></ul>
  </div>
</div>
<div class="column containers">
  <div class="head"></div>
  <div class="content">
    <ul></ul>
  </div>
</div>
