<div class="column unplaced">
  <div class="head"></div>
  <div class="content">
    <div class="scale-up"></div>
    <div class="all-placed">
        <i class="sprite mv-all-placed"></i>
        You have placed all of your units
    </div>
    <ul class="items"></ul>
  </div>
</div>
<div class="column machines">
  <div class="head"></div>
  <div class="content">
    <ul class="items"></ul>
  </div>
</div>
<div class="column containers">
  <div class="head"></div>
  <div class="content">
    <ul class="items"></ul>
  </div>
</div>
