
<div id="onboarding-background" class="state-0">
    <div id="onboarding-header-screen-mask">
        <i class="sprite juju_logo_trans" title="Juju GUI"></i>
    </div>
	<div id="onboarding-screen-mask"></div>
	<div id="onboarding-message">
	  <button class="onboarding-cross sprite close-inspector-normal" href="" ></button>
	  <div class="panel panel-0">
	    <h3 class="header type3">Welcome to Juju</h3>
	    <p class="text type11">Use Juju to quickly create, configure and deploy your application architectures to public clouds like EC2,  Azure and HP, any OpenStack cloud and even your own Ubuntu based laptop with Charms.</p>
	  </div>
	  <div class="panel panel-1">
	    <h3 class="header type3">Build your environment</h3>
	    <p class="text type11">Charms define applications as services. Write your own or use any of the hundreds of high-quality existing Charms. Just drag them from the Charm browser onto your canvas to start building your environments.</p>
	  </div>
	  <div class="panel panel-2">
	    <h3 class="header type3">Connect your services</h3>
	    <p class="text type11">Charms know about how services integrate with each other. After you configure and deploy your services, easily build intelligent relationships by dragging and dropping connections between the services you want.</p>
	  	<img src="/juju-ui/assets/images/non-sprites/onboarding/2-service-blocks.png" class="service-blocks" />
	  </div>
	  <div class="panel panel-3">
	    <h3 class="header type3">Monitor and manage your cloud</h3>
	    <p class="text type11">The Juju inspector gives you the ability to scale out, triage errors and update your services simply and easily.</p>
	  	<img src="/juju-ui/assets/images/non-sprites/onboarding/3-service-block.png" class="service-block" />
	  	<img src="/juju-ui/assets/images/non-sprites/onboarding/3-inspector.png" class="inspector" />
	  </div>
	  <ul>
		<li><a href="" class="onboarding-close">Get started</a></li>
		<li><a href="" class="onboarding-start highlight">Tour</a></li>
		<li><a href="" class="onboarding-next highlight">Next</a></li>
		<li><a href="" class="onboarding-prev">Prev</a></li>
	  </ul>
	</div>
</div>