
<div id="onboarding-background" class="state-0">
	<div id="onboarding-screen-mask"></div>
	<div id="onboarding-message">
	  <a class="onboarding-cross sprite close-inspector-normal" href="" ></a>
	  <div class="panel panel-0">
	    <h3 class="header type3">Welcome to Juju</h3>
	    <p class="text type11">Juju enables you to configure, manage, maintain, deploy and scale efficiently with best-practice Charms on any cloud or your own Ubuntu laptop.</p>
	  </div>
	  <div class="panel panel-1">
	    <h3 class="header type3">Build your enviroment</h3>
	    <p class="text type11">The charm browser has hundreds of charms allowing you to build complex services which can be visualised in Juju.</p>
	    <p class=" text type11">Drag them from the charm browser onto your canvas to start building your environments.</p>
	  </div>
	  <div class="panel panel-2">
	    <h3 class="header type3">Connect services</h3>
	    <p class="text type11">Configure and deploy your services and connect them with intelligent relationship lines to build your enviroment.</p>
	  	<img src="/juju-ui/assets/images/non-sprites/onboarding/2-service-blocks.png" class="service-blocks" />
	  </div>
	  <div class="panel panel-3">
	    <h3 class="header type3">Monitor and manage</h3>
	    <p class="text type11">The Juju GUI inspector offers comprehensive tools that give you ability to scale out, triage errors and update you services.</p>
	  	<img src="/juju-ui/assets/images/non-sprites/onboarding/3-service-block.png" class="service-block" />
	  	<img src="/juju-ui/assets/images/non-sprites/onboarding/3-inspector.png" class="inspector" />
	  </div>
	  <ul>
		<li><a href="" class="onboarding-close">Get started</a></li>
		<li><a href="" class="onboarding-start highlight">Quick tour of Juju</a></li>
		<li><a href="" class="onboarding-prev">Prev</a></li>
		<li><a href="" class="onboarding-next highlight">Next</a></li>
	  </ul>
	</div>
</div>