<div class="topology">
    <div class="topology-canvas crosshatch-background">
        <div class="environment-menu" id="service-menu">
            <div class="triangle">&nbsp;</div>
            <ul>
                <li class="view-service">View</li>
                <li class="add-relation">Build Relation</li>
                <li class="add-remove-units">Units</li>
                <li class="destroy-service">Destroy</li>
            </ul>
        </div>
        <div class="environment-menu" id="ambiguous-relation-menu">
            <div class="triangle">&nbsp;</div>
            <div class="menu-title">Select relation type:</div>
            <ul/>
        </div>
    </div>
    <div id="overview-tasks" class="bottom-navbar">
        <div class="controls yui3-skin-sam">
            <img src="/juju-ui/assets/images/cmd_icon.png" />
            Command line
            <img class="divider" src="/juju-ui/assets/images/bottom_bar_small_div.png" />
            <img src="/juju-ui/assets/images/view_icon.png"></i>
            <div class="picker graph-list-picker">
                <i class="picker-edge sprite picker_left_edge"></i>
                <div class="picker-expanded">
                    <i class="picker-edge sprite view_left_edge"></i>
                    <div class="picker-list">
                        <ul>
                            <li class="active">Graph view<div class="activetick"></div></li>
                            <li>List view</li>
                        </ul>
                    </div>
                    <i class="picker-edge picker-edge-right sprite view_right_edge"></i>
                </div>
                <div class="picker-body">
                    Graph view
                </div>
                <i class="picker-button sprite picker_view_right_button"></i>
            </div>
            <img class="divider" src="/juju-ui/assets/images/bottom_bar_small_div.png" />
            <img id="zoom-out-btn" src="/juju-ui/assets/images/zoom_minus.png" />
            <span id="slider-parent"></span>
            <img id="zoom-in-btn" src="/juju-ui/assets/images/zoom_plus.png" />
            <img class="divider" src="/juju-ui/assets/images/bottom_bar_big_div.png" />
        </div>
        <div class="destroy-control">
            <img class="divider" src="/juju-ui/assets/images/bottom_bar_big_div.png" />
            <img src="/juju-ui/assets/images/destroy_icon.png" />
            Destroy
        </div>
    </div>
    <div id="rmrelation-modal-panel"></div>
    <div id="rmsubrelation-modal-panel"></div>
</div>
