<div class="topology">
    <div class="crosshatch-background topology-canvas">
        <div class="environment-menu" id="service-menu">
            <div class="triangle">&nbsp;</div>
            <ul>
                <li class="view-service">View</li>
                <li class="add-relation">Build Relation</li>
                <li class="destroy-service">Destroy</li>
            </ul>
        </div>
        <div class="environment-menu" id="ambiguous-relation-menu">
            <div class="triangle">&nbsp;</div>
            <div class="menu-title">Select relation type:</div>
            <ul/>
        </div>
    </div>
    <div id="overview-tasks" class="bottom-navbar">
        <div class="controls yui3-skin-sam">
            <img id="zoom-out-btn" src="/juju-ui/assets/images/zoom_minus.png" />
            <span id="slider-parent"></span>
            <img id="zoom-in-btn" src="/juju-ui/assets/images/zoom_plus.png" />
            <img class="divider" src="/juju-ui/assets/images/bottom_bar_big_div.png" />
        </div>
        {{> landscape-controls }}
    </div>
    <div id="rmrelation-modal-panel"></div>
    <div id="rmsubrelation-modal-panel"></div>
</div>
