<div class="topology">
    <div class="crosshatch-background topology-canvas">
        <div id="environment-help" style="display: none;">
            <div class="vertical-center-floater"></div>
            <div class="content">
                <h1>Add your first charm here!</h1>
                <i class="sprite empty_canvas"></i>
                <p>
                Click on a charm on the left to view its details. Select the
                Add button to add it to this canvas.
                </p>
            </div>
        </div>
        <div class="environment-menu" id="service-menu">
            <div class="triangle">&nbsp;</div>
            <ul>
                <li class="view-service">View</li>
                <li class="add-relation">Build Relation</li>
                <li class="destroy-service">Destroy</li>
                <li class="landscape-reboot"><a href="">Machine Restart Needed</a></li>
                <li class="landscape-security"><a href="">Security Updates Available</a></li>
            </ul>
        </div>
        <div class="environment-menu" id="ambiguous-relation-menu">
            <div class="triangle">&nbsp;</div>
            <div class="menu-title">Select relation type:</div>
            <ul/>
        </div>
    </div>
    <div id="overview-tasks" class="bottom-navbar">
        <div class="controls yui3-skin-sam">
            <img id="zoom-out-btn" src="/juju-ui/assets/images/zoom_minus.png" />
            <span id="slider-parent"></span>
            <img id="zoom-in-btn" src="/juju-ui/assets/images/zoom_plus.png" />
            <img class="divider" src="/juju-ui/assets/images/bottom_bar_big_div.png" />
        </div>
        {{> landscape-controls }}
    </div>
    <div id="rmrelation-modal-panel"></div>
    <div id="rmsubrelation-modal-panel"></div>
</div>
