<div id="canvas"></div>
<div id="overview-tasks">
    Environment:
    <button id="add-relation-btn">Add Relation</button>
    Zoom:
    <button id="zoom-out-btn">-</button>
    <button id="zoom-in-btn">+</button>
</div>
