<div class="view-container">
<h2>Deploy: {{name}} ({{size}}b)</h2>
  <div class="view-content">
    <div class="settings-wrapper">
      <label for="defaultSeries">
        Please enter the Ubuntu series you would like this charm deployed to.
      </label>
      <input type="text" defaultSeries id="defaultSeries"
          value="{{defaultSeries}}" />
  </div>
</div>
<div class="controls">
  <button class="cancel">Cancel</button>
  <button class="confirm">Upload</button>
</div>
