<span>Please enter the Ubuntu series you would like this charm deployed to.</span>
<span>File: {{name}}</span>
<span>Size: {{size}}b</span>
<input type="text" defaultSeries value="{{defaultSeries}}" />
<button upload>Upload</button><button cancel>Cancel</button>
