<div class="view-container">
<h2>Deploy Local Charm</h2>
<h3 class="line-too-long">File: {{name}}</h3>
<h3>Size: {{size}}b</h3>
  <div class="view-content">
    <div class="settings-wrapper">
      <label for="defaultSeries">
        Please enter the Ubuntu series you would like this charm deployed to.
      </label>
      <select id="defaultSeries">
        {{#each allSeries}}
          <option value="{{this}}"{{#if_eq this ../defaultSeries}} selected="selected"{{/if_eq}}>{{this}}</option>
        {{/each}}
      </select>
  </div>
</div>
<div class="controls">
  <button class="cancel">Cancel</button>
  <button class="confirm">Upload</button>
</div>
