<div class="viewlet-manager-wrapper">
  <div class="header-slot"></div>
  <ul class="viewlet-manager-navigation">
    <li>
        <a href="" class="tab active" data-viewlet="overview">
            <i class="sprite inspector_status normal"></i>
            <i class="sprite inspector_status_selected selected"></i>
        </a>
    </li>
    <!-- Settings control -->
    <li>
        <a href="" class="tab" data-viewlet="config">
            <i class="sprite inspector_configuration normal"></i>
            <i class="sprite inspector_configuration_selected selected"></i>
        </a>
    </li>
    <!-- Constraints control -->
    <li>
        <a href="" class="tab" data-viewlet="constraints">
            <i class="sprite inspector_constraints normal"></i>
            <i class="sprite inspector_constraints_selected selected"></i>
        </a>
    </li>
    <!-- Relations control -->
    <li>
        <a href="" class="tab" data-viewlet="relations">
            <i class="sprite inspector_constraints normal"></i>
            <i class="sprite inspector_constraints_selected selected"></i>
        </a>
    </li>
  </ul>
  <div class="viewlet-container"></div>
  <div class="viewlet-manager-footer"></div>
</div>
