<div class="settings-constraints">
  <div class="view-container">
    <h2>Constraints for new units</h2>
    <div class="view-content">
      {{> service-constraints-viewlet}}
    </div>
  </div>
  <div class="controls configuration-buttons closed">
    <button class="cancel">Cancel</button>
    <button type="button" class="save-constraints confirm">Confirm</button>
  </div>
</div>
