{{> service-header}}
<div class="view-container">
<div class="collection">
  <div class="charm">
    {{{show_units units}}}
  </div>
</div>
<div id="destroy-modal-panel"></div>
</div>
<div class="juju-service-info-container-bottom-menu">
  <div class="destroy-control">
    <a id="destroy-service" data-toggle="modal" href="#destroy-service-modal">
      <img src="/juju-ui/assets/images/destroy_icon.png">Destroy
    </a>
    <img class="divider" src="/juju-ui/assets/images/bottom_bar_big_div.png">
  </div>
  <div class="inline">
    <div class="juju-service-info-container-bottom-menu-wrapper-service">
      <span class="state-filter-label"><strong>Filter</strong>&nbsp;</span>
      {{#states}}
      <a class="state-btn btn {{#if active}}btn-primary{{/if}}" 
        data-toggle="modal" href="{{link}}">
        <span class="state-title">{{title}}</span> ({{count}})</a>
      {{/states}}
    </div>
  </div>
</div> 
