<div class="unplaced-unit">
  <span class="unit-icon">
    <img src="{{icon}}" alt="{{displayName}}">
  </span>
  <span class="title">
    {{ displayName }}
  </span>
  <span class="token-move">
    <i class="sprite mv-placement-arrow"></i>
  </span>
  <div class="machines">
    <select>
      <option value="" selected disabled class="hidden default">
        Move to&hellip;
      </option>
      <option value="new" class="default">New machine</option>
    </select>
  </div>
  {{>container-type-form}}
  {{>constraints-form}}
  <div class="actions">
    <span class="cancel secondary-action">Cancel</span> |
    <span class="create move primary-action">Move</span>
  </div>
</div>
