<div class="content">
  <div class="service-charm">
  <div class="charm-icon" data-bind="icon">
  </div>
  <span data-bind="displayName" class="service-name"></span><br />
  <span data-bind="charm" class="charmURL" data-charmid="{{charm}}"></span>
  </div>
  <div class="notifications"></div>
  <svg class="statusbar" data-bind="aggregated_status"></svg>
</div>
<h3>Scale units</h3>
<div class="content">
  <input type="text" class="num-units-control" data-bind="unit_count" />
</div>
<h3>Units</h3>
<ul class="overview-unit-list" data-bind="units">
</ul>
