{{> service-header}}
<div class="view-container">
<div class="collection">
  <div class="charm">
    {{{show_units units}}}
  </div>
</div>
<div id="destroy-modal-panel"></div>
</div>
<div class="juju-service-info-container-bottom-menu">
	<div>
	  <div class="inline">
	   <a class="btn" id="destroy-service" data-toggle="modal" 
	      href="#destroy-service-modal">Destroy Service</a>
	  </div>
    <div class="inline juju-service-info-container-separator" 
         style="height: 48px;"></div>
	  <div class="inline">
		  <div class="juju-service-info-container-bottom-menu-wrapper">
	      <span class="state-filter-label"><strong>Filter</strong>&nbsp;</span>
	      {{#states}}
	      <a class="state-btn btn {{#if active}}btn-primary{{/if}}" 
	        data-toggle="modal" href="{{link}}">
	        <span class="state-title">{{title}}</span> ({{count}})</a>
	      {{/states}}
		  </div>
	  </div>
	</div>
</div>  