{{> service-header}}
<div class="view-container">
  <form id="service-config" class="form-horizontal">
    <legend>{{service.id}} settings</legend>
    {{> service-config}}
    <div class="control-group">
      <div class="controls">
        <button type="button" id="save-service-config">Update</button>
        {{#if serviceIsJujuGUI}}
          <span class="warning-message">
            Warning: Changing the settings on this page may adversely affect
            your ability to use the Juju GUI.
          </span>
        {{/if}}
      </div>
    </div>
  </form>
</div>
{{> service-footer}}
