<div class="view-container">
  <div class="destroy-service-icon"></div>
  <div class="after-destroy-service-icon"></div>
  <div class="destroy-service-prompt closed">
    <div class="message">
    Are you sure you want to destroy the service? This cannot be undone.
    </div>
    <div class="buttons">
      <button class="cancel-destroy">Cancel</button>
      <button class="initiate-destroy">Destroy</button>
    </div>
  </div>
  <h2>Expose</h2>
  <div class="control-expose control">
    <div class="inline">
      <span>Expose this service?</span>
    </div>
    <div class="toggle-expose" data-bind="exposed">
      <img src="/juju-ui/assets/images/slider_on.png" />
      <span>Yes</span>
    </div>
  </div>

  <h2>Service Settings</h2>
  <div class="config-file">
    <input type="file">
    <div class="fakebutton">Import config file...</div>
  </div>
  <div class="toggle-settings-help">Hide settings help</div>
  {{> service-configuration}}
</div>
