{{> service-header}}
<div class="row-fluid">
  <div class="span12">
  <form id="service-config" class="form-horizontal">
    <legend>{{service.id}} settings</legend>
      {{> service-config}}
      <div class="control-group">
        <div class="controls">
          <button type="button" id="save-service-config">Update</button>
        </div>
      </div>
    </form>
</div>
