<div class="view-container">
  <h2>Constraints for New Units</h2>
  <div class="view-content">
    {{> service-constraints-viewlet}}
  </div>
  <div class="controls">
    <button type="button" class="save-constraints confirm">Confirm</button>
  </div>
</div>

