<div class="content">
  <div class="notifications"></div>
  <!-- without setting the height of the svg element here it defaults
   to 100% of the available space causing an undesirable flash of
   incorrectly calculated height -->
  <svg class="statusbar" data-bind="aggregated_status" height="18"></svg>
</div>
<h3>Scale units</h3>
<div class="content">
  <input type="text" class="num-units-control" data-bind="unit_count" />
</div>
<h3>Units</h3>
<ul class="overview-unit-list" data-bind="units">
</ul>
{{>service-destroy}}
