<div class="settings-networks">
  <div class="view-container">
    <h2>Networks for new units</h2>
    <div class="view-content">
      {{> service-networks-viewlet}}
    </div>
  </div>
  <div class="controls configuration-buttons closed">
    <button class="cancel">Cancel</button>
    <button type="button" class="save-networks confirm">Confirm</button>
  </div>
</div>
