<div class="view-container">
  <legend>{{service.displayName}} constraints</legend>
  {{> service-constraints-viewlet}}
  <div class="controls">
    <button type="button" class="save-constraints confirm">Save changes</button>
  </div>
</div>

