{{> service-header}}
<div class="view-container">
  <div>
    <form class="form-horizontal">
      <legend>{{service.id}} constraints</legend>

      {{#readOnly}}
        <div class="control-group">
          <div class="control-label" for="{{name}}">{{name}}</div>
          <div class="controls">
            <div class="read-only">{{value}}</div>
          </div>
        </div>
      {{/readOnly}}

      {{> service-constraints}}

        <div class="control-group">
          <div class="controls">
            <button type="button" cls="btn" 
              id="save-service-constraints">Update</button>
          </div>
        </div>

      </form>
  </div>
</div>
<div class="juju-service-info-container-bottom-menu">
  <div class="juju-service-info-container-bottom-menu-wrapper">
    <div class="inline" style="width: 200px">
     <a class="btn" id="destroy-service" data-toggle="modal" 
       href="#destroy-service-modal">Destroy Service</a>
    </div>
  </div>
</div>  

