<div class="content">
  <div class="service-charm">
  <div class="charm-icon">
  </div>
  <span data-bind="displayName" class="service-name"></span><br />
  <span data-bind="charm"></span>
  </div>
  <div class="notifications"></div>
  <div class="status running">
    &nbsp;<span data-bind="aggregated_status.running"></span>&nbsp;
  </div><div class="status pending">
    &nbsp;<span data-bind="aggregated_status.pending"></span>&nbsp;
  </div><div class="status error">
    &nbsp;<span data-bind="aggregated_status.error"></span>&nbsp;
  </div>
</div>
<h3>Scale units</h3>
<div class="content">
</div>
<h3>Units</h3>
<div class="content">
</div>
