<div class="view-container settings-constraints">
  <legend>Constraints for New Units</legend>
  {{> service-constraints-viewlet}}
	<div class="yui3-g controls configuration-buttons closed">
	  <div class="yui3-u-1-2">
	    <button class="cancel">Cancel</button>
	  </div>
	  <div class="yui3-u-1-2">
	    <button type="button" class="save-constraints confirm">Confirm</button>
	  </div>
	</div>
</div>
