<div class="settings-config">
  <div class="view-container">
    <h2>Service settings</h2>
    <div class="config-file view-content">
      <input type="file">
      <div class="fakebutton">Import config file...</div>
    </div>
    {{> service-configuration}}
  </div>
  {{#unless ghost}}
    <div class="controls configuration-buttons closed">
      <button class="cancel">Cancel</button>
      <button class="confirm">Save Changes</button>
    </div>
  {{/unless}}
</div>
