<div class="action-block">
  <span>Choose a service and add units</span>
    <button class="closed button inverse orange">
      <i class="sprite scale-up-open"></i>
    </button>
    <button class="opened button inverse orange">
      <i class="sprite scale-up-close"></i>
    </button>
</div>
<form class="service-list">
  <ul></ul>
  <div class="actions">
    <button class="cancel button inverse">Cancel</button>
    <button class="add-units button inverse orange">Add Units</button>
  </div>
</form>
