{{> service-header}}
<div class="view-container">
<div class="collection">
  <div class="charm">
    {{{show_units units landscape}}}
  </div>
</div>
<div id="destroy-modal-panel"></div>
</div>
<div class="service-view bottom-navbar">
  <div class="juju-service-info-container-bottom-menu">
    <div class="filter-control">
        <div class="inline filter-label"><span>Filter</span></div>
        <div class="state-buttons">
          {{#states}}
            <div class="inline {{#if active}}active{{/if}}">
              <a href="{{link}}">
                <span class="state-title {{#if active}}active{{/if}}">{{title}}
                </span>
              </a>
            </div>
          {{/states}}
        </div>
        <div class="inline control-separator">
          <img class="divider"
                src="/juju-ui/assets/images/bottom_bar_big_div.png" />
        </div>
    </div>
  {{> service-footer-common-controls}}
  {{> landscape-controls }}
</div>
</div>

