<div class="view-container">
  <legend>{{service.displayName}} Constraints</legend>
  {{> service-constraints-viewlet}}
  <div class="controls">
    <button type="button" class="save-constraints confirm">Confirm</button>
  </div>
</div>

