<div>
  <h2 data-bind="displayName"></h2>

  <input type="text" data-bind="charm"/>
  <div data-bind="unit_count"></div>
  <div>
    <span data-bind="running"> /
    <span data-bind="error"> /
  </div>
</div>
