<div class="action-block">
  <span>Choose a service and add units</span>
  {{#if closed}}
    <button class="closed">+</button>
  {{else}}
    <button class="opened">x</button>
  {{/if}}
</div>
<form class="service-list">
  <ul>
  {{#each services}}
    <li>
      <img class="icon"/>
      <span class="service-name"></span>
      <input type="text" placeholder="units" class="service-units"/>
    </li>
  {{/each}}
  </ul>
  <button class="cancel">Cancel</button>
  <button class="add-units">Add Units</button>
</form>
