<div class="view-container settings-config">
  <h2>Service Settings</h2>
  <div class="config-file">
    <input type="file">
    <div class="fakebutton">Import config file...</div>
  </div>
  <div class="toggle-settings-help">Hide settings help</div>
  {{> service-configuration}}
</div>
