<div>
  <h2 data-bind="displayName"></h2>

  <div data-bind="charm"></div>
  <div data-bind="unit_count"></div>
  <div> 
    <span data-bind="running"> /
    <span data-bind="error"> /
  </div>
</div>
