<ul>
  <li>
    <a href="http://twitter.com/home?status={{ twitter_text }}" title="Twitter this">
      <i class="sprite twitter-normal"></i>
    </a>
  </li>
  <li>
    <a href="https://plus.google.com/share?url={{ link }}" title="G+ this">
      <i class="sprite google-normal"></i>
    </a>
  </li>
  <li>
    <a href="mailto:?subject={{ email_subject }}&body={{ email_text }}" title="Email this">
      <i class="sprite email-normal"></i>
    </a>
  </li>
</ul>
