<ul>
  <li>
    <a href="http://twitter.com/home?status={{ share_text }}" title="Twitter this">
      <i class="sprite twitter-normal"></i>
    </a>
  </li>
  <li>
  <a href="https://plus.google.com/share?url={{ share_url }}" title="G+ this">
      <i class="sprite google-normal"></i>
    </a>
  </li>
  <li>
    <a href="mailto:?subject=Check%20out%20this%20charm%20on%20jujucharms?body={{ share_text }}" title="Email this">
      <i class="sprite email-normal"></i>
    </a>
  </li>
</ul>
