<ul>
  <li>
    <a href="" title="Facebook this">
      <img src="/juju-ui/assets/images/facebook-normal.png"/>
    </a>
  </li>
    <a href="" title="Twitter this">
      <img src="/juju-ui/assets/images/twitter-normal.png"/>
    </a>
  <li>
    <a href="" title="G+ this">
      <img src="/juju-ui/assets/images/google-normal.png"/>
    </a>
  </li>
  <li>
    <a href="" title="Email this">
      <img src="/juju-ui/assets/images/email-normal.png"/>
    </a>
  </li>
</ul>
