<ul>
  <li id="sharing-first">
    <a href="" title="Facebook this">
      <i class="sprite facebook-normal"></i>
    </a>
  </li>
  <li>
    <a href="" title="Twitter this">
      <i class="sprite twitter-normal"></i>
    </a>
  </li>
  <li>
    <a href="" title="G+ this">
      <i class="sprite google-normal"></i>
    </a>
  </li>
  <li>
    <a href="" title="Email this">
      <i class="sprite email-normal"></i>
    </a>
  </li>
</ul>
