<ul>
  <li>
    <a href="http://twitter.com/home?status={{ share_text }}" title="Twitter this">
      <i class="sprite twitter-normal"></i>
    </a>
  </li>
  <li>
    <a href="" title="G+ this">
      <i class="sprite google-normal"></i>
    </a>
  </li>
  <li>
    <a href="" title="Email this">
      <i class="sprite email-normal"></i>
    </a>
  </li>
</ul>
