<h2>Keyboard Shortcuts</h2>

<table>
  <thead>
    <tr>
      <th>Binding</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
  {{#bindings}}
  <tr>
    <td class="binding">{{label}}</td>
    <td>{{help}}</td>
    </tr>
  {{/bindings}}
  </tbody>

</table>
