<ul id="unit-small" class="thumbnails">
  {{#units}}
  <li>
    <div class="well unit" id="{{id}}">
      <span class="agent-state">{{agent_state}}</span>
      <h5>{{number}}</h5>
    </div>
  </li>
  {{/units}}
</ul>
