<div>
  <div class="header-placement">
    <div class="stickable">
      <h3 class="section-title">
        {{#if hasExtra}}
          <a href="" class="expandToggle">
        {{/if}}
        {{ name }} ({{ total }})
        {{#if hasExtra}}
            <span class="expand">
              <i class="sprite chevron_down_16 more"></i>
              <i class="sprite chevron_up_16 less hidden"></i>
            </span>
          </a>
        {{/if}}
      </h3>
    </div>
  </div>
  <div class="charms yui3-g">
  </div>
</div>
