<div>
  <h3 class="section-title">
    {{#if hasExtra}}
      <a href="" class="expandToggle">
    {{/if}}
      {{ name }} ({{ total }})
    {{#if hasExtra}}
        <span class="expand">
          <span class="more">
            <img src="/juju-ui/assets/images/expand_icon.png" alt="Expand" />
          </span>
          <span class="less hidden">
            <img src="/juju-ui/assets/images/contract_icon.png"
              alt="Contract" />
          </span>
        </span>
      </a>
    {{/if}}
  </h3>
  <div class="charms yui3-g">
  </div>
</div>
