<div>
  <h3 class="section-title">
    {{#if hasExtra}}
      <a href="" class="expandToggle">
    {{/if}}
    {{ name }} ({{ total }})
    {{#if hasExtra}}
        <span class="expand">
          <i class="sprite expand_icon more"></i>
          <i class="sprite contract_icon less hidden"></i>
        </span>
      </a>
    {{/if}}
  </h3>
  <div class="charms yui3-g">
  </div>
</div>
