<div class="unit-overview">
    <h2><span class="">&bull;</span> {{ displayName }}</h2>
    <div class="unit-stats">
        IP Address: {{ private_address }}<br />
        Status: {{ agent_state }}<br />
        Public Address: {{ public_address }}
    </div>
</div>
