{{#if resolve}}<button class="unit-action-button resolve" data-type="resolve">Resolve</button>{{/if}}
{{#if retry}}<button class="unit-action-button retry" data-type="retry">Retry</button>{{/if}}
{{#if remove}}<button class="unit-action-button remove" data-type="remove">Remove</button>{{/if}}
{{#if landscape}}<a href="" class="landscape" target="_blank">Open Landscape</a>{{/if}}
