{{#if resolve}}<button class="unit-action-button resolve">Resolve</button>{{/if}}
{{#if retry}}<button class="unit-action-button retry">Retry</button>{{/if}}
{{#if replace}}<button class="unit-action-button replace">Replace</button>{{/if}}
{{#if landscape}}<button class="unit-action-button landscape">Landscape</button>{{/if}}
