{{#if resolve}}<button class="unit-action-button resolve" data-type="resolve">Resolve</button>{{/if}}
{{#if retry}}<button class="unit-action-button retry" data-type="retry">Retry</button>{{/if}}
{{#if replace}}<button class="unit-action-button replace" data-type="replace">Replace</button>{{/if}}
{{#if landscape}}<a href="" class="landscape" target="_blank">Open Landscape</a>{{/if}}
