<a href="" class="menu-link">
  <i class="sprite user-dark normal"></i>
  <i class="sprite user-light hover"></i>
  Sign in
</a>
<span class="dropdown narrow">
  <ul>
    <li>
      <a href="" class="my-account">My account</a>
    </li>
    <li>
      <a href="" class="sign-out">Sign out</a>
    </li>
  </ul>
</span>
