<span role="button" tabindex="0" class="menu-link link">
  <i class="sprite user-dark normal"></i>
  <i class="sprite user-light hover"></i>
  Admin
</span>
<span class="dropdown narrow">
  <ul>
    <li>
      <a href="" class="sign-out logout-trigger">Sign out</a>
    </li>
  </ul>
</span>
