<div class="unit-list-header">
  <div class="close link">
    <i class="sprite close-inspector-click"></i>
  </div>
  Change {{ name }} version
</div>
<ul class="unit-list">
  {{#each upgrades}}
  <li>
    <a href="{{link}}">{{id}}</a>
    <a class="upgrade-link right-link" data-upgradeto="{{id}}">Upgrade</a>
  </li>
  {{/each}}
</ul>
