<div class="viewlet-manager-wrapper">
  <div class="header-slot"></div>
  <!-- XXX Remove these ugly inline styles when doing the real layout-->
  <div class="viewlet-manager-navigation">
    <!-- XXX There curently isn't UX for returning to the overview from settings -->
    <div class="tab" data-viewlet="overview"
      style="display: inline-block; margin: 0 10px; cursor: pointer;">&larr;</div>
    <!-- Settings control -->
    <div class="tab" data-viewlet="config"
      style="display: inline-block; margin: 0 10px; cursor: pointer;">S</div>
    <!-- Constraints control -->
    <div class="tab" data-viewlet="constraints"
      style="display: inline-block; margin: 0 10px; cursor: pointer;">C</div>
    <!-- Expose control -->
    <div
      style="display: inline-block; margin: 0 10px; cursor: pointer;">E</div>
    <!-- Destroy control -->
    <div
      style="display: inline-block; margin: 0 10px; cursor: pointer;">D</div>
  </div>
  <div class="left-breakout"></div>
  <div class="viewlet-container"></div>
  <div class="viewlet-manager-footer"></div>
</div>
