<div class="view-container-wrapper" draggable="true">
  <!-- XXX Remove these ugly inline styles when doing the real layout-->
  <div class="close" style="float: right; border: 1px solid black; padding: 3px;">X</div>
  <div class="view-container-navigation" style="clear: both;">
    <div class="tab" data-viewlet="overview"
      style="display: inline-block; margin: 0 10px; cursor: pointer;">Overview</div>
    <div class="tab" data-viewlet="units"
      style="display: inline-block; margin: 0 10px; cursor: pointer;">Units</div>
    <div class="tab" data-viewlet="config"
      style="display: inline-block; margin: 0 10px; cursor: pointer;">Config</div>
  </div>
  <div class="viewlet-container"></div>
  <div class="view-container-footer"></div>
</div>
