<div class="view-container-wrapper" draggable="true">
  <div class="view-container-navigation" style="clear: both;">
    <div class="tab" data-viewlet="overview"
      style="float: left; margin: 0 10px; cursor: pointer;">Overview</div>
    <div class="tab" data-viewlet="units"
      style="float: left; margin: 0 10px; cursor: pointer;">Units</div>
  </div>
  <div class="viewlet-container"></div>
  <div class="view-container-footer"></div>
</div>
