.entity-content_readme {
    padding: 20px 0;
    line-height: 1.5;

    &-content {
        li {
            list-style-position: inside;
        }

        h1,
        h2,
        h3,
        h4 {
            margin: 20px 0;
        }
    }
}
