.overview-action {
    @extend %stagger-fade-in;
    cursor: pointer;
    padding: 11px 20px 11px 45px;

    &:hover {
        background-color: $light-grey;
    }

    &__icon {
        width: 16px;
        height: 16px;
        position: absolute;
        left: 20px;
    }

    &__link:not(.hidden) {
        display: block;
        margin-top: 3px;
    }

    &__value {
        @include notification(transparent);
        float: right;
        color: $text-colour;

        &--type-error,
        &--type-pending,
        &--type-uncommitted {
            margin-top: -3px;
        }

        &--type-error {
            @include notification($error);
        }

        &--type-pending {
            @include notification($pending);
        }

        &--type-uncommitted {
            @include notification($uncommitted);
        }
    }
}

.unit-list .overview-action {
  padding-left: 20px;
}
