.env-size-display {
  box-sizing: border-box;
  position: absolute;
  z-index: index($z-indexed-elements, env-size-display);
  top: $navbar-height + $panel-space;
  left: $panel-space * 2;
  width: $left-panel-width;
  color: $cool-grey;

  &__list {
    @extend %floating-panel;
    margin: 0;
    list-style: none;
    display: flex;
    margin-bottom: 10px;
    overflow: hidden;
  }

  &__list-item {
    height: $environment-header-height;
    line-height: $environment-header-height;
    text-align: center;
    flex: 1;
    border-right: 1px solid $light-mid-grey;
    margin-bottom: 0;
    background-color: $white;

    &:last-of-type {
      border-left: 0;
    }

    &:hover {
      background-color: $canvas-background;
    }

    &.is-active &__link &__icon {
      color: $ubuntu-orange;
    }
  }

  &__link {
    text-decoration: none;
    display: block;

    &:hover {
      text-decoration: none;
    }
  }

  &__icon {
    position: relative;
    top: 2px;
    margin-right: 6px;
  }
}
