.inset-select {
  $padding: 8px;
  background-color: $white;
  border: 1px solid $light-mid-grey;
  border-radius: $border-radius;
  width: calc(100% - 20px);
  position: relative;

  &__label {
    padding: $padding;
    color: $dark-warm-grey;
    font-size: .688em;
    position: absolute;
  }

  &__field {
    padding: 25px 30px $padding $padding;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    line-height: 25px;
  }

  &--disabled {
    background-color: $light-grey;

    .inset-select__field {
      background-image: none;
      background-color: $light-grey;
    }
  }
}
